{% extends "registration/registration_base.html" %}
{% block title %}Prijava{% endblock %}
{% block content %}

{% if form.errors %}
<p>Nevaljano korisničko ime ili zaporka. Molimo probajte ponovno.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<table>
<tr>
    <td>Korisničko ime:</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>Lozinka:</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<p><a href="{% url auth_password_reset %}">Zaboravili</a> ste lozinku?  <a href="{% url registration_register %}">Nemate korisnički račun</a>?</p>

<button type="submit" class="btn btn-primary">Prijava</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
