{% extends "base.html" %}

{% block title %}{% trans "About" %} - Školjka{% endblock %}

{% block header_list %}
<style>
  h4 { margin-top: 40px; }
  p { margin: 5px 0px 0px 8px; }
</style>
{% endblock %}

{% block content %}


<h2>Školjka</h2>
{% trans "Online archive of tasks from mathematical competitions" %}


<h4>Ideja</h4>
<p>Ivica Kičić - {% email_link 'ivicakicic@gmail.com' '<i class="icon-envelope"></i>' %}</p>


<h4>{% trans "Developers" %}</h4>
<p>Ivica Kičić<br>
Ivan Kokan</p>


<h4>{% trans "Maintained by" %}</h4>
<p>Udruga Mladi nadareni matematičari "Marin Getaldić" - <a href="http://mnm.hr/">MNM</a></p>

<h4>{% trans "Sources" %}</h4>
<p><a href="/static/images/image_sources.txt">{% List of icons %}</a></p>

<h4>{% trans "Contact" %}</h4>
<p>{% email_link 'skoljka@skoljka.org' %}</p>

{% endblock %}
