{% load compressed %}
{% load tags_tags %}

<!DOCTYPE html>

<html>
  <head>
    <script>is_authenticated={{ user.is_authenticated|lower }};</script>
    {% compressed_css 'style' %}
    {% compressed_js 'scripts' %}

    {# TODO: move to /favicon.ico. More a server configuration problem, but still... #}
    <link href="/static/images/favicon.ico" rel="shortcut icon">

    {% block header_list %} {% endblock %} {# manually put more head stuff here #}
    <title>{% block title %}Školjka - Web arhiva zadataka iz matematike{% endblock %}</title>

    <meta name="content-language" content="hr">
    <meta name="description" content="Web arhiva zadataka iz matematike. Sadrži zadatke s prijašnjih državnih, županijskih, općinskih natjecanja te Međunarodnih i Srednjoeuropskih olimpijada. Školjka može poslužiti svakom učeniku koji se želi pripremati za natjecanja iz matematike.">
  </head>
<body>

<div id="header" class="row">
  <h1 id="sitename">
    <a href="/">
      <img src="/static/images/shell32.png" alt=""> Školjka
    </a>
  </h1>

  <div id="header-bar">
    <div class="row-fluid">
      <div id="hbar-sel-folder">
        {% if user.profile.selected_folder %}
          Uređivanje mape <a href="/folder/{{ user.profile.selected_folder.id }}/">{{ user.profile.selected_folder.name }}</a>
        {% endif %}
      </div>
      <div id="hbar-search">
        {% include 'inc_search_inline.html' %}
      </div>
      {% if not user.is_authenticated %}
        <div id="hbar-login">
          <form class="form-inline" action="/accounts/login/" method="POST">
            {% csrf_token %}
            <input id="id_username" name="username" type="text" class="input-small"
                placeholder="Korisničko ime" {% if homepage %} autofocus{% endif %} accesskey="l">
            <input id="id_password" name="password" type="password" class="input-small" placeholder="Lozinka">
            <input type="submit" class="btn" value="Prijava">
          </form>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div id="site-container">
  <div id="sidebar">
      {% if user.is_authenticated %}
        <div id="nav-hello-user">Zdravo, {{ user|userlink:"first_name" }}!</div>
      {% endif %}
      <ul class="nav nav-list">
        <li class="nav-header">Izbornik</li>
        <li><a href="/"><i class="icon-home"></i>Početna</a></li>

        <li><a href="/folder/"><i class="icon-book"></i>Arhiva</a></li>
        {% block menu_folder_container %}
          {{ folder_tree|safe }}
        {% endblock %}
        <li><br></li>
        {% if user.is_authenticated %}
          <li><a href="/pm/"><i class="icon-inbox"></i>Inbox
            {% if user.get_profile.unread_pms %}
              <span class="unread_pms_count">({{ user.get_profile.unread_pms }})</span>
            {% endif %}
          </a></li>
          <li><br></li>
          <li><a href="/memberlist/"><i class="icon-user"></i>Korisnici</a></li>
          {# <li><a href="/ranks/"><i class="icon-list"></i>Rang lista</a></li> #}
          <li><a href="/usergroup/"><i class="icon-glass"></i>Grupe</a></li>
        {% else %}
          <li><a href="/accounts/register/" class="register"><i class="icon-arrow-right"></i>Registracija</a></li>
          <li><a href="/accounts/login/"><i class="icon-arrow-right"></i>Prijava</a></li>
        {% endif %}
        <li><br></li>
        <li><a href="/task/"><i class="icon-envelope"></i>Zadaci</a></li>
        <li><a href="/solution/"><i class="icon-pencil"></i>Rješenja {{ unrated_solutions_html }}</a></li>
        <li><a href="/search/"><i class="icon-search"></i>Pretraživanje</a></li>
        <li><br></li>
        {% if user.is_authenticated %}
          <li><a href="/accounts/logout/"><i class="icon-off"></i>Odjava</a></li>
          <li><br></li>
        {% endif %}
        <li><br></li>
        <li><a href="/help/"><i class="icon-question-sign"></i> Pomoć</a></li>
        <li><a href="/about/"><i class="icon-flag"></i> O nama</a></li>
        {% if user.is_staff %}
          <li><br></li>
          <li class="nav-header">Admin</li>
          <li><a href="/admin/"><i class="icon-lock"></i> Admin</a></li>
        {% endif %}
      </ul>
  </div>

  <div id="content">
      {% block content %}
        <br><br><br>
      {% endblock content %}
  </div>
</div>


<div id="footer">
  <span>
    Školjka v0.7 © 2013 Ivica Kičić &amp; <a href="http://mnm.hr/">MNM</a>.
  </span>
  <span>
    Hosting by
    <a href="http://www.kset.org/">
      <img src="/static/images/kset_logo_white.png" alt="KSET">
    </a>
  </span>
  <span>
    <a href="/tou/">Uvjeti korištenja</a>.
  </span>
</div>

<script src="{% tags_autocomplete_js_src %}"></script>
</body>
</html>
