{% load compressed %}
{% load base_tags %}
{% load tags_tags %}
{% load i18n %}

<!DOCTYPE html>

<html>
  <head>
    <script>is_authenticated={{ user.is_authenticated|lower }};</script>
    {% compressed_css 'style' %}
    {% compressed_js 'scripts' %}

    {# TODO: move to /favicon.ico. More a server configuration problem, but still... #}
    <link href="/static/images/favicon.ico" rel="shortcut icon">

    {% block header_list %} {% endblock %} {# manually put more head stuff here #}
    <title>{% block title %}Školjka - {% trans "Web archive of math problems" %}{% endblock %}</title>

    <meta name="content-language" content="hr">
    <meta name="description" content="{% trans "Web archive of math problems, including previous state and regional competitions and International and Middle-european math olympiads. Školjka can help any student training for math competitions." %}">
    <meta name="viewport" content="width=device-width">
  </head>
<body>

<div id="header" class="row">
  <h1 id="sitename">
    <a href="/">
      <img src="/static/images/shell32.png" alt=""> Školjka
    </a>
  </h1>

  <div id="header-bar">
    <div class="row-fluid">
      <div id="hbar-sel-folder">
        {% if user.profile.selected_folder %}
          {% trans "Map editing" %}
          <a href="/folder/{{ user.profile.selected_folder.id }}/">
            {{ user.profile.selected_folder.name }}
          </a>
        {% endif %}
      </div>
      <div id="hbar-search" class="hidden-phone">
        {% include 'inc_search_inline.html' %}
      </div>
      {% if not user.is_authenticated %}
        <form action="/accounts/login/" method="POST" id="hbar-login"
              class="form-inline hidden-xs-phone">
          {% csrf_token %}
          {# No whitespace between inline-block elements, CSS used instead. #}
          <input id="id_username" name="username" type="text"
              class="input-small" placeholder="{% trans "Username" %}" accesskey="l"
              {% if homepage %} autofocus{% endif %}
          ><input id="id_password" name="password" type="password"
            class="input-small" placeholder="{% trans "Password" %}"
          ><input type="submit" class="btn" value="{% trans "Sign in" %}">
        </form>
      {% endif %}
      {% include 'inc_header_languages.html' %}
      <a id="hbar-collapse-sidebar" class="collapse-button btn"
          data-target="sidebar" href="#">
      </a>
    </div>
  </div>
</div>

<div id="site-container">
  <div id="sidebar"
      {% if dont_hide_sidebar %}style="display: block;"{% endif %}>
    {% if user.is_authenticated %}
      <div id="nav-hello-user">{% trans "Hello" %}, {{ user|userlink:"first_name" }}!</div>
    {% endif %}
    <ul class="nav nav-list">
      {% settings_constant EXTRA_HEADER_TOP %}
      <li class="nav-header">{% trans "Menu" %}</li>
      <li><a href="/"><i class="icon-home"></i>{% trans "Home" %}</a></li>

      <li><a href="/folder/"><i class="icon-folder-close"></i>{% trans "Task archive" %}</a></li>
      {% block menu_folder_container %}
        {{ folder_tree|safe }}
      {% endblock %}
      <li><a href="/lectures/"><i class="icon-book"></i>{% trans "Lectures" %}</a></li>
      <li><a href="/competition/"><i class="icon-flag"></i>{% trans "Competitions" %}</a></li>
      <li><br></li>
      {% if user.is_authenticated %}
        <li><a href="/pm/"><i class="icon-inbox"></i>Inbox
          {% if user.get_profile.unread_pms %}
            <span class="unread_pms_count">({{ user.get_profile.unread_pms }})</span>
          {% endif %}
        </a></li>
        <li><br></li>
        <li><a href="/memberlist/"><i class="icon-user"></i>{% trans "Users" %}</a></li>
        {# <li><a href="/ranks/"><i class="icon-list"></i>{% trans "Ranking" %}</a></li> #}
        <li><a href="/usergroup/"><i class="icon-glass"></i>{% trans "Groups" %}</a></li>
      {% else %}
        <li><a href="/accounts/register/" class="register"><i class="icon-arrow-right"></i>{% trans "Registration" %}</a></li>
        <li><a href="/accounts/login/"><i class="icon-arrow-right"></i>{% trans "Sign in" %}</a></li>
      {% endif %}
      <li><br></li>
      <li><a href="/task/"><i class="icon-th-list"></i>{% trans "All tasks" %}</a></li>
      <li><a href="/solution/"><i class="icon-pencil"></i>{% trans "Solutions" %} {{ unrated_solutions_html }}</a></li>
      <li><a href="/search/"><i class="icon-search"></i>{% trans "Search" context "menu" %}</a></li>
      <li><br></li>
      {% if user.is_authenticated %}
        <li><a href="/accounts/logout/"><i class="icon-off"></i>{% trans "Sign out" %}</a></li>
        <li><br></li>
      {% endif %}
      <li><br></li>
      <li><a href="/help/"><i class="icon-question-sign"></i> {% trans "Help" %}</a></li>
      <li><a href="/about/"><i class="icon-flag"></i> {% trans "About" %}</a></li>
      {% if user.is_staff %}
        <li><br></li>
        <li class="nav-header">Admin</li>
        <li><a href="/admin/"><i class="icon-lock"></i> Admin</a></li>
      {% endif %}
    </ul>
  </div>

  <div id="content">
      {% block content %}
      {% endblock content %}
  </div>
</div>

<div id="footer">
  <span>
    Školjka {% settings_constant VERSION_FOOTER %} © 2014-2021 Ivica Kičić &amp;
    <a href="http://mnm.hr/" target="_blank">MNM</a>.
  </span>
  <span>
    <a href="/tou/" target="_blank">{% trans "Terms of Use" %}</a>
  </span>
  <span>
    <a href="https://github.com/ikicic/skoljka" target="_blank">GitHub</a>
  </span>
</div>

<script src="{% tags_autocomplete_js_src %}"></script>
</body>
</html>
