{% load mathcontent_tags %}
{% if news %}
  <div class="{{ div_class }}">
    {% if title %}<h3>{{ title }}</h3>{% endif %}

    {% for x in news %}
      <div class="news mc-hover-area">
        <div class="title">
          {% if user.is_staff %}
            <a href="/task/{{ x.id }}/">{{ x.name }}</a>
          {% else %}
            {{ x.name }}
          {% endif %}
        </div>
        {% mathcontent_render x.content %}
        <div class="added-by">
          {% trans "Added by" %} {{ x.author|userlink }} {{ x.date_created }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
