{% extends "base.html" %}

{% block title %}Pomoć - Uvjeti korištenja i pravila privatnosti{% endblock %}

{% block content %}

<h3>Pravila i uvjeti korištenja</h3>

<ul>
  <li>Korisnik je dužan poštivati Pravila i uvjete korištenja. Korištenjem
  Školjke, korisnik automatski prihvaća Pravila i uvjete korištenja.</li>

  <li>Zadržavamo pravo promjene uvjeta korištenja bez prethodne najave. No, u
  slučaju značajnijih promjena, na početnoj stranici će biti prikazana
  obavijest s objašnjenjem.</li>

  <li>Zabranjeno je iskorištavanje sigurnosnih ili drugih propusta i grešaka u
  Školjci. Mole se korisnici da, u slučaju pronalaska istih, jave autorima ili
  administratorima.</li>

  <li>Korisniku je omogućeno objavljivanje vlastitih ili tuđih zadataka na
  Školjci. U slučaju objavljivanja tuđih zadataka, korisnik je dužan provjeriti
  je li javno objavljivanje u skladu s autorskim pravima tih zadataka.
  Administratori imaju pravo ukloniti bilo kakav sadržaj za koji sumnjaju da
  krši autorska prava, bez prethodnog upozorenja ili obavijesti. Isto vrijedi i
  za rješenja zadataka ili bilo kakav drugi sadržaj.</li>

  <li>Korisnici koji ispune svoj profil privatnim podacima moraju biti svjesni
  toga da ti podaci jesu ili mogu biti javno prikazani.</li>

  <li>Školjka trenutačno ne prati aktivnosti pojedinačnog korisnika poput
  pregleda podstranica, zadataka, rješenja ili drugih aktivnosti koje nisu
  vidljive u sučelju Školjke. Doduše, Školjka ima pravo pamtiti <i>log</i>
  datoteke, u svrhu olakšanog otkrivanja i popravljanja grešaka i sigurnosnih
  propusta. Također, Školjka ima pravo pratiti i pamtiti anonimne statističke
  podatke poput posjećenosti pojedinih stranica.</li>

  <li>Školjka ima pravo automatizirano analizirati skup javno dostupnih
  zadataka koje je pojedini korisnik riješio, stavio na to-do popis ili za koje
  je poslao rješenje te mu na temelju toga davati preporuke za sljedeće zadatke
  ili sadržaj.</li>

  <li>Iako autori Školjke nastoje ukloniti sve sigurnosne propuste, sigurnost
  privatnih podataka poput e-mail adrese, privatnih poruka, neobjavljenih
  zadataka i drugih skrivenih podataka nije garantirana. Stoga, spremanje
  važnih podataka (primjerice, zadataka za veća buduća domaća ili međunarodna
  natjecanja) nije preporučeno. Preporuča se korisnicima da ne koriste istu ili
  vrlo sličnu lozinku kao na drugim web stranicama i servisima, iako one jesu
  kriptirane u bazi podataka Školjke.</li>

  <li>Privatne poruke, skriveni zadaci i skrivene kolekcije su dostupne samo
  onim korisnicima kojima je za to dano isključivo pravo (unutar sučelja). No,
  ti podaci nisu kriptirani, pa je moguće da zbog trenutačnih tehničkih
  ograničenja, administratori slučajno vide dijelove skrivenih podataka.
  Školjka nije mjesto za skladištenje ili slanje privatnih podataka te ju
  nemojte za to koristiti.</li>

  <li>Korisnici ne smiju objavljivati uvredljive, neetičke, ilegalne ili u
  drugom smislu neprimjenjene sadržaje ni u kojem obliku. Administratori imaju
  pravo promjene ili brisanja takvih sadržaja bez najave ili naknadne
  obavijesti.</li>

  <li>Administratori zadržavaju pravo rađenja manjih popravki tekstova javno
  vidljivih zadataka i rješenja, bez najave ili naknadne obavijesti. U to
  spadaju gramatičke i pravopisne greške, nejasnoće u formulaciji teksta, LaTeX
  greške, netočno prepisani tekstovi postojećih zadataka i sl.</li>

  <li>Ukoliko se korisnik ne pridržava pravila korištenja, administratori
  mu imaju pravo onemogućiti pristup Školjci.</li>

  <li>Na kraju, Školjku koristite na vlastitu odgovornost... Uživajte!</li>
</ul>
{% endblock %}
