{% extends "base.html" %}

{% block title %}Pomoć - Uvjeti korištenja i pravila privatnosti{% endblock %}

{% block content %}

<h3>Pravila i uvjeti korištenja</h3>

<ul>
  <li>Korisnik je dužan poštivati Pravila i uvjete korištenja. Korištenjem
  Školjke, korisnik automatski prihvaća Pravila i uvjete korištenja.</li>

  <li>Zadržavamo pravo promjene uvjeta korištenja bez prethodne najave. No, u
  slučaju značajnijih promjena, na početnoj stranici će biti prikazana
  obavijest s objašnjenjem.</li>

  <li>Zabranjeno je iskorištavanje sigurnosnih ili drugih propusta i grešaka u
  Školjci. Mole se korisnici da, u slučaju pronalaska istih, jave autorima ili
  administratorima.</li>

  <li>Korisniku je omogućeno objavljivanje vlastitih ili tuđih zadataka na
  Školjci. U slučaju tuđih zadataka, korisnik je dužan provjeriti je li javno
  objavljivanje u skladu s autorskim pravima tih zadataka. Administratori imaju
  pravo ukloniti bilo kakav sadržaj za koji sumnjaju da krši autorska prava,
  bez prethodnog upozorenja ili obavijesti. Isto vrijedi i za rješenja
  zadataka.</li>

  <li>Školjka pamti trenutačno samo one podatke koji su nužni za njeno
  funkcioniranje. To uključuje zadatke i rješenja koje je korisnik objavio,
  popis zadataka koje je korisnik riješio bez slanja rješenja, korisnikove
  ocjene težine i kvalitete, ocjene rješenja, privatne poruke i sve druge
  aktivnosti koje su vidljive u sučelju Školjke.</li>

  <li>Školjka trenutačno ne prati aktivnosti pojedinačnog korisnika poput
  pregleda podstranica, zadataka, rješenja ili drugih aktivnosti koje nisu
  vidljive u sučelju Školjke. Doduše, Školjka ima pravo pamtiti <i>log</i>
  datoteke, u svrhu olakšanog otkrivanja i popravljanja grešaka i sigurnosnih
  propusta. Također, Školjka ima pravo pratiti i pamtiti anonimne statističke
  podatke poput posjećenosti pojedinih stranica.</li>

  <li>Iako autori Školjke nastoje ukloniti sve sigurnoste propuste, sigurnost
  privatnih podataka poput privatnih poruka, neobjavljenih zadataka i drugih
  sakrivenih podataka nije garantirana. Stoga, spremanje važnih podataka
  (primjerice, zadataka za veća buduća domaća ili međunarodna natjecanja) nije
  preporučeno. Preporuča se korisnicima da ne koriste istu ili vrlo sličnu
  lozinku kao na drugim web stranicama i servisima, iako one jesu kriptirane
  u bazi podataka Školjke.</li>

  <li>Privatne poruke, sakriveni zadaci i sakrivene kolekcije su dostupne samo
  onim korisnicima kojima je za to dano isključivo pravo (unutar sučelja). No,
  ti podaci nisu kriptirani, pa je moguće da zbog trenutačnih tehničkih
  ograničenja, administratori slučajno vide dijelove sakrivenih podataka.
  Školjka nije mjesto za skladištenje ili slanje privatnih podataka te ju
  nemojte za to koristiti.</li>

  <li>Korisnici ne smiju objavljivati uvredljive, neetičke, ilegalne ili u
  drugom smislu neprimjenjene sadržaje ni u kojem obliku. Administratori imaju
  pravo promjene ili brisanja takvih sadržaja bez najave ili naknadne
  obavijesti.</li>

  <li>Administratori zadržavaju pravo rađenja manjih popravki tekstova javno
  vidljivih zadataka i rješenja, bez najave ili naknadne obavijesti. U to
  spadaju gramatičke i pravopisne greške, nejasnoće u formulaciji teksta, LaTeX
  greške, netočno prepisani tekstovi postojećih zadataka i sl.</li>

  <li>Ukoliko se korisnik ne pridržava pravila korištenja, administratori
  imaju pravo onemogućiti mu pristup Školjci.</li>

  <li>Na kraju, Školjku koristite na vlastitu odgovornost... Uživajte!</li>
</ul>
{% endblock %}
