@import "main";

/* CSS for base.html (page structure) */

/* TODO: Sass! Most of the colors are closely related. */
/*   Changing the color now requires changing all the colors manually. */

// Predefined theme until a custom one loads
html {
  --theme-paintbrush-icon-color: #00c3ff;

  --header-background-from: #1b1d1e;
  --header-background-to: #1e1e1e;
  --skoljka-logo-text-color: #ffffff;  /* #000000 */
  --skoljka-logo-text-color-hover: #ffffff;  /* #000000 */
  --body-bg: #2a2c2f;
  --header-box-shadow: 0 1px 4px #252e3a;

  --outset-bg: #40444c;  /* #fafcfc */
  --outset-box-shadow: 0 2px 4px rgb(64, 64, 100);  /* 0 2px 4px rgba(128, 128, 128, 0.55) */
  --outdiv-bg: #363a40; /* -webkit-gradient(linear, left top, left bottom, from(#f6f8fa), to(#edf2f8)) */
  --outdiv-box-shadow: 0 1px 2px rgb(64, 64, 100);  /* 0 1px 2px rgba(128, 128, 128, 0.35) */

  --content-bg-color: #1f1f1f;
  --sidebar-bg-color: #1f1f1f;
  --content-box-shadow-color: #303d4e;
  --sidebar-box-shadow-color: #303d4e;
  --text-color: #e6e6e6 ;

  --nav-anchor-bg-color-hover: #2b2f36;
  --blue-anchor-color: #2da3e5;  /* 0088cc */
  --blue-anchor-color-hover: #3dbeff;
  --red-anchor-color-hover: #ff0000;
  --profile-task-submitted-anchor: #116cff;  /* #13F */

  --striped-table-header-bg-color: #47474f;
  --striped-table-odd-row-bg-color: #303132;

  --icon-filter: invert(180) contrast(150%);
  --image-filter: invert(180) contrast(150%);

  --solution-unhide-box-bg-color: inherit;
  --solution-unhide-box-bg-color-hover: rgba(82, 86, 100, 0.45);
}


/* General */
body {
  background: var(--body-bg);
  padding: 0; /* change to bootstrap */
  color: var(--text-color);
}

.nav-list > li > a:hover {
  background-color: var(--nav-anchor-bg-color-hover);
}

.nav-list > li > a, h2, h3, h4, h4 a {
  text-shadow: none !important;  /* Remove bootstrap's text shadow */
}

h2, h3, h4, .homepage-info, label {
  color: var(--text-color);
}

a[href] {
  color: var(--blue-anchor-color);
}

.nav-list > li > a:not([style="color: red;"]):hover, a[href]:hover {
  color: var(--blue-anchor-color-hover);
}

.nav-list > li > a[style="color: red;"]:hover {
  color: var(--red-anchor-color-hover);
}

/*li > a > i, */[class^="icon-"] {
  filter: var(--icon-filter);
}

.latex, .latex-center, img[alt="Attachment image"] {
  filter: var(--image-filter);
}

.table-striped tbody tr th {
  background-color: var(--striped-table-header-bg-color);
}

.table-striped tbody tr:nth-child(odd) td {
  background-color: var(--striped-table-odd-row-bg-color);
}

#header {
  background: -webkit-gradient(linear,left top,left bottom,from(var(--header-background-from)),to(var(--header-background-to)));
  box-shadow: var(--header-box-shadow);
  margin-bottom: 3px;
  padding: 5px!important;
  display: flex;
  align-items: center;
  justify-content: space-between;

  form {
    padding: 0px!important;
    margin-bottom: 0px!important;
  }
}

#header.row:before, #header.row:after {
  display: none;
}

#header-menu {
  display: flex;
}

#site-container {
  padding: 10px;
}

#content {
  border-radius: 5px;
  box-shadow: 0 1px 4px var(--content-box-shadow-color);
}

#sidebar {
  border-radius: 5px;
  box-shadow: 0 1px 4px var(--sidebar-box-shadow-color);
}

#content {
  /* background-color: rgb(235, 231, 229); rgb(232, 236, 235) */
  background-color: var(--content-bg-color);
  padding: 10px;
}

#sidebar {
  /* background-color: rgb(245, 242, 240); */
  background-color: var(--sidebar-bg-color);
  margin-bottom: 10px;
  padding: 15px 5px;
}

#header-bar {
  float: right;
  /* margin-top: 4px; ne znam cemu je ovo sluzilo */
}

#hbar-theme {
  float: left;
  margin-left: 5px;
  position: relative;
  padding: 0 5px 0 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#hbar-flags {
  float: left;
  margin: 0 10px 0 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  > button {
    padding: 0px;
    border: 0px;
    display: flex;
    align-items: center;
  }
  > button > img {
    width: 24px;
  }
}

#hbar-sel-folder {
  float: left;
  margin: 5px 5px 0 0;
}

#hbar-search {
  float: left;
  margin-right: 5px;

  input.ac-tags {
    width: 90px!important;
  }
}

#hbar-login {
  float: left;
  margin-left: 20px;

  > input {
    margin: 0px 2px;
  }
}

#hbar-collapse-sidebar {
  display: none;
}

#nav-hello-user {
  padding: 0 0 1em 12px;
}

.nav-sol-new-cnt {
  color: red;
}

.nav-sol-old-cnt {
  color: #BBBBBB;
}

#sitename {
  float: left;
  padding-left: 20px;

  img {
    vertical-align: -0.2em;
  }

  a {
    color: var(--skoljka-logo-text-color);
    font-family: Georgia, Arial, serif;
    font-style: italic;
    text-shadow: 1px 1px 1px rgb(182, 182, 182);
  }

  a:hover {
    color: var(--skoljka-logo-text-color-hover);
    text-decoration: none;
  }
}

#footer {
  margin: 0px 20px 5px 10px;
  text-align: right;
  font-size: 12px;
  color: #D0D0D0;
}
.footer {
  padding: 0px 5px;
  white-space: nowrap;
}
a.footer {
  color: #C0D0F0;
}

a.register {
  color: red;
}

.unread_pms_count {
  /* should this be here? */
  color: red;
}

@media (min-width: $screen-md-min) {
  #content {
    margin: 0 0 0 225px + 24px;
  }

  #sidebar {
    float: left;
    width: 225px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #content {
    margin: 0 0 0 205px + 24px;
  }

  #sidebar {
    float: left;
    width: 205px;
  }
}

@media (max-width: $screen-xs-min - 1px) {
  h2 {
    font-size: 22px;
  }

  #content {
    padding: 7px;
  }

  #footer {
    text-align: center;
  }

  #site-container {
    padding: 7px;
  }
}

@media (max-width: $screen-xs-max) {
  #hbar-login {
    margin-left: 0px;

    > input {
      margin: 0px 1px;
    }
    > input[type=text], > input[type=password] {
      width: 87px;
    }
  }

  #hbar-collapse-sidebar {
    float: left;
    display: block;
    margin-left: 5px;
  }

  #sidebar {
    display: none;
  }
}

/* Task translations */
.lang {
  display: inline-block;
}
.all-langs .lang {
  display: inline-block !important;
  border: purple 1px solid;
}