@import "main";
@import "bootstrap/mixins";
/* General CSS */


/* Hacks */
/*   Anything that should or could have a better solution. */

.kill-br br {
  /* as_table inserts unwanted <br> between field and its help_text */
  /* This is the easiest way to remove its effect */
  display: none;
}

/* Vertical align solution taken from: http://emergentweb.com/test/valign.html */
.center-vertically {
  height: 100%;
}

.center-vertically > div {
  display: table;
  height: 100%;
  width: 100%;
}

.center-vertically > div > div {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.center-vertically > div > div > div {
  margin: 0 auto;
}
/* Hacks End */


/* Usually buttons containing only an image/icon. */
button.blank {
  border: 0px;
  background: transparent;
  margin: 0px;
  padding: 0px;
}

/* Recursive em. Used mainly for MathContent. */
em em {
  font-style: normal;
}

/* Remove margins from bootstrap_form. */
form.remove-bootstrap-toolkit-margins {
  label {
    margin-bottom: 0px;
  }
  .control-group {
    margin-bottom: 0px;
  }
}

/* Help text styling. */
.help-text-gray {
  font-style: italic;
  color: gray;
}


/* History select. */
#history-select {
  width: 350px;
}

/*
h2, h3, h4 {
  color: #333;
}

h2, h3, h4, h4 a {
  text-shadow: 1px 1px 1px rgb(210, 210, 210);
}
*/

/* Icon placeholder */
.icon-placeholder {
  // Copied from bootstrap/_sprites.scss.
  width: 14px;
  height: 14px;
  line-height: 14px;
  @include ie7-restore-right-whitespace();
}


/* Instructions */
.instructions {
  font-size: 11px;
  &.outdiv {
    margin: 5px 5px 15px 5px;
  }
}

/* Multi-line code and pre */
.multi-line {
  display: inline-block;
  white-space: pre-wrap;
}

/* outdiv */
.outdiv {
  border-radius: 5px;
  box-shadow: var(--outdiv-box-shadow);
  background: var(--outdiv-bg);
  margin: 5px 5px 25px 5px;
  overflow: auto;
  padding: 15px 25px;
}

@media (max-width: $screen-xs-min - 1px) {
  .outdiv {
    padding: 12px 18px;
    margin: 3px 3px 20px 3px;
  }
}

.outdiv h3 {
  margin-bottom: 5px;
  margin-left: -5px;
}

.outset {
  background: var(--outset-bg);
  border-radius: 5px;
  box-shadow: var(--outset-box-shadow);
  padding: 15px 17px;
}

.outset-margin {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Small Page (e.g. page with only one form) */
.small-page {
  margin: 5px;
  > h3 {
    margin-bottom: 10px;
  }

  input[type=text], input[type=password] {
    padding: 5px;
    margin-bottom: 7px;
  }
}

/* Split Form */
.split-form th {
  padding-left: 10px;
}

.split-form-row th {
  color: gray;
  font-size: 11px;
  padding: 10px 0 0 0;
  text-align: left;
  text-transform: uppercase;
}

/* TD short description. */
div.td-description-container {
  text-align: center;
}
span.td-description {
  color: gray;
  font-size: 11px;
}

/* Fix bootstrap's default CSS for inputs. */
input[type=range] {
  padding: initial;
  border: initial;
}
