@import "main";

/* Task action */
.task-action-bar {
  background: var(--task-action-bar-bg);
  overflow:auto;
  position: relative;
}

.task-action-bar:before,
.task-action-bar:after {
  content:"";
  display:table;
}
.task-action-bar:after {
  clear:both;
}

.task-action-bar-left {
  position: absolute;
  left: 8px;
  top: 0px;
  height: 100%;
  display: inline-block;
}

.task-action-bar-left form {
  margin: 0;  /* Fix */
}

.task-action-bar-header {
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.task-action-bar-right {
  float: right;
}
/* End task action */

.task-container {
  margin: 5px 5px 5px 5px;
  overflow: auto;
}

.task-detail {
  margin: 15px 0px;
}

.task-small-info {
  margin: -1px -2px 0.6em -2px;

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.task-small-info-right {
  float: right;
  text-align: right;

  > .sol-label-container {
    > .label {
      margin-left: 3px;
    }
  }
}

h4.task-small-title {
  display: inline-block;
}

/* Task table */
.task-table td {
  padding: 3px 5px;
}

/* Task status */

/* Don't remove !important. Otherwise odd rows won't be affected. */
@mixin colored-tr-and-lecture($class, $color, $weight) {
  tr.#{$class} {
    @include colored-striped-tr-old($color, $weight);
  }
  /* For lectures. */
  img.#{$class} {
    border: 1px solid mix($color, #eee, $weight);
    box-shadow: 0 1px 3px rgba(mix($color, #ccc, 50%), 0.35) !important;
  }
}

@include colored-tr-and-lecture(task-correct, lime, 15%);
@include colored-tr-and-lecture(task-submitted-not-rated, cyan, 12%);
@include colored-tr-and-lecture(task-as-solved, lime, 10%);
@include colored-tr-and-lecture(task-wrong, red, 10%);
@include colored-tr-and-lecture(task-todo, yellow, 12%);

.task-hidden {
  @include colored-striped-tr-old(gray, 12%);
}

.task-locked {
  color: gray;
}

.task-unsolvable a {
  color: rgb(132, 152, 162);
  &:hover {
    color: rgb(112, 125, 142);
  }
}

/* End task table */

/* Task tooltip */

#task-tooltip {
  display:none;
}

/* End task tooltip */

#task-detail-top-action {
  float: right;
}

#task-file {
  margin: 15px 0px;
  text-align: center;
}

#task-file:hover {
  background-color: #F4F4F4;
}

#task-file-info {
  color: var(--task-file-info-text-color);
}


.task-text {
  padding: 5px 0px;
}

.task-timesince {
  color: #AAA;
  float: right;
  font-size: 12px;
  margin: 5px -1px -5px 0px;
}

#task-title {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

#task-top-info {
  overflow: auto;
  /* otherwise, task-top-info-bottom would shift to the left */
  margin-top: 3px;
}
#task-top-left-info {
  float: left;
}

#task-top-right-info {
  float: right;
  margin-top: 0.5em;
  text-align: right;
  white-space: nowrap;
}

.task-date-created {
}

#task-bottom-left-info {
  float: left;
}

.task-source {
  color: #A0A0A0;
}

#task-bottom-right-info {
  text-align: right;
  > form {
    margin: 0px;
  }
}

@media (max-width: $screen-xs-min - 1px) {
  #task-title {
    font-size: 20px;
  }

  #task-top-left-info {
  }
}

/* Task bulk. */
#tb-instructions-container {
  float: right;
  width: 350px;
}
#tb-instructions > pre {
  font-size: 11px;
}

.tb-error,
.task-preview-hidden {
  color: red;
}

.task-preview-other-info {
  background-color: darken($outset-bg-color, 3%);
  box-shadow: 0 1px 3px $outset-box-shadow-color;
  float: right;
  font-size: 11px;
  padding: 5px 10px;
}
