#memberlist {
  max-width: 900px;
  text-align: center;
  width: 100%;
}

.profile-distribution:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.profile-distribution > div {
  width: 20px;
  height: 100px;
  float: left;
  background-color: #EEE;
  position: relative;
}

.profile-distribution > div > div {
  background-color: #CCC;
  bottom: 0px;
  position: absolute;
  width: 20px;
}

.profile-task-list {
  margin: 1.5em 0;

  > h3 {
    display: inline;
  }
}

.profile-task-submitted > a {
  color: #13F;
}

#content .row-fluid.reg-ch {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
}

#content #homepage-registration .row-fluid.reg-ch {
  width: 100%;
}

.reg-ch-input {
  width: 100%;
}
