Django==1.4.22
# django-debug-toolbar puts sqlparse as dependency, without specifying the version.
sqlparse==0.3.1
django-debug-toolbar==1.2.1
django-pipeline==1.3.23
django-taggit==0.10a1

mysql-python==1.2.5

cssmin==0.2.0
python-memcached==1.53
slimit==0.8.1

git+https://github.com/ikicic/django-bootstrap-toolkit.git
git+https://github.com/ikicic/django-sorting.git
git+https://github.com/ikicic/django-template-preprocessor.git

# Consider replacing with linaro-django-pagination
django-pagination==1.0.7

# TODO: update to 1.0
django-registration==0.8

# Python 2.7 compatibility, remove after switching to Python 3.4+
enum34==1.1.10
