{% load sorting_tags %}

{% load tags_tags %}
{% load task_tags %}
{% load rating_tags %}
{% load i18n %}

<table width="100%" class="table-striped task-table" style="text-align: center;">
  <thead>
  <tr>
    {% if user.profile.selected_folder %}<th width="50">{% trans "In map" %}</th>{% endif %}
    {# Update autosort in inc_task_list.html if updating anchors here. #}
    <th class="hidden-phone" width="30">{% anchor 'id' "#" %}</th>
    <th>{% anchor 'name' _("Title") %}</th>
    <th>{% trans "Tags" %}</th>
    <th>{% anchor 'solved_count' _("Sol.") %}</th>
    {% if search_solved_count %}<th>{% trans "(Sol.)" %}</th>{% endif %}
    <th class="hidden-phone">{% anchor 'quality_rating_avg' _("Quality") %}</th>
    <th class="hidden-xs-phone">{% anchor 'difficulty_rating_avg' _("Difficulty") %}</th>
  </tr>
  </thead>

  <tbody>
  {% for task in tasks %}
    {# JavaScript Task Tooltip assumes this is tr. task-container also used for div. #}
    <tr class="{{ task.get_tr_class }} task-container" data-task-id="{{ task.id }}">
      {% if user.profile.selected_folder %}
        {# We duplicate id value here, so that js is independent of html structure... #}
        <td><input type="checkbox" class="folder-checkbox"{% if task.is_in_folder %}
                    checked="checked"{% endif %} data-id="{{ task.id }}"></td>
      {% endif %}

      <td class="hidden-phone">{{ task.id }}</td>
      <td>{% task_link task tooltip=1 %}</td>
      <td>{% if plus_exclude %}{% tag_list task plus_exclude %}{% else %}{% tag_list task %}{% endif %}</td>

      {% if task.solved_count != 0 %}
        <td><a href="/solution/task/{{ task.id }}/">{{ task.solved_count }}</a></td>
      {% else %}
        <td>0</td>
      {% endif %}

      {% if search_solved_count %}
        <td>{{ task.search_solved_count }}</td>
      {% endif %}

      <td class="hidden-phone" style="width:80px;">
        {% rating_stars manager=task.quality_rating %}
      </td>
      <td class="hidden-xs-phone" style="width:80px;">
        {% rating_stars manager=task.difficulty_rating %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
