{% extends "base.html" %}

{% load i18n %}
{% load mathcontent_tags %}

{% block title %}{% blocktrans %}Export to {{ format }}{% endblocktrans %}{% endblock %}

{% block content %}

<h3>{% blocktrans %}Export to {{ format }}{% endblocktrans %}</h3>
<br><br>

<form action="/task/export/" method="POST">
  <h4>Postavke:</h4>
  <br>
  {% csrf_token %}
  <table width="40%" class="table-striped" style="text-align:center;">
    {{ form.as_table }}
  </table>
  {% if invalid_tasks %}
    <div class="alert alert-danger">
      {% trans "There were some internal errors while converting the following tasks:" %}
      <ul>
        {% for task in invalid_tasks %}
          <li>{{ task.get_link }}</li>
        {% endfor %}
      </ul>
      {% trans "If you still want to export the tasks, click 'Convert' again." %}
      <input type="hidden" name="ignore-exceptions" value="1">
    </div>
  {% endif %}
  <input type="submit" name="action" value="{% trans "Convert" %}"
         class="btn btn-primary">

  <br><br>
  <b>Ukupno zadataka: {{ tasks|length }}</b><br>
  <br>
  <table width="40%" class="table-striped table-condensed" style="text-align:center;">
    {% for x in tasks %}
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.get_link }}</td>
        <td>
          {% mathcontent_attachments_small attachments=x.cache_file_list %}
        </td>
      </tr>
    {% endfor %}
  </table>

</form>

{% endblock %}
