<div class="post_list_small">
{% for post in posts %}
    <div class="well">
        <span class="post_info">{{ post.author|userlink }} u {{ post.date_created }}</span><br>
        {{ post.content.render|safe }}
        {% if post.date_created != post.last_edit_time %}
            <br><br>
            <span class="post_last_edit_info">
                Zadnja promjena: {{ post.last_edit_by|userlink }} u {{ post.last_edit_time }}
            </span>
        {% endif %}
        <div style="float:right;"><a href="/post/{{ post.pk }}/edit/?next={{ request.path }}">Edit</a></div>
    </div>
{% endfor %}

{% if user.is_authenticated %}
    <div class="post_form">
        <form action="/post/add/" method="post">
            {% csrf_token %}
            <input type="hidden" name="object_id" value="{{ container.pk }}">
            <input type="hidden" name="content_type_id" value="{{ container.posts.get_content_type_id }}">
            <input type="hidden" name="post_redirect" value="{{ request.path }}">
            {{ container.posts.get_post_form.as_p }}
            <input type="submit" value="Post">
        </form>
    </div>
{% endif %}
</div>