{% extends "base.html" %}

{% block content %}

{% load activity_tags %}
{% load base_tags %}
{% load folder_tags %}
{% load task_tags %}

<div class="outdiv">
  <div id="homepage-registration">
    <h3>Nemate račun?</h3>
    {% small_registration_form %}
  </div>

  <h3>Što je Školjka?</h3>
  <p class="homepage-info">
    Školjka je web arhiva zadataka iz matematike, pomoćni alat
    i sredstvo motivacije namijenjen učenicima i studentima pri pripremi
    za natjecanja. Sadrži tisuće i tisuće zadataka s raznih
    matematičkih natjecanja u prethodnih dvadesetak godina te se redovito
    nadopunjava novim zadacima i natjecanjima.
  </p>

  <h3>Koja je prednost Školjke?</h3>
  <p class="homepage-info">
    Osim što služi kao baza zadataka, Školjka omogućuje pretraživanje istih
    po kategorijama i po težini. Učenici tako mogu jednostavno pronaći zadatke
    točno onog tipa koji ih zanima. Također, Školjka može biti od velike pomoći
    njihovim mentorima pri organizaciji priprema i predavanja.
  </p>

  <h3>Odabrana natjecanja</h3>
  {% folder_inline_year_shortcuts folder_shortcut_desc %}
</div>

{% show_news 'outdiv' 'Novosti' %}

<div style="padding: 0 0px;">
  {% if recent_tasks %}
    <h2>Nedavno objavljeni zadaci</h2>
    <div class="row-fluid">
      {% for x in recent_tasks %}
        {% task_small_box x 'span6' '' 'timesince' %}
      {% endfor %}
    </div>
  {% endif %}

  <br><br><br>
  <h3>Nedavne aktivnosti:</h3>
  {% activity_list user %}
</div>

{% endblock %}
