{% extends "folder_edit_base.html" %}

{% block inner_content %}


<form action="{{ request.path }}" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  {% if children|length > 1 %}
    <h6>Poredak podkategorija</h6>
    {% for x in children %}
      <div>
        <input type="text" name="child-{{ x.id }}" value="{{ x.parent_index }}" class="input-mini">
        {{ x.name }}
      </div>
    {% endfor %}
  {% endif %}
  <br>
  <input type="submit" class="btn btn-primary" value="Pošalji">
</form>


{% endblock %}
