{% extends "base.html" %}

{% block title %}
  {% if edit %}
    Uređivanje kategorije {{ folder.name }}
  {% else %}
    Nova kategorija
  {% endif %}
{% endblock %}


{% block content %}

{% if can_edit_permissions %}
  <div style="float: right;">
    <a href="/permissions/edit/{{ content_type.id }}/{{ folder.id }}/" class="btn">Privilegije</a>
  </div>
{% endif %}
<form action="{{ request.path }}" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <br>
  <input type="submit" class="btn btn-primary" value="Pošalji">
</form>



{% endblock content %}