{% extends "base.html" %}

{% block title %}Arhiva{% endblock %}

{% if menu_folder_tree %}
    {% block menu_folder_container %}{{ menu_folder_tree|safe }}{% endblock %}
{% endif %}

{% block content %}

<a href="javascript: history.go(-1)">« Vrati se</a><br><br>

{{ path_html|safe }}<br>
<div style="float:right;">{{ tag_list_html|safe }}</div>
<br>


<ul>
{% for x in child %}
    <li><a href="/folder/{{ path }}{{ x.slug }}/">{{ x.name }}</a> {{ x.tag_list_html|safe }}</li>
{% endfor %}
</ul>



{% include 'inc_task_list_table.html' with tasks=tasks empty_message="Nema zadataka." %}

{% endblock content %}
