@import "main";

/* Task action */
.task-action-bar {
  background-color: rgb(246, 248, 247);
  overflow:auto;
  position: relative;
}

.task-action-bar:before,
.task-action-bar:after {
  content:"";
  display:table;
}
.task-action-bar:after {
  clear:both;
}

.task-action-bar-left {
  position: absolute;
  left: 8px;
  top: 0px;
  height: 100%;
  display: inline-block;
}

.task-action-bar-left form {
  margin: 0;  /* Fix */
}

.task-action-bar-header {
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.task-action-bar-right {
  float: right;
}
/* End task action */

.task-container {
  margin: 5px 5px 5px 5px;
  overflow: auto;
}

.task-detail {
  margin: 15px 0px;
}

.task-small-info {
  margin: -1px -2px 0.6em -2px;

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.task-small-info-right {
  float: right;
  text-align: right;

  > .sol-label-container {
    > .label {
      margin-left: 3px;
    }
  }
}

h4.task-small-title {
  display: inline-block;
}

/* Task table */
.task-table td {
  padding: 3px 5px;
}

/* Task status */

/* Don't remove !important. Otherwise odd rows won't be affected. */
/* TODO: brighter colors for odd rows */
.task-correct td {
  background-color: #70FF70!important;
}

.task-submitted-not-rated td {
  background-color: rgb(244, 255, 163)!important;
}

.task-as-solved td {
  background-color: #AFA!important;
}

.task-wrong td {
  background-color: #F99!important;
}

.task-todo td {
  background-color: #8FF!important;
}

.task-hidden td {
  background-color: #E0E0E0!important;
}

tr.task-hidden:nth-child(odd) td {
  background-color: #E4E3E3!important;
}

.task-locked {
  color: gray;
}

.task-unsolvable a {
  color: rgb(132, 152, 162);
}
.task-unsolvable a:hover {
  color: rgb(112, 125, 142);
}

/* End task table */

/* Task tooltip */

#task-tooltip {
  display:none;
}

/* End task tooltip */

#task-detail-top-action {
  float: right;
}

#task-file {
  margin: 15px 0px;
  text-align: center;
}

#task-file:hover {
  background-color: #F4F4F4;
}

#task-file-info {
  color: gray;
}


.task-text {
  padding: 5px 0px;
}

.task-timesince {
  color: #AAA;
  float: right;
  font-size: 12px;
  margin: 5px -1px -5px 0px;
}

#task-title {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

#task-top-info {
  overflow: auto;
  /* otherwise, task-top-info-bottom would shift to the left */
  margin-top: 3px;
}
#task-top-left-info {
  float: left;
}

#task-top-right-info {
  float: right;
  margin-top: 0.5em;
  text-align: right;
  white-space: nowrap;
}

.task-date-created {
}

#task-bottom-left-info {
  float: left;
}

.task-source {
  color: #A0A0A0;
}

#task-bottom-right-info {
  text-align: right;
  > form {
    margin: 0px;
  }
}

@media (max-width: $screen-xs-min - 1px) {
  #task-title {
    font-size: 20px;
  }

  #task-top-left-info {
  }
}
