{% load pagination_tags %}
{% load sorting_tags %}

{% load task_tags %}

{% autosort tasks %}
{% autopaginate tasks %}

{% if tasks %}
    {{ tasks|multiple_task_link }}<br>
    <table width="100%" class="table-striped table-condensed" style="text-align: center;">
    <tr>
        <th colspan="5">Lista zadataka</th>
    </tr>
    <tr>
        <th width="50">{% anchor id # %}</th>
        <th>Naslov</th>
        <th>Tagovi</th>
        <th>{% anchor solved_count Rj. %}</th>
    </tr>

    {% for task in tasks|cache_task_tags %}
    {% if task.id in submitted_tasks %}
    <tr class="task_submitted">
    {% else %}{% if task.hidden %}
    <tr class="task_hidden">
    {% else %}
    <tr>
    {% endif %}{% endif %}
        <td style="text-align:center;">{{ task.id }}</td>
        <td><a href="/task/{{ task.id }}/" class="title">{{ task.name }}</a></td>
        <td>{% if plus_exclude %}{{ task|tag_list:plus_exclude }}{% else %}{{ task|tag_list }}{% endif %}</td>
        {% if task.solved_count > 0 %}
            <td><a href="/solution/task/{{ task.id }}/">{{ task.solved_count }}</a></td>
        {% else %}
            <td>0</td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
    {% paginate %}
{% else %}
    {% if empty_message %}{{ empty_message }}{% endif %}
{% endif %}
