{% load pagination_tags %}
{% load sorting_tags %}

{% load task_tags %}
{% load tags_tags %}
{% load rating_tags %}
{% load userprofile_tags %}

{% autosort tasks %}
{% autopaginate tasks 25 %}

{% cache_task_info tasks %}

{% if tasks %}
  {% if user.profile.selected_folder %}
    <script>
    $(function(){
      $('.folder_checkbox').click(function(){
        $.ajax({
          url: '/folder/select/task/' + $(this).parent().next().html() + '/'
        });
      });
    });
    </script>
  {% endif %}
  
  <div>
    {# TODO: move padding:8px somewhere else #}
    <div style="float:left;padding:8px;">
      <a href="/task/export/latex/{{ task_ids|join:',' }}/"><img src="/static/images/tex16.png" alt="LaTeX" title="Pretvori u LaTeX"></a>
      <a href="/task/export/pdf/{{ task_ids|join:',' }}/"><img src="/static/images/pdf16.png" alt="PDF" title="Pretvori u PDF"></a>
    </div>
    {% useroptions view_type|default:"task_view_type" as view %}
      {% useroption 0 "<i class=icon-list></i> Lista" default %}
      {% useroption 1 "<i class=icon-align-justify></i> Tekst" %}
      {% useroption 2 "<i class=icon-th-large></i> Dva stupca" %}
    {% enduseroptions %}
  </div>
  <br><br>

  {# value must be unicode #}
  {% if view == '0' %}
    {% include "inc_task_list_table.html" %}
  {% endif %}

  {% if view == '1' %}
    {% paginate %}
    {% for task in tasks %}
      {% task_small_box task 'task_text' '' '' %}
    {% endfor %}
  {% endif %}

  {% if view == '2' %}
    {% paginate %}
    {% for task in tasks %}
      {% cycle '<div class="row-fluid">' '' %}
      {% task_small_box task 'span6' '' %}
      {% cycle '' '</div>' %}
    {% endfor %}
    {% if not tasks|length|divisibleby:2 %}
      </div>
    {% endif %}
  {% endif %}

  {% paginate %}
{% else %}
  {% if empty_message %}{{ empty_message }}{% endif %}
{% endif %}
