{% load pagination_tags %}
{% load sorting_tags %}

{% load task_tags %}
{% load tags_tags %}
{% load rating_tags %}
{% load userprofile_tags %}

{% task_options_mode_check %}
{% temporary_get_key 'options' 'task_view_type' %}

{% autosort tasks %}

{% if options_mode %}
  {% cache_task_info_lite tasks %}
{% else %} {# ... no options #}
  {% autopaginate tasks 30 %}
  {% cache_task_info tasks %}
{% endif %}

{% if tasks %}
  <div class="task-action-bar">
    {% comment %}
      -----------
      The implementation of action bar is a little bit tricky. It is assumed that right bar is the tallest.
      Therefore, left and center have to be centered vertically.
      Also, middle bar has to be centered horizontally *independently* of left and right action bars.
      Vertical align solution taken from: http://emergentweb.com/test/valign.html (note three divs!)
      If anyone knows any better solution, feel free to change this.
      -----------
    {% endcomment %}

    <div class="task-action-bar-right">
      {% useroptions view_type|default:"task_view_type" as view %}
        {% useroption 0 "<i class=icon-list></i> Lista" default %}
        {% useroption 1 "<i class=icon-align-justify></i> Tekst" %}
        {% useroption 2 "<i class=icon-th-large></i> Dva stupca" %}
        {% if user.is_staff %}
          <a href="?{% generate_get_query_string options='' %}" class="btn btn-mini{% if options_mode %} active{% endif %}">
            <i class="icon-cog"></i> Opcije
          </a>
        {% endif %}
      {% enduseroptions %}
    </div>

    <div class="task-action-bar-left center-vertically">
      <div> {# vertical center fix #}
        <div>
          <div>
            <form action="/task/export/" method="post">
              {% csrf_token %}
              <input type="hidden" name="ids" value="{{ task_ids|join:',' }}">
              <button type="submit" class="blank" name="format" value="latex"><img src="/static/images/tex16.png" alt="LaTeX" title="Pretvori u LaTeX"></button>
              <button type="submit" class="blank" name="format" value="pdf"><img src="/static/images/pdf16.png" alt="PDF" title="Pretvori u PDF"></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="task-action-bar-header center-vertically">
      <div> {# vertical center fix #}
        <div>
          <div>
            Lista zadataka
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if options_mode %}
    <div>
      <br>
      Ukupno odabranih zadataka: {{ tasks|length }}<br>
      Na ovaj način možete napraviti jedan LaTeX, odnosno PDF sa svim odabranim zadacima.<br>
      {% if unlocked_task_count %}
        <br>
        <span style="color:red;">
          <b>Upozorenje:</b> Neki odabrani zadaci su neotključani ({{ unlocked_task_count }}).
        </span>
      {% endif %}
    </div>
  {% else %} {# ... no options #}
    {# value must be unicode #}
    {% if view == '0' %}
      {% include "inc_task_list_table.html" %}
    {% endif %}

    {% if view == '1' %}
      {% paginate %}
      {% for task in tasks %}
        {% task_small_box task 'task-text' '' '' %}
      {% endfor %}
    {% endif %}

    {% if view == '2' %}
      {% paginate %}
      {% for task in tasks %}
        {% cycle '<div class="row-fluid">' '' %}
        {% task_small_box task 'span6' '' %}
        {% cycle '' '</div>' %}
      {% endfor %}
      {% if not tasks|length|divisibleby:2 %}
        </div>
      {% endif %}
    {% endif %}

    {% paginate %}
  {% endif %} {# options / no options #}
{% else %} {# tasks / no tasks #}
  {% if empty_message %}{{ empty_message }}{% endif %}
{% endif %}
