{% load solution_tags %}
{% load tags_tags %}
{% load task_tags %}

{# Note that JavaScript task-tooltip makes some assumptions about the this structure. #}
{# task-container also used for tr. #}
<div class="{{ div_class }} task-container" data-task-id="{{ task.id }}">
  {% if well %}
  <div class="well">
  {% endif %}
    <div style="float:right;text-align:right;">
      {% tag_list task %}<br>
      <span class="sol-label-container">{% solution_label task %}</class>
    </div>
    <h4>{% task_link task tooltip=1 url_suffix=url_suffix %}</h4><br>

    {{ task.content.render }}

    {% if 'timesince' in options %}
      <div style="text-align:right;color:gray;">{{ task.date_created|timesince }}</div>
    {% endif %}
  {% if well %}
  </div>
  {% endif %}
</div>
