{% load sorting_tags %}

{% load tags_tags %}
{% load task_tags %}
{% load rating_tags %}

<table width="100%" class="table-striped task-table" style="text-align: center;">
  <thead>
  <tr>
    {% if user.profile.selected_folder %}<th width="50">U mapi</th>{% endif %}
    <th width="30">{% anchor id # %}</th>
    <th>Naslov</th>
    <th>Tagovi</th>
    <th>{% anchor solved_count Rj. %}</th>
    {% if search_solved_count %}<th>(Rj.)</th>{% endif %}
    <th>{% anchor quality_rating_avg Kvaliteta %}</th>
    <th>{% anchor difficulty_rating_avg Težina %}</th>
  </tr>
  </thead>

  <tbody>
  {% for task in tasks %}
    <tr class="{% if task.cache_solution %}{{ task.cache_solution.get_html_info.tr_class }}{% elif task.hidden %}task_hidden{% endif %}">
      {% if user.profile.selected_folder %}
        <td><input type="checkbox" class="folder_checkbox"{% if task.is_in_folder %} checked="checked"{% endif %}></td>
      {% endif %}

      <td>{{ task.id }}</td>
      <td>{{ task.get_link }}</td>
      <td>{% if plus_exclude %}{% tag_list task plus_exclude %}{% else %}{% tag_list task %}{% endif %}</td>

      {% if task.solved_count != 0 %}
        <td><a href="/solution/task/{{ task.id }}/">{{ task.solved_count }}</a></td>
      {% else %}
        <td>0</td>
      {% endif %}

      {% if search_solved_count %}
        <td>{{ task.search_solved_count }}</td>
      {% endif %}

      <td style="width:80px;">{% rating_stars task.quality_rating %}</td>
      <td style="width:80px;">{% rating_stars task.difficulty_rating %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
