{% extends "base.html" %}

{% load tags_tags %}

{% block title %}
    {% if edit %}
        Uređivanje zadatka {{ edit }}
    {% else %}
        Novi zadatak
    {% endif %}
{% endblock %}


{% block content %}

{% if advanced %}
<a href="/task/new/advanced/">Jednostavno</a><br><br>
Naprednim dodavanjem zadataka možete odjednom dodati više zadataka sličnog imena i sličnih tagova.<br>
Zadatke razdvajajte oznakom <pre>@@@@@</pre>.<br>
Ukoliko želite navesti broj zadatka u imenu ili tagovima, napišite <pre>[[#]]</pre>.<br>
Npr. Ime: <pre>IMO 2011</pre>, Tagovi: <pre>IMO, 2011, IMO</pre>.<br><br>
{% else %}
{% if perms.task.add_advanced %}<a href="/task/new/advanced/">Napredno</a><br><br>{% endif %}
{% endif %}

{% if edit %}
    <div style="float:right;">
        <a href="/mathcontent/{{ task.content.id }}/attachments/" class="btn">Pregled datoteka</a><br>
    </div>
{% endif %}

<form action="{{ action_url }}" method="post">
    {% csrf_token %}
    {% for form in forms %}
        {{ form.as_p }}
    {% endfor %} 
    <input type="submit" class="btn btn-primary" value="Pošalji" />
</form>
{% tags_autocomplete_script %}

{% endblock content %}
