{% extends "base.html" %}

{% load mathcontent_tags %}
{% load post_tags %}
{% load rating_tags %}
{% load tags_tags %}

{% block title %}{{ task.name|default:"Pregled zadatka" }}{% endblock %}

{% block content %}

<div style="float:right;">
  {% if can_edit %}<a href="/task/{{ task.pk }}/edit/" class="btn">Uredi</a>{% endif %}
</div>

<a href="javascript: history.go(-1)">« Vrati se</a>


<br><br>
<h3 class="task-title">{{ task.name }}</h3>
<div style="float:left;">
  {% if solution and not solution.is_blank %}
    <span class="label {{ solution.get_html_info.label_class }}">{{ solution.get_html_info.label_text }}</span><br>
  {% endif %}
  <br>
  {% if user.is_authenticated %}
    {% rating_box "Kvaliteta" task.quality_rating %}
    {% rating_box "Težina" task.difficulty_rating %}
  {% endif %}
  <a href="/task/export/latex/{{ task.id }}/"><img src="/static/images/tex16.png" alt="LaTeX" title="Export to LaTeX"></a>
  <a href="/task/export/pdf/{{ task.id }}/"><img src="/static/images/pdf16.png" alt="PDF" title="Export to PDF"></a>
</div>

<div style="text-align:right;">
  Dod{% gender 'ao' 'la' task.author.get_profile.gender %}: {{ task.author|userlink }}<br>
  {{ task.date_created|date:"E j, Y" }}<br>
  {% tag_list task %}
</div>

<br><br>
{% if task.is_file %}
  <a href="{{ task.cache_file_attachment_url }}">
    <div id="task-file" class="well center-vertically">
      <div>
        <div>
            {{ task.file_attachment.get_filename }}<br>
            <span id="task-file-info">Kliknite ovdje kako biste otvorili datoteku.</span>
        </div>
      </div>
    </div>
  </a>
{% endif %}

{% if not task.content.is_empty %}
  <div class="task-content well">
    {# TODO: render tag! #}
    {% if user.is_authenticated %}
      {{ task.content.render_quote }}
    {% else %}
      {{ task.content.render }}
    {% endif %}
  </div>
{% endif %}

{% if not task.is_file %}
  {% mathcontent_attachments task.content %}
{% endif %}

<div>
  <div class="task-info-right">
    {% if task.source %}
      <div class="task-source">Izvor: {{ task.source }}</div>
    {% endif %}
  </div>

  {% if user.is_authenticated %}
    {# Show solution to the solution if it exists for some reason... #}
    {% if solution.is_submitted %}
      <a href="/solution/{{ solution.id }}/">Prikaži moje rješenje</a><br>
    {% elif task.solvable %}
      <form action="/task/{{ task.id }}/mark/" method="post">
        {% csrf_token %}
        <div class="btn-group">
          <a href="/task/{{ task.id }}/submit/" class="btn"><i class="icon-file"></i> Pošalji rješenje</a>

          {% if solution.is_as_solved %}
            <button type="submit" name="action" value="blank" class="btn"><i class="icon-remove"></i> Makni oznaku riješenog</button>
          {% else %}
            <button type="submit" name="action" value="as_solved" class="btn"><i class="icon-ok"></i> Označi kao riješeno</button>
          {% endif %}

          {% if solution.is_todo %}
            <button type="submit" name="action" value="blank" class="btn"><i class="icon-remove"></i> Makni To Do oznaku</button>
          {% else %}
            <button type="submit" name="action" value="todo" class="btn"><i class="icon-tag"></i> To Do</button>
          {% endif %}
        </div>
      </form>
    {% endif %}
  {% endif %}
</div>

{% if task.solvable %}
  <a href="/solution/task/{{ task.id }}/">Pregledaj poslana rješenja</a><br>
{% endif %}
<a href="/task/{{ task.id }}/similar/">Slični zadaci {{ task.file_attachment_id|yesno:"i datoteke,," }}</a><br>
<br>
<br>
<br>

{% show_posts_small task %}

{% endblock content %}
