{% extends "base.html" %}

{% block title %}
  {% if is_file %}
    {% if edit %}
      Uređivanje datoteke {{ task.name }}
    {% else %}
      Nova datoteka
    {% endif %}
  {% else %}
    {% if edit %}
      Uređivanje zadatka {{ task.name }}
    {% else %}
      Novi zadatak
    {% endif %}
  {% endif %}
{% endblock %}


{% block content %}

{% if not is_file %}
  {% if advanced %}
    <a href="/task/new/">Jednostavno</a><br><br>
    Naprednim dodavanjem zadataka možete odjednom dodati više zadataka sličnog imena i sličnih oznaka.<br>
    Zadatke razdvajajte oznakom <pre>@@@@@</pre>.<br>
    Ukoliko želite navesti broj zadatka u imenu ili tagovima, napišite <pre>[[#]]</pre>.<br>
    Npr. Ime: <pre>IMO 2011</pre>, Oznake: <pre>IMO, 2011, IMO</pre>.<br><br>
  {% else %}
    {% if perms.task.add_advanced %}<a href="/task/new/advanced/">Napredno</a><br><br>{% endif %}
  {% endif %}
{% endif %}

<div style="float:right;text-align:right;">
  {% if edit and not is_file %}
    <a href="/mathcontent/{{ task.content_id }}/attachments/" class="btn">Pregled datoteka</a><br><br>
  {% endif %}
  <a href="/tags/" target="_blank">Popis oznaka</a>
</div>

<br>
<div style="width: 70%; margin-left: 10px; font-style: italic;">
  {% if is_file %}
    Napomena: Nemojte dodavati datoteke za čiji sadržaj nemate ovlasti!
  {% else %}
    Napomena: Nemojte dodavati zadatke za koja nemate ovlasti. Također, nemojte
    dodavati zadatke s domaćih natjecanja (općinskih, županijskih, državnih,
    izbornih) i s olimpijada (IMO, shortlist, MEMO, HMO), jer će to prije ili
    poslije dodati mentori. Ukoliko dodajete zadatke s natjecanja, po mogućnosti
    dodajte sve zadatke odjednom (svih, primjerice, pet zadataka).
  {% endif %}
</div>

<br><br>

<form {% if is_file %}enctype="multipart/form-data"{% endif %} action="{{ action_url }}" method="post">
  {% csrf_token %}
  <table class="kill-br split-form">
    {# Any better solution to split a form? #}

    <tr class="split-form-row"><th colspan="2">Osnovno</th></tr>
    {% get_fieldset name,tags,source as first_part from forms.0 %}
    {{ first_part.as_table }}

    <tr class="split-form-row"><th colspan="2">Sadržaj</th></tr>
    {{ forms.1.as_table }}
    {{ forms.2.as_table }} {# if taskfile #}

    <tr class="split-form-row"><th colspan="2">Napredno</th></tr>
    {% get_fieldset hidden,solvable,solution_settings as second_part from forms.0 %}
    {{ second_part.as_table }}
  </table>
  <br>
  <input type="submit" class="btn btn-primary" value="Pošalji">
</form>

{% endblock content %}
