{% extends "base.html" %}
{# DEPRECATED #}

{% load task_tags %}

{% block title %}Zadaci {{ id_list }}{% endblock %}

{% block content %}

<div style="float:left;">
  <br>
  <a href="/task/export/latex/{{ id_list_ns }}/"><img src="/static/images/tex16.png" alt="LaTeX" title="Export to LaTeX"></a>
  <a href="/task/export/pdf/{{ id_list_ns }}/"><img src="/static/images/pdf16.png" alt="PDF" title="Export to PDF"></a>
</div>
<br><br><br>

{# TODO: DRY, make new tag for this #}
{% cache_task_info tasks %}
{% for task in tasks %}
  {% cycle '<div class="row-fluid">' '' %}
  {% task_small_box task 'span6' '' %}
  {% cycle '' '</div>' %}
{% endfor %}

{% endblock %}