{% load url from future %}
{% load i18n %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}"
    class="no-table" data-cy="login">
  {% csrf_token %}
  {{ form }}
  <p>
    {% url 'auth_password_reset' as auth_password_reset_url %}
    {% blocktrans %}
      <a href="{{ auth_password_reset_url }}">Forgot</a> the password?
    {% endblocktrans %}
    {% if not no_new_account_link %}
      <a href="{% url 'registration_register' %}">
        {% trans "Do not have an account?" %}
      </a>
    {% endif %}
  </p>

  <button type="submit" class="btn btn-primary">
    {% trans "Sign in" context "action" %}
  </button>
  <input type="hidden" name="next" value="{{ next }}">
</form>
