{% load i18n %}
<form method="post" action="/accounts/register/" class="no-table">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.html_name != 'tou' %}
      {{ field }}
      {{ field.errors }}
    {% endif %}
  {% endfor %}

  <label for="id-tou">
    {{ form.tou.label|safe }}:
  </label>
  <input type="checkbox" id="id-tou" name="tou">
  {{ form.tou.errors }}
  <button class="btn btn-primary" type="submit">
    {% trans "Register" context "action" %}
  </button>
  <input type="hidden" name="final_url" value="{{ final_url }}">
</form>
