{% extends "base.html" %}

{% load mathcontent_tags %}

{% block title %}{% trans "Submit a solution" context "title" %}{% endblock %}

{% block content %}

{% trans "Task" %}: {{ task.get_link }}
<div class="task-container mc-hover-area outset">
  {% mathcontent_render task.content %}
</div>

<form id="solution-submit-form" action="{{ action_url }}" method="post">
  {% csrf_token %}
  {{ form.text }}
  <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}" />
</form>

{% endblock content %}
