{% extends "base.html" %}

{% load mathcontent_tags %}
{% load post_tags %}
{% load rating_tags %}

{% block title %}Rješenje zadatka &quot;{{ solution.task.name }}&quot; korisnika &quot;{{ solution.author }}&quot;{% endblock %}

{% block content %}

<div style="float:left;">
  {% rating_display_bool manager=solution.correctness red_if_lt=SOLUTION_CORRECT_SCORE %}
</div>
<div id="solution-action-bar-right">
  {{ solution.date_created }} ({{ solution.date_created|timesince }})<br>
  {% if can_edit %}
    <form action="/solution/{{ solution.pk }}/edit/mark/" method="post">
      {% csrf_token %}
      <div class="btn-group">
        {% if can_mark_as_official %}
          {% if solution.is_official %}
            <button class="btn btn-mini" name="action" value="official0">Makni oznaku službenog</button>
          {% else %}
            <button class="btn btn-mini" name="action" value="official1">Označi kao službeno</button>
          {% endif %}
        {% endif %}
        {% ifequal solution.author.id user.id %}
          <button class="btn btn-mini" name="action" value="blank" title="Staro rješenje će ostati spremljeno za ponovno slanje, ali neće biti inače vidljivo.">Izbriši rješenje</button>
          <button class="btn btn-mini" name="action" value="as_solved" title="Tekst rješenja neće biti vidljiv.">Označi kao riješeno</button>
          <button class="btn btn-mini" name="action" value="todo" title="Tekst rješenja neće biti vidljiv.">To Do</button>
          <a class="btn btn-mini" href="/solution/{{ solution.pk }}/edit/">Uredi</a>
        {% endifequal %}
      </div>
    </form>
  {% endif %}
  {% if solution.is_official %}
    <span class="label label-info">Službeno rješenje</span>
  {% endif %}
  {% if user.is_authenticated and user != solution.author %}
      {% rating_box "Točnost" solution.correctness 1 %}
  {% endif %}
</div>

<div id="solution-info-left">
  <i>Korisnik: {{ solution.author|userlink }}</i><br>
  <i>Zadatak: {{ solution.task.get_link }}</i>
  <a href="#" id="solution-toggle-task">
    (Sakrij tekst zadatka)
  </a>
</div>

<div class="outset mc-hover-area" id="solution-task">
  {% mathcontent_render solution.task.content quote=user.is_authenticated %}
</div>

<div class="outset mc-hover-area" id="solution-container">
  {% if obfuscate %}
    <div id="solution-unhide-box">
      <div class="center-vertically">
        <div>
          <div>
            Upozorenje: Ovaj zadatak još niste riješili!<br>
            Kliknite ovdje kako biste prikazali rješenje.
          </div>
        </div>
      </div>
    </div>
    <div id="solution-inner-container" style="visibility: hidden;">
  {% endif %}

  {% mathcontent_render solution.content quote=user.is_authenticated %}

  {% if obfuscate %}
    </div> {# solution-inner-container #}
  {% endif %}
</div>

{% if solution.correctness_avg %}
  <br>
  <h5>
    <a href="#" id="solution-ratings-toggle">Ocjene: ({{ ratings|length }})</a>
  </h5>
  <table class="table-striped table-condensed"
         style="text-align:center;width:400px;display:none;"
         id="solution-ratings">
  {% for x in ratings %}
    <tr>
      <td>{{ x.date }}</td>
      <td>{{ x.user|userlink }}</td>
      <td>
        {% rating_display_bool manager=solution.correctness red_if_lt=SOLUTION_CORRECT_SCORE value=x.value %}
      </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}
<br><br><br>
{% show_posts_small solution %}

{% endblock content %}
