{% extends "base.html" %}

{% load pagination_tags %}

{% load pm_tags %}
{% load usergroup_tags %}

{% block title %}Inbox{% endblock %}

{% block content %}

<div style="text-align:center;font-size:24px;">Outbox</div>

<br>
<a href="/pm/">Inbox</a><br>
<a href="/pm/new/">Pošalji novu poruku</a><br><br>


{% autopaginate pm 5 %}

{% for m in pm|cache_pm_info %}
<div class="well">
    {{ m.date_created }}
    {% for r in m.cache_recipients %}
        {{ r|grouplink }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    <br>
    <b>{{ m.subject }}</b><br><br>
    {{ m.content.render|safe }}
</div>
{% empty %}
<br><center><i>Nema poruka</i></center><br>
{% endfor %}

{% paginate %}

{% endblock %}
