@import "main";

/* CSS for base.html (page structure) */

/* TODO: Sass! Most of the colors are closely related. */
/*   Changing the color now requires changing all the colors manually. */


/* General */
body {
  background-color: $body-bg-color;
  padding: 0px; /* change to bootstrap */
}

#header {
  background-color: rgb(206, 216, 214);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from($header-color1), to($header-color2));
  box-shadow: 0 1px 4px $body-box-shadow-color;
  margin-bottom: 3px;
  padding: 5px!important;

  form {
    padding: 0px!important;
    margin-bottom: 0px!important;
  }
}

#site-container {
  padding: 10px;
}

#content, #sidebar {
  border-radius: 5px;
  box-shadow: 0 1px 4px $body-box-shadow-color;
}

#content {
  /* background-color: rgb(235, 231, 229); rgb(232, 236, 235) */
  background-color: rgb(240, 245, 244);
  padding: 10px;
}

#sidebar {
  /* background-color: rgb(245, 242, 240); */
  background-color: rgb(246, 250, 249);
  margin-bottom: 10px;
  padding: 15px 5px;
}

#header-bar {
  float: right;
  margin-top: 4px;
}

#hbar-flags {
  float: left;
  margin: 4px 10px 0 10px;
  > button {
    padding: 0px;
    border: 0px;
  }
  > button > img {
    width: 24px;
  }
}

#hbar-sel-folder {
  float: left;
  margin: 5px 5px 0 0;
}

#hbar-search {
  float: left;
  margin-right: 5px;

  input.ac-tags {
    width: 90px!important;
  }
}

#hbar-login {
  float: left;
  margin-left: 20px;

  > input {
    margin: 0px 2px;
  }
}

#hbar-collapse-sidebar {
  display: none;
}

#nav-hello-user {
  padding: 0 0 1em 12px;
}

.nav-sol-new-cnt {
  color: red;
}

.nav-sol-old-cnt {
  color: #BBBBBB;
}

#sitename {
  float: left;
  padding-left: 20px;

  img {
    vertical-align: -0.2em;
  }

  a {
    color: black;
    font-family: Georgia, Arial, serif;
    font-style: italic;
    text-shadow: 1px 1px 1px rgb(182, 182, 182);
  }

  a:hover {
    color: black;
    text-decoration: none;
  }
}

#footer {
  margin: 0px 20px 5px 10px;
  text-align: right;
  font-size: 12px;
  color: #D0D0D0;

  > span {
    padding: 0px 5px;
    > a {
      color: #C0D0F0;
      > img {
          vertical-align: -2px;
      }
    }
  }
}


a.register {
  color: red;
}

.unread_pms_count {
  /* should this be here? */
  color: red;
}

@media (min-width: $screen-md-min) {
  #content {
    margin: 0 0 0 225px + 24px;
  }

  #sidebar {
    float: left;
    width: 225px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #content {
    margin: 0 0 0 205px + 24px;
  }

  #sidebar {
    float: left;
    width: 205px;
  }
}

@media (max-width: $screen-xs-min - 1px) {
  h2 {
    font-size: 22px;
  }

  #content {
    padding: 7px;
  }

  #footer {
    text-align: center;
    > span {
      white-space: nowrap;
    }
  }

  #site-container {
    padding: 7px;
  }
}

@media (max-width: $screen-xs-max) {
  #hbar-login {
    margin-left: 0px;

    > input {
      margin: 0px 1px;
    }
    > input[type=text], > input[type=password] {
      width: 87px;
    }
  }

  #hbar-collapse-sidebar {
    float: left;
    display: block;
    margin-left: 5px;
  }

  #sidebar {
    display: none;
  }
}

/* Task translations */
.lang {
  display: inline-block;
}
.all-langs .lang {
  display: inline-block !important;
  border: purple 1px solid;
}
