@import "main";

/* Homepage */
.homepage-info {
  margin-bottom: 25px;
  font-family: "Georgia", Arial, sans-serif;
  color: #444;
}

#homepage-registration {
  margin: 0px 20px 0px 20px;
}

@media (min-width: $screen-xs-min) {
  #homepage-registration {
    float: right;
    min-width: 205px;
    width: 30%;
  }
}

#homepage-registration {
  > h3 {
    margin-bottom: 10px;
  }

  button {
    margin-top: 5px;
  }

  input {
    font-size: 15px;
    height: auto;
    margin-bottom: 7px;
    padding: 7px 9px;
  }

  input[type=checkbox] {
    vertical-align: bottom;
  }

  input[type=text], input[type=password] {
    width: 100%;
    box-sizing: border-box;
  }
}

div#homepage-auth-xs-phone {
  margin-bottom: 25px;
  text-align: center;
}

a.homepage-auth {
  font-size: 19px;
  font-weight: bold;
  padding: 10px;
  text-shadow: 1px 1px 1px #d2d2d2;
}

/* News */
.news .mc {
  padding-left: 5px;
}

.news .title {
  font-weight: bold;
  color: #0080DD;
  padding: 5px 0px;
}

.news .added-by {
  color: #AAAAAA;
  padding: 10px 0px;
  font-size: 12px;
}

