{% load url from future %}
{% load compressed %}
{% load base_tags %}
{% load competition_tags %}
{% load i18n %}
<!DOCTYPE html>

<html>
  <head>
    <script>is_authenticated={{ user.is_authenticated|lower }};</script>
    {% compressed_css 'style' %}
    {% compressed_js 'scripts' %}
    <script type="text/javascript" src="{% url 'skoljka.base.views.cached_javascript_catalog' %}"></script>

    {# TODO: move to /favicon.ico. More a server configuration problem, but still... #}
    <link href="/static/images/favicon.ico" rel="shortcut icon">

    <title>{% block title %}{{ competition.name }} - Školjka{% endblock %}</title>

    <meta name="content-language" content="{{ LANGUAGE_CODE }}">
    <meta name="viewport" content="width=device-width">
    {% language_preference_style %}
    {% if is_admin %}<script>window.is_admin = true;</script>{% endif %}
  </head>
<body style="text-rendering: optimizeLegibility;">
{% settings_constant EXTRA_HEADER_TOP %}
<div id="header" class="row">
  <h1 id="sitename">
    <a href="/">
      <img src="/static/images/shell32.png" alt="Školjka">
    </a>
    <a href="{% comp_url %}" id="competition-name">
      {{ competition.name }}
    </a>
  </h1>

  <div id="header-bar">
    <div class="row-fluid">
      {% include 'inc_header_themes.html' %}
      {% include 'inc_header_languages.html' %}
      <a id="hbar-collapse-sidebar" class="collapse-button btn"
          data-target="sidebar" href="#">
      </a>
    </div>
  </div>
</div>

<div id="site-container">
  <div id="sidebar">
    {% if user.is_authenticated %}
      <div id="nav-hello-user">
        {% blocktrans with userlink=user|userlink:"first_name" %}
          Hello, {{ userlink }}!
        {% endblocktrans %}
        {% if team and competition.are_teams_editable and competition.is_team_competition %}
          <br>
          {% trans "Team:" %}
          <a href="{% comp_url 'registration' %}" data-cy="edit-team">{{ team.name }}</a>
        {% endif %}
      </div>
    {% endif %}
    <ul class="nav nav-list">
      <li class="nav-header">{% trans "Menu" %}</li>
      <li><a href="{% comp_url %}">{% trans "Home" %}</a></li>
      {% if not team and not has_finished and current_time > competition.registration_open_date or is_admin %}
        <li><a href="{% comp_url 'registration' %}" class="register">
            {% trans "Registration" %}</a></li>
      {% endif %}
      <li>
        <a href="{% comp_url 'task' %}">
          {% if competition.is_course %}
            {% trans "Lectures and problems" %}
          {% else %}
            {% trans "Problems" %}
          {% endif %}
        </a>
      </li>
      {% if competition.public_scoreboard %}
        <li>{{ competition.get_scoreboard_link }}</li>
      {% endif %}
      {% if user.is_authenticated %}
        <li><a href="{% comp_url 'notifications' %}">
            {% trans "Notifications" %}</a></li>
      {% endif %}
      {% if team and competition.are_teams_editable and competition.is_individual_competition %}
        <li><a href="{% comp_url 'registration' %}" data-cy="edit-participation">
            {% trans "Edit participation" %}</a></li>
      {% endif %}
      {% if is_admin %}
        <li class="nav-header">{% trans "Admin" %}</li>
        <li><a href="{% comp_url 'team/list/admin' %}">{{ competition.get_team_metaname_plural }}</a></li>
        <li><a href="{% comp_url 'chain/tasks' %}">{% trans "Problems" %}</a></li>
        <li><a href="{% comp_url 'chain' %}">{% trans "Chains" %}</a></li>
        <li><a href="{% comp_url 'notifications/admin' %}">
            {% trans "Notifications" %}</a></li>
        {% if not competition.public_scoreboard %}
          <li>{{ competition.get_scoreboard_link }}</li>
        {% endif %}
        {% if user.is_superuser %}
          <li><a href="{% my_url 'admin:app_list' 'competition' %}">
              Admin</a></li>
          {# TODO: Change to my_url/url after upgrading to Django 1.5. #}
          <li><a href="/admin/competition/competition/{{ competition.id }}/">
            Competition admin</a></li>
        {% endif %}
        <li><label class="checkbox">
            <input type="checkbox" id="all-langs" checked>
            {% trans "Debug translations" %}</label></li>
      {% endif %}
    </ul>
  </div>

  <div id="content">
      <div id="comp-float-right">
        <span class="{{ nearly_finished|yesno:"nearly-finished," }}">
          {% trans "Time:" %} {{ current_time|date:"H:i" }}
        </span>
        {% block float_right_extra %}{% endblock %}
      </div>
      {% block content %}
      {% endblock content %}
  </div>
</div>

<div id="footer">
  <span class="footer">Školjka {% settings_constant VERSION_FOOTER %} 2012-2024</span>
  <a class="footer" href="/about/">{% trans "About Us" %}</a>
  <a class="footer" href="/tou/" target="_blank">{% trans "Terms of Use" %}</a>
  <a class="footer" href="{{ competition.get_rules_url }}" target="_blank">
    {{ competition.get_rules_page_name }}
  </a>
</div>

</body>
</html>
