{% extends "competition_base.html" %}
{% load competition_tags %}
{% load i18n %}

{% block content %}

<h3 class="comp-header">
  {% if as_participants %}
    {% trans "Participants" %}
  {% else %}
    {% trans "Scoreboard" %}
  {% endif %}
</h3>

{% if is_admin and not competition.public_scoreboard %}
  <div class="alert">
    {% trans "Visible only to the admins!" %}
  </div>
{% endif %}

{% if not has_started %}
  <div class="alert">{{ competition.msg_has_not_started }}</div>
{% endif %}

{% if has_finished %}
  <div class="alert">{{ competition.msg_has_finished }}</div>
{% endif %}

{% if is_scoreboard_frozen %}
  <div class="alert">
    {% trans "The results have been frozen. The final results will be available shortly after the competition." %}
    {% if is_admin %}
      {% if request.GET.sort == 'actual_score' %}
        <a href="{{ competition.get_scoreboard_url }}?sort=score">
          {% trans "Sort by frozen score" %}
        </a>
      {% else %}
        <a href="{{ competition.get_scoreboard_url }}?sort=actual_score">
          {% trans "Sort by real score" %}
        </a>
      {% endif %}
    {% endif %}
  </div>
{% endif %}

<div class="row row-fix">
  <div class="span6">
    <table class="table-striped" id="comp-scoreboard-table" data-cy="scoreboard">
      <tr>
        <th>#</th>
        {% if competition.team_categories %}
          <th title="{{ team_categories_title }}">{% trans "Category" %}</th>
        {% endif %}
        <th><a href="{{ competition.get_scoreboard_url }}?sort=name">
          {{ competition.get_team_metaname }}
        </a></th>
        <th><a href="{{ competition.get_scoreboard_url }}?sort=score">{% trans "Total score" %}</a></th>
      </tr>
      {% for t in teams %}
        <tr class="
            {% if t.id == team.id %}comp-my-team{% endif %}
            {{ t.get_type_css_class }}">
          <td>{{ t.t_position }}{{ t.is_normal|yesno:",*" }}</td>
          {% if competition.team_categories %}
            <td>{{ t.t_category }}</td>
          {% endif %}
          <td>{{ t.get_link }}</td>
          <td>{% team_score t %}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% if is_admin %}
  <form action="" method="post" id="comp-scoreboard-admin-refresh">
    {% csrf_token %}
    <input type="submit" name="refresh" value="Refresh" class="btn">
    -- Do not use if not necessary!
  </form>
  {% if refresh_calculation_time %}
    <span>Refresh time: {{ refresh_calculation_time.total_seconds }}s</span>
  {% endif %}
{% endif %}

{% endblock content %}
