{% extends "competition_base.html" %}
{% load bootstrap_toolkit %}
{% load competition_tags %}
{% load i18n %}

{% block content %}

{# This template not reachable for has_finished=True case. #}

{% if competition.registration_open_date > current_time %}
  <h3 class="comp-header">{% trans "Registration" %}</h3>
  <div class="alert">{% trans "Registration not open yet." %}</div>

  {% if is_admin %}
    <div class="alert">{% trans "Currently visible only to admins!" %}</div>
  {% endif %}
{% endif %}

{% if 'created' in request.GET %}
  <div class="alert alert-success">{% trans "Registration successful!" %}</div>
{% endif %}

{% if 'changes' in request.GET %}
  <div class="alert alert-success">{% trans "Changes saved!" %}</div>
{% endif %}

{% if current_time >= competition.registration_open_date or is_admin %}
  {% if not has_finished and not team and team_invitations %}
    <h3 class="comp-header">{% trans "Invitations" %}</h3>
    <form action="{{ requst.get_full_path }}" method="POST" class="row row-fix">
      {% csrf_token %}
      <table id="creg-invitations-table" class="span6" data-cy="invitations-table">
        <tr>
          <th>{% trans "Team" %}</th>
          <th>{% trans "Founder" %}</th>
          <th>&nbsp;</th>
        </tr>
        {% for tm in team_invitations %}
          <tr>
            <td>{{ tm.name }}</td>
            <td>{{ tm.author|userlink }}</td>
            <td>
              <button type="submit" name="invitation-accept" class="btn"
                  value="{{ tm.id }}">
                {% trans "Accept invitation" %}
              </button>
            </td>
          </tr>
        {% endfor %}
      </table>
    </form>
  {% endif %}

  {% if team_form and not competition.is_course %}
    {% if team %}
      <h3 class="comp-header">{% trans "Edit Team" %}</h3>
    {% elif competition.is_individual_competition %}
      <h3 class="comp-header">{% trans "Competition Registration" %}</h3>
    {% else %}
      <h3 class="comp-header">{% trans "Team Registration" %}</h3>
    {% endif %}

    {% if competition.is_individual_competition %}
      {% if not team %}
        <div class="instructions" data-cy="instructions">
          <p>{% trans "Please register to participate in the competition." %}</p>
        </div>
      {% endif %}
    {% else %}
      <div class="instructions">
        {% if not team %}
          <p>{% trans "To participate in the competition, please enter your team name and list the other team members." %}</p>
        {% endif %}
        {% blocktrans %}
          <p>To invite other Školjka users to your team, press "Invite user"
          and enter their usernames. After submitting the form, the specified
          users will receive an invitation that they can accept by visiting the
          registration page from their accounts and pressing "Accept invitation".</p>
          <p>To list the team members without an account, simply enter their names.</p>
        {% endblocktrans %}
      </div>

      {% reg_available_users %}
    {% endif %}

    <form action="{{ request.get_full_path }}" method="POST" id="creg-form" data-cy="creg">
      {% csrf_token %}
      {{ team_form.non_field_errors }}
      <div id="creg-table">
        {% if team_form.name %}
          <div>
            <div>{% trans "Team name:" %}</div>
            {% bootstrap_field team_form.name %}
          </div>
        {% endif %}
        <div id="creg-table-category">  {# ID used by reg_add_member_field. #}
          {% if team_form.category %}
            <div>{% trans "Category:" context "competition-team" %}</div>
            <div>{{ team_form.category }}</div>
          {% endif %}
        </div>
      </div>

      {% if not competition.is_individual_competition %}
        {% reg_add_member_fields %}
        <script>
          reg_add_listeners();
        </script>
      {% endif %}

      <br>
      {% if team %}
        <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}" data-cy="submit-team-changes">
      {% else %}
        <input type="submit" class="btn btn-primary" value="{% trans "Register" %}" data-cy="register">
      {% endif %}
    </form>
  {% elif team_form and competition.is_course %}
    <h3 class="comp-header">{% trans "Course Registration" %}</h3>

    <div class="instructions">
      <p>{% blocktrans %}Please register to get access to the course content and to be able to submit solutions and receive feedback.{% endblocktrans %}</p>
    </div>

    <form action="{{ request.get_full_path }}" method="POST" id="creg-form">
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="{% trans "Register" %}">
    </form>
  {% elif team %}
    {% include 'inc_competition_team_detail.html' with preview_team=team %}
  {% endif %}
{% endif %} {# registration open or is_admin #}

{% if is_admin and not has_private_team %}
  <br>
  <div class="alert">
    As an administrator, you can create a private admin team used for reviewing
    the problems. In parallel to that team, you can have a normal team (NOT YET
    IMPLEMENTED). Switching between the teams will be available in the menu.

    <form method="POST" action="{{ request.get_full_path }}">
      {% csrf_token %}
      <button type="submit" name="create-admin-private-team" value="1">
        Create the private team
      </button>
    </form>
  </div>
{% endif %}

{% endblock content %}
