{% extends "base.html" %}

{% load usergroup_tags %}
{% load i18n %}

{% block title %}{% trans "Competitions" %}{% endblock %}

{% block content %}

<div id="comp-float-right">
  <span>{% trans "Time:" %} {{ current_time|date:"H:i" }}</span>
</div>

<table id="comp-list" class="table-striped table-condensed">
  <tr>
    <th width="30">#</th>
    <th>{{ kind_name }}</th>
    <th>{% trans "Registration start" %}</th>
    <th>{% trans "Start" %}</th>
    <th>{% trans "End" %}</th>
    <th>&nbsp;</th>
  </tr>
{% for comp in competitions %}
  {% if comp.hidden %}<tr class="comp-list-hidden">{% else %}<tr>{% endif %}
    <td>{{ comp.id }}</td>
    <td><a href="{{ comp.get_absolute_url }}">{{ comp.name }}</a></td>
    <td>{{ comp.registration_open_date }}</td>
    <td>{{ comp.start_date }}</td>
    <td>{{ comp.end_date }}</td>
    <td>
      {% if comp.registration_open_date < current_time %}
        {% if current_time < comp.end_date %}
          {% if comp.id in member_of %}
            <a href="{{ comp.get_absolute_url }}">{% trans "Enter" %}</a>
          {% else %}
            <a href="{{ comp.get_registration_url }}" class="register">
              {% trans "Registration" %}
            </a>
          {% endif %}
        {% else %}
          {{ comp.get_scoreboard_link }}
        {% endif %}
      {% else %}
        <span class="comp-list-reg-not-open">
          {% trans "Registration not open yet." %}
        </span>
      {% endif %}
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="5">{% trans "No competitions." %}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
