{% extends "competition_base.html" %}
{% load competition_tags %}
{% load i18n %}

{% block content %}

{# TODO: The title should probably be a part of the individual template files. #}
{% if competition.is_course %}
  <h2 class="comp-header">{% trans "Course instructions" %}</h2>
{% else %}
  <h2 class="comp-header">{% trans "Competition rules" %}</h2>
{% endif %}

{% if competition.rules_template_filename %}
  {% include competition.rules_template_filename %}
{% endif %}

<h3>{% trans "Solution format description" %}</h3>
{% if is_admin %}
  <p class="chelp-authors-general">{{ help_authors_general }}</p>
{% endif %}

<table class="chelp-var">
  {% for var in variable_types %}
    <tr>
      <td class="chelp-var-type">{{ var.help_type }}</td>
      <td>
        {{ var.help_for_competitors }}
        {% if var.help_for_authors %}
          <p class="chelp-var-authors">({{ var.help_for_authors }})</p>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock content %}
