{% extends "competition_base.html" %}
{% load i18n %}

{% block content %}

<h3 class="comp-header">{% trans "Registration" %}</h3>

<div class="alert alert-success">
  {% if competition.max_team_size == 1 %}
    {% trans "Registration successful!" context "competition" %}
  {% else %}
    {% trans "Team successfully registered!" %}
  {% endif %}
</div>

{% if has_started %}
  <p>{% trans "Problems and rankings are available in the menu. Good luck!" %}
{% else %}
  <p>{% blocktrans %}Once the competition starts, the problems and the rankings
  will be available in the menu. Good luck!{% endblocktrans %}</p>
{% endif %}

{% if competition.max_team_size > 1 %}
  <p>{% trans "To edit the team, click on the team name in the menu." %}</p>
{% endif %}

{% endblock content %}
