{% extends "competition_base.html" %}

{% load competition_tags %}
{% load sorting_tags %}
{% load i18n %}

{% block content %}

<div class="alert">
  {% trans "Visible only to the admins!" %}
</div>

{% if updated_submissions_score_count != None %}
  <div class="alert">
    Updated submission.score for
    <b>{{ updated_submissions_score_count }}</b> submission(s).
  </div>
{% endif %}
{% if updated_chains_count != None %}
  <div class="alert">
    Updated cache_is_verified for <b>{{ updated_chains_count }}</b> chain(s).
  </div>
{% endif %}
{% if updated_ctasks_count != None %}
  <div class="alert">
    Updated <b>{{ updated_ctasks_count }}</b> ctask(s).
  </div>
{% endif %}

<h3 class="comp-header">
  <a href="#" class="auto-toggler" data-target="instructions">
    {% trans "Instructions" %}
  </a>
</h3>
<div id="instructions" style="display:none;">
  <p>
    {% blocktrans %}To add a task (problem), click "New task". After adding tasks, to
    create a chain, first select the tasks you want to include in the chain (by
    clicking anywhere on the corresponding table row), fill out the name
    (title) and category of the chain, and click "Create chain".{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}You can easily make changes to an existing chain. To insert
    new tasks, select them, and click on the table of chains at the wanted
    position. The position where the tasks will be inserted is marked with a
    red line.
    To remove a task, click the icon <i class="icon-remove"></i>. To move a
    task up or down, click the icon <i class="icon-arrow-up"></i> or
    <i class="icon-arrow-down"></i>.
    To delete a chain, click <i class="icon-trash"></i>.{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}Tasks marked with green color are the one that have been
    reviewed by other administrators (solved correctly). Red colors means that
    the task has an <code>IMPORTANT:</code> comment, telling the author
    something is wrong with the task.{% endblocktrans %}
  </p>
  <p>
    {% if competition.is_course %}
      To update chain name, category or unlock minutes, use the "Edit chain" link.
    {% else %}
      To update chain name, category or unlock days, use the "Edit chain" link.
    {% endif %}
  </p>
  <p>
    Categories are entered as a string of format <code>[order=123] Croatian title | [order=123] English title</code>.
    The English title is optional.
    If it is not specified, the same title will be used for both languages.
    The <code>[order=...]</code> part is optional as well.
    If the order is same for all languages, it suffices to put it only at the beginning.
  </p>
  <br>
</div>

<br>
<a href="{% comp_url 'task/new' %}" class="btn">{% trans "New task" %}</a>
<br><br>

<h3 class="comp-header">{% trans "Unused tasks" %}</h3>


{% if created %}
  <div class="alert alert-success">
    {% trans "Chain successfully created." %}
  </div>
{% endif %}

<form method="POST" action="" class="form-horizontal">
  {% csrf_token %}
  <table class="table table-striped" id="cchain-unused-ctasks-table">
    <tr class="comp-tr-ctask">
      <th></th>
      <th>{% trans "Date added" %}</th>
      <th>{% trans "Author" %}</th>
      <th>{% trans "Text" %}</th>
      <th>{% trans "Comment" %}</th>
      <th style="width:30px;white-space:nowrap;" title="{{ trans_checked_title }}">
        &#10008;/&#10004;?
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for ctask in unused_ctasks %}
      {% chain_ctask_tr ctask %}
    {% empty %}
      <tr><td colspan="9"><i>{% trans "Empty..." %}</i></td> </tr>
    {% endfor %}
  </table>

  <table class="kill-br">
    {{ form }}
    <tr>
      <td></td>
      <td>
        <input type="submit" class="btn btn-primary"
               value="{% trans "Create chain" %}">
      </td>
    </tr>
  </table>
</form>

<br><br>
<h3 class="comp-header">{% trans "Chains (used problems)" %}</h3>

<form method="POST" action="{% comp_url 'chain/tasks/action' %}">
  {% csrf_token %}
  <table class="table table-striped" id="used-tasks-table">
    <tr class="cchain-list">
      <th style="white-space:nowrap;" colspan="2">
        {% anchor 'category' _("Category") %}
      </th>
      <th colspan="2">{% trans "Title" %}</th>
      <th style="white-space:nowrap;" title="{% trans "Unlock time" %}">
        {% if competition.is_course %}
          {% anchor 'unlock_minutes' _("Days") %}
        {% else %}
          {% anchor 'unlock_minutes' _("Minutes") %}
        {% endif %}
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="comp-tr-ctask">
      <th class="cchain-list-ctask-counter">#</th>
      <th>{% trans "Author" %}</th>
      <th>{% if competition.use_custom_ctask_names %}{% trans "Title:" %}{% endif %} {% trans "Text" %}</th>
      <th></th>
      <th style="width:30px;white-space:nowrap;" title="{{ trans_checked_title }}">
        &#10008;/&#10004;?
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for chain in chains %}
      <tr class="cchain-list {{ chain.t_class }}" data-id="{{ chain.id }}"
          id="chain-{{ chain.id }}">
        <td colspan="2">
          <div class="td-description-container">
            {{ chain.category }}
            <br>
            <span class="td-description">(position={{ chain.position }})</span>
          </div>
        </td>
        <td colspan="2">
          <a href="{{ chain.get_absolute_url }}overview/">{{ chain.name }}</a>
        </td>
        {% if competition.is_course %}
          <td>{{ chain.unlock_days|floatformat }} d.</td>
        {% else %}
          <td>{{ chain.unlock_minutes }} min.</td>
        {% endif %}
        <td>
          <button type="submit" name="action" class="blank"
                  value="delete-chain-{{ chain.id }}"
                  title="{% trans "Delete" %}">
            <i class="icon-trash"></i>
          </button>
        </td>
        <td>
          <a href="{{ chain.get_absolute_url }}">{% trans "Edit chain" %}</a>
        </td>
        <td><a href="{{ chain.get_absolute_url }}overview/">
            {% trans "Overview" %}</a></td>
      </tr>
      {% for ctask in chain.t_ctasks %}
        {% chain_ctask_tr ctask forloop.counter chain.t_ctasks|length %}
      {% endfor %}
    {% empty %}
      <tr><td colspan="9"><i>{% trans "Empty..." %}</i></td> </tr>
    {% endfor %}
  </table>
</form>

<br><br><br>
<form method="POST" action="">
  {% csrf_token %}
  <h3 class="comp-header">Here be dragons</h3>
  <button type="submit" name="action" value="refresh-submission-is-correct">
    Refresh submission.score
  </button>
  <br>
  <button type="submit" name="action"
          value="refresh-ctask-cache-admin-solved-count">
    Refresh ctask.cache_admin_solved_count
  </button> &lt;-- (might require refreshing submission.score)
  <br>
  <button type="submit" name="action" value="refresh-chain-cache-is-verified">
    Refresh chain.cache_is_verified
  </button> &lt;-- (might require refreshing ctask.cache_admin_solved_count)
  <br>
  <button type="submit" name="action" value="refresh-ctask-cache-new-activities-count">
    Refresh ctask.cache_new_activities_count
  </button>
</form>
{% endblock content %}
