{% extends "competition_base.html" %}

{% load base_tags %}
{% load competition_tags %}
{% load i18n %}

{% block content %}

<div class="small-page">

  {% if competition.is_course %}
    <h3 class="comp-header">{% trans "Course registration" %}</h3>
    <p>{% blocktrans %}A Školjka account is required to register for the course.{% endblocktrans %}</p>

    <p>{% blocktrans %}Please log in with your account or sign up if you do not have one already. After logging in, you will be able to register for the course.{% endblocktrans %}</p>
  {% else %}
    <h3 class="comp-header">{% trans "Competition registration" %}</h3>
    <p>{% blocktrans %}A Školjka account is required to register for the competition (a single account per team suffices).{% endblocktrans %}</p>

    <p>{% blocktrans %}Please log in with your account or sign up if you do not have one already. After logging in, you will be able to register your team for the competition.{% endblocktrans %}</p>
  {% endif %}

  <div class="row-fluid">
    <div class="span6">
      <h3>{% trans "Sign in" context "action" %}</h3>
      {% login_form no_new_account_link=1 %}
    </div>
    <div class="span6">
      <h3>{% trans "Register an account" %}</h3>
      {% registration_form final_url=request.get_full_path %}
    </div>
  </div>
</div>

{% endblock content %}
