{% extends "competition_base.html" %}
{% load competition_tags %}
{% load i18n %}

{% block content %}

<h3 class="comp-header">{{ competition.get_team_metaname_plural }}</h3>

<div class="alert">
  {% trans "Visible only to the admins!" %}
</div>

<div class="row row-fix">
  <div class="span6">
    <table class="table-striped" id="team-list-admin" data-cy="team-list">
      <tr>
        <th>#</th>
        {% if team_categories %}
          <th title="{{ team_categories_title }}">
            <a href="{% comp_url 'team/list/admin' %}?sort=category">{% trans "Category" %}</a>
          </th>
        {% endif %}
        <th><a href="{% comp_url 'team/list/admin' %}?sort=name">
          {{ competition.get_team_metaname }}
        </a></th>
        <th><a href="{% comp_url 'team/list/admin' %}?sort=score">{% trans "Total score" %}</a></th>
      </tr>
      {% for t in teams %}
        <tr class="
            {% if t.id == team.id %}comp-my-team{% endif %}
            {{ t.get_type_css_class }}">
          <td>{{ t.t_position }}{{ t.is_normal|yesno:",*" }}</td>
          {% if team_categories %}
            <td>
              <select name="team-{{ t.id }}-category" form="team-list-form">
                {% if not t.t_is_category_valid %}
                  <option value="{{ t.category }}" selected>{{ t.t_category_admin }}</option>
                {% endif %}
                {% for category in team_categories %}
                  <option value="{{ category.0 }}"{% if t.category == category.0 %} selected{% endif %}>{{ category.1 }}</option>
                {% endfor %}
              </select>
            </td>
          {% endif %}
          <td>{{ t.get_link }}</td>
          <td>{% team_score t %}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

<form method="POST" action="{% comp_url 'team/list/admin/confirm' %}" id="team-list-form">
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" value="{% trans "Continue" %}" data-cy="continue-with-team-changes">
</form>

{% endblock content %}
