{% extends "competition_base.html" %}

{% load bootstrap_toolkit %}
{% load competition_tags %}
{% load i18n %}

{% block content %}

<div class="instructions">
  <h4>{% trans "Instructions" %}</h4>
  <p>Kategorija je bilo kakav string. Po unesenim kategorijama automatski će se grupirati lanci u pregledu zadataka.</p>
  {% if competition.is_course %}
    <p>
      <i>Unlock days</i> predstavlja broj dana nakon početka kursa nakon kojih lanac postaje vidljiv.
      Npr. ako želite da se zadatak vidi tek nakon 2 tjedna, stavite 14.
      Administratorima će takvi lanci biti vidljivi uvijek.
    </p>
  {% else %}
    <p>
      <i>Unlock minutes</i> predstavlja broj minuta nakon početka natjecanja nakon kojih lanac postaje vidljiv.
      Npr. ako želite da se zadatak vidi tek nakon 2 sata, stavite 120.
      Administratorima će takvi lanci biti vidljivi uvijek.
    </p>
  {% endif %}

  <p><i>Bonus score</i> predstavlja dodatne bodove koje natjecateljski tim
    dobije ako u potpunosti riješi sve zadatke iz lanca.</p>
</div>

<a href="{{ chain.get_absolute_url }}overview/" target="_new">
  {% trans "Chain overview" %}
</a>

<form action="{{ request.get_full_path }}" method="POST"
    class="form-horizontal uppercase-sections fix-bootstrap-form">
  {% csrf_token %}
  <div class="form-section">{% trans "Chain" %}</div>
  {% bootstrap_form chain_form layout="horizontal" %}
  <div class="controls">
    <input type="submit" value="{% trans "Update chain" %}" class="btn btn-primary"
           data-cy="submit-chain">
  </div>
</form>

{% if chain.restricted_access %}
  {% include 'inc_competition_chain_access.html' %}
{% endif %}

{% endblock content %}
