{# This template is for users, see competition_submission_detail.html for admin-side page. #}
{% extends "competition_base.html" %}
{% load i18n %}

{% load competition_tags %}
{% load mathcontent_tags %}

{% block float_right_extra %}
  {% if is_admin %}
    <br>
    {% trans "Author:" %}{{ ctask.task.author|userlink }}
    <br>
    <a href="{{ ctask.get_edit_url }}">{% trans "Edit" %}</a>
  {% endif %}
{% endblock float_right_extra %}

{% block content %}

<div class="ctask-container">
  <h4 class="ctask-title">{{ ctask.get_name }}</h4>

{% if minutes_passed < chain.unlock_minutes and is_admin %}
  <div class="alert">
    {% trans "Currently visible only to the admins!" %}
  </div>
{% endif %}

{% if ctask.t_is_locked %}
  {# if not admin, the request would be rejected anyway #}
  <div class="alert">
    {% trans "You see this problem as an admin, despite not having solved all prerequisites." %}
  </div>
{% endif %}

<div class="outset ctask-content">
  {% mathcontent_render ctask.task.content %}
</div>

{# Admins are able to see this page without having a team. #}
{% if team and ctask.is_automatically_graded %}
  {% if ctask.max_score > 1 %}
    {% ctask_score_text ctask %}
  {% endif %}

  {% if submissions %}
    <h4>{% trans "Submissions:" %}</h4>
    {% include 'inc_competition_submission_list.html' %}
  {% endif %}

  {% if submissions|length >= ctask.max_submissions and not is_solved %}
    <div class="ctask-submissions-count">
      {% trans "You've used up all available attempts." %}
    </div>
  {% endif %}

  {% if submissions|length < ctask.max_submissions and not is_solved %}
    {% if not has_finished %}
      <form action="{{ request.get_full_path }}" method="POST"
          class="form-inline">
        {% csrf_token %}
        <div class="ctask-submissions-count">
          {% trans "Attempts left:" %} {{ submissions_left }}
        </div>
        {% if help_text %}
          <div class="ctask-format-help">
            {{ help_text }}
          </div>
        {% endif %}
        {{ solution_form.result }}
        <input type="submit" value="{% trans "Submit" %}"
            class="btn btn-primary">
        {% if solution_form.errors %}
          <span class="comp-error">
            {% for error in solution_form.result.errors %}
              {{ error }}
            {% endfor %}
          </span>
        {% endif %}
      </form>
      <a href="{{ ctask.get_send_clarification_request_url }}">
        {% trans "Ask for a clarification" %}
      </a>
    {% else %}
      <div class="ctask-submit-already-finished">
        {{ competition.msg_has_finished }}
      </div>
    {% endif %}
  {% endif %}

  {% if submissions|length >= ctask.max_submissions or is_solved %}
    <br><br>
    {% if ctask.t_next %}
      <a href="{{ ctask.t_next.get_absolute_url }}"
        class="btn btn-primary"> {% trans "Next problem" %}</a>
    {% else %}
      <a href="{% comp_url 'task' %}" class="btn btn-primary"
          title="{% trans "Last problem in the chain." %}">
        {% trans "Return to the problem list" %}
      </a>
    {% endif %}
  {% endif %}
{% elif team and ctask.is_manually_graded %}
  <h4>{% trans "Answer:" %}</h4>
  <form action="{{ request.get_full_path }}" method="POST" class="form-inline">
    {% csrf_token %}
    {{ content_form.text }}
    <input type="hidden" name="action" value="solution">
    {% if submission %}
      <input type="submit" class="btn btn-primary" value="{% trans "Edit" %}" />
    {% else %}
      <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}" />
    {% endif %}
  </form>
  {% if submission %}
    <div>
      <h4>{% trans "Score:" %}</h4>
      {{ submission.score }}/{{ ctask.max_score }} {% if not_graded %}({% trans "not graded" %}){% endif %}
      <br><br>
    </div>
  {% else %}
    {% ctask_score_text ctask %}
  {% endif %}
{% endif %}

{% if sample_solution %}
  {# Note: Check JavaScript if modifying. #}
  <button id="ctask-show-sample-solution" type="button" class="btn"
          data-toggle-text="{% trans "Hide solution" %}">
    {% trans "Show solution" %}
    {# Yes, leave this space between button and div. #}
  </button> <div id="ctask-sample-solution" style="display:none;" class="alert">
    {{ sample_solution }}
  </div>
{% endif %}

{% if is_admin %}
  <br><br><br>
  <h4>{% trans "Submissions from all the teams (for admins only):" %}</h4>
  {% include 'inc_competition_submission_list.html' with submissions=all_ctask_submissions show_teams=1 %}
{% endif %}

{% if submission and ctask.is_manually_graded %}
  {% show_submission_posts submission unread_newer_than submission_actions %}
{% endif %}

</div>
{% endblock content %}
