{% load competition_tags %}
{% load i18n %}
<tr class="comp-tr-ctask {{ ctask.t_class }}" data-id="{{ ctask.id }}">
  {% if counter %}
    <td class="cchain-list-ctask-counter">{{ counter }}</td>
  {% else %}
    <td class="cchain-list-ctask-selected"></td>
    <td class="cchain-list-ctask-date">
      {{ ctask.task.date_created|date:"Y-m-d H:i" }}
    </td>
  {% endif %}
  <td>{{ ctask.task.author|userlink }}</td>
  {% if ctask.comment.text %}
    <td class="cchain-list-ctask-content">
      {% chain_list_ctask_name_text ctask 70 %}
    </td>
    <td class="cchain-list-ctask-comment">
      {% chain_list_ctask_comment_preview ctask %}
    </td>
  {% else %}
    <td class="cchain-list-ctask-content" colspan="2">
      {% chain_list_ctask_name_text ctask 100 %}
    </td>
  {% endif %}
  <td>
    {% if ctask.cache_admin_solved_count > 0 %}
      <span title="{% trans "Number of admin solutions." %}">
        {{ ctask.cache_admin_solved_count }}
      </span>
    {% endif %}
    {% if ctask.cache_new_activities_count > 0 %}
      <a href="{{ ctask.get_absolute_url }}#submissions"
         style="color:#d00;"
         title="{% trans "Number of new activities." %}">
          {{ ctask.cache_new_activities_count }}
      </a>
    {% endif %}
  </td>
  <td>
    {% if ctask.chain_id %}
      <button type="submit" name="action" class="blank"
          value="detach-{{ ctask.id }}" title="{% trans "Remove" %}">
        <i class="icon-remove"></i>
      </button>
      {% if counter > 1 %}
        <button type="submit" name="action" class="blank"
            value="move-lo-{{ ctask.id }}" title="{% trans "Move up" %}">
          <i class="icon-arrow-up"></i>
        </button>
      {% else %}
        <i class="icon-placeholder"></i>
      {% endif %}
      {% if counter < total_ctasks %}
        <button type="submit" name="action" class="blank"
            value="move-hi-{{ ctask.id }}" title="{% trans "Move down" %}">
          <i class="icon-arrow-down"></i>
        </button>
      {% else %}
        <i class="icon-placeholder"></i>
      {% endif %}
    {% endif %}
  </td>
  <td><a href="{{ ctask.get_edit_url }}">{% trans "Edit" %}</a></td>
  <td><a href="{{ ctask.get_absolute_url }}">{% trans "Open" %}</a></td>
</tr>
