#solution-container {
  position: relative;
}

#solution-toggle-task {
  font-weight: bold;
}

#solution-unhide-box {
  position: absolute;
  background-color: #FEFEFE;
  border: 1px solid #DDDDDD;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  text-align: center;
}

#solution-unhide-box:hover {
  background-color: #F4F4F4;
}

.sol-not-accessible {
  color: gray;
}

.sol-table td {
  background-color: inherit !important;
}

.sol-unrated {
  background-color: rgb(244, 252, 163);
}

.sol-unrated:nth-child(odd) {
  background-color: rgb(247, 255, 166);
}
