{% extends "base.html" %}

{% load tags_tags %}

{% block title %}
  Pretraživanje{% if tags %}: {{ tags|join:', ' }}{% endif %}
{% endblock %}

{% block content %}

<h2>Pretraživanje</h2>
<form action="/search/" method="get" class="outset">
  {% if errors %}<div class="alert alert-error">{{ errors }}</div>{% endif %}
  <table>
    {{ form.as_table }}
    {% if advanced_form %}
    <tr><td colspan="2">
      <a href="#" class="toggler toggle"{% if search_solved_count %} style="display:none;"{% endif %}>Prikaži napredne opcije</a>
      <a href="#" class="toggler toggle"{% if not search_solved_count %} style="display:none;"{% endif %}>Sakrij napredne opcije</a>
      <div class="toggle"{% if not groups_error and not search_solved_count %} style="display:none;"{% endif %}>
        {{ advanced_form.as_p }}
      </div>
    </td></tr>
    {% endif %}
    <tr><td colspan="2">
        <button type="submit" class="btn btn-primary"><i class="icon-search"></i> Pretraži</button>
    </td></tr>
  </table>
</form>


{% if any %}
  <ul>
    {% for tag in tags %}
      <li><a href="/search/?q={{ tag }}"{% if tag.0 == '$' %} class="hidden_tag"{% endif %}>{{ tag }}</a></li>
    {% endfor %}
  </ul>

  {% if not errors %}
    {% include "inc_task_list.html" with plus_exclude=tags empty_message="Ne postoji zadatak s navedenim tagovima" %}
  {% endif %}
{% endif %}

{% endblock content %}
