{% extends "competition_base.html" %}

{% load competition_tags %}

{% block content %}

{% if competition.registration_open_date > current_time %}
  <h3 class="comp-header">Registracija</h3>
  <div class="alert">
    Registracije još nisu otvorene!
  </div>

  {% if is_admin %}
    <div class="alert">
      Trenutačno vidljivo samo administratorima!
    </div>
  {% endif %}
{% endif %}

{% if has_finished %}
  <div class="alert">
    Natjecanje je završilo!
    {% if not team %}
      Registracije su zatvorene!
    {% endif %}
  </div>
{% endif %}

{% if 'created' in request.GET %}
  <div class="alert alert-success">
    Registracija uspješna!
  </div>
{% endif %}

{% if competition.registration_open_date <= current_time or is_admin %}
  {% if not has_finished and not team and team_invitations %}
    <h3 class="comp-header">Pozivnice</h3>
    <form action="{{ requst.get_full_path }}" method="POST" class="row">
      {% csrf_token %}
      <table id="comp-reg-invitations-table" class="span6">
        <tr>
          <th>Tim</th>
          <th>Osnivač</th>
          <th>&nbsp;</th>
        </tr>
        {% for team in team_invitations %}
          <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.author|userlink }}</td>
            <td>
              <button type="submit" name="invitation-accept" class="btn"
                  value="{{ team.id }}">
                Prihvati
              </button>
            </td>
          </tr>
        {% endfor %}
      </table>
    </form>
  {% endif %}

  {% if team_form and not has_finished %}
    {% if team %}
      <h3 class="comp-header">Uređivanje tima</h3>
    {% else %}
      <h3 class="comp-header">Registracija tima</h3>
    {% endif %}

    <div class="instructions">
      <p>Unesite željeno ime tima te imena članova ako postoje.</p>
      <p>Ukoliko za druge članove želite povezati njihove korisničke račune,
        pritisnite <i>Pozovi</i> i odaberite odgovarajuće korisničko ime.
        Nakon što pritisnite <i>Pošalji</i>, pozvani korisnici će se morati
        prijaviti na svoj račun te prihvatiti pozivnicu (na ovom mjestu).</p>
    </div>

    {% reg_available_users %}

    <form action="{{ request.get_full_path }}" method="POST" id="comp-reg-form">
      {% csrf_token %}
      {{ team_form.name.errors }}
      <table id="comp-reg-table">
        <tr>
          <td>Ime tima:</td>
          <td>{{ team_form.name }}</td>
          <td>&nbsp;</td>
        </tr>
      </table>
      {% reg_add_member_fields %}
      <script>
        reg_add_listeners();
      </script>
      <br>
      <input type="submit" class="btn btn-primary" value="Pošalji">
    </form>
  {% else %}
    <h3 class="comp-header">Tim {{ team.name }}</h3>

    Članovi:
    <table class="table table-striped table-bordered">
      {% for team_member in team_members %}
        <tr>
          <td>{{ forloop.counter }}.</td>
          <td>
            {% if team_member.member_id %}
              {{ team_member.member|userlink }}
            {% else %}
              {{ team_member.member_name }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endif %} {# registration open or is_admin #}

{% endblock content %}
