{% extends "competition_base.html" %}

{% load competition_tags %}
{% load i18n %}

{% block content %}
<h3 class="comp-header">Zadaci</h3>

{% if not has_started %}
  <div class="alert">
    {% trans "Competition hasn't started yet!" %}
  </div>

  {% if is_admin %}
    <div class="alert">
      {% trans "Currently visible only to the admins!" %}
    </div>
  {% endif %}
{% endif %}

{% if is_admin and unverified_chains_count %}
  <div class="alert">
    {% blocktrans %}Note to administrators: There are
    <b>{{ unverified_chains_count }} unverified chain(s)</b> that weren't
    shown.{% endblocktrans %}
  </div>
{% endif %}

{% if not team and not has_finished and has_started %}
  <div class="alert">
    {% trans "Please register for the competition to see the tasks." %}
  </div>
{% endif %}

{% if has_finished %}
  <div class="alert">
    {% trans "Competition has finished!" %}
  </div>
{% endif %}

{% if is_admin %}
  <script>
    ctask_statistics = {% ctask_statistics_json %};
  </script>
  <div id="ctask-admin-panel">
    {{ admin_panel_form.as_p }}
  </div>
{% endif %}

{% if team and has_started or has_finished or is_admin %}
  <table id="comp-tasks">
    {% for category in categories %}
      {# hidden visible only if admin #}
      <tr class="comp-category {{ category.t_is_hidden|yesno:"comp-category-hidden," }}">
        <td colspan="2">
          {{ category.name }}
        </td>
      </tr>
      {% for chain in category.chains %}
        {# hidden visible only if admin #}
        <tr class="comp-chain {% chain_class chain %}"
            {% if chain.t_next_task %} data-next="{{ chain.t_next_task.id }}"{% endif %}>
          <td class="comp-chain-name">{{ chain.name }}</td>
          <td class="comp-chain-tasks">
            <div class="progress"
                style="width: {% percentage chain.ctasks|length max_chain_length %};
                       max-width: {% widthratio chain.ctasks|length max_chain_length 600 %}px;">
              {% for ctask in chain.ctasks %}
                {% if not ctask.t_is_locked or is_admin %}
                  <a data-id="{{ ctask.id }}"
                      class="ctask {% ctask_class ctask %}"
                      style="width: {% percentage 1 chain.ctasks|length %}"
                      title="{{ ctask.t_title }}"
                      href="{{ ctask.get_absolute_url }}">
                    {{ ctask.t_link_text }}
                  </a>
                {% else %}
                  <div class="ctask {% ctask_class ctask %}"
                       style="width: {% percentage 1 chain.ctasks|length %}"
                       title="{{ ctask.t_title }}">
                    {{ ctask.t_link_text }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </td>
          <td class="comp-chain-bonus">
            {% if chain.bonus_score %}
              <div class="badge {% chain_badge_class chain %}">
                +{{ chain.bonus_score }}
              </div>
            {% else %}
              &nbsp;
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>

  <div id="ctask-legend-container">
    <a href="#" title="{% trans "Show/Hide the legend" %}" class="auto-toggler"
        data-target="ctask-legend">{% trans "Legend" %}</a>
    <br>
    <div id="ctask-legend" style="display: none;">
      <div class="row row-fix">
        <div class="span5">
          <table>
            {% legend_ctask "bar ctask-solved" _("A successfully solved task") %}
            {% legend_ctask "bar ctask-failed" _("Used all attempts") %}
            {% legend_ctask "bar ctask-open" _("An unlocked task") %}
            {% legend_ctask "bar ctask-tried" _("A task with a failed attempt") %}
            {% legend_ctask "ctask-locked" _("A locked task") %}
            {% legend_chain "badge-success" _("Bonus won") %}
            {% legend_chain "" _("Bonus not available anymore") %}
            {% legend_chain "badge-info" _("Bonus available, but not won") %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock content %}
