{% extends "competition_base.html" %}
{% load i18n %}

{% load competition_tags %}
{% load mathcontent_tags %}

{% block content %}

<h3 class="comp-header">{% trans "Notifications" %} - admin</h3>

{% if show_answered %}
    <a href="{{ request.path }}">{% trans "Hide answered posts." %}</a>
{% else %}
    <a href="{{ request.path }}?answered=1">{% trans "Show answered posts." %}</a>
{% endif %}

<form action="{{ request.get_full_path }}" method="post">
  {% csrf_token %}
  {% for post in posts %}
    <div class="outset outset-margin post mc-hover-area
          {% if post.extra %}cpost-answered{% endif %}
          {% if not post.t_team %}cpost-global-notification{% endif %}"
         id="post{{ post.pk }}">
      <div class="post-action">
        {% if post.t_team %}
          <a href="#post" class="post-reply" id="pr{{ post.pk }}"
              data-team-id="{{ post.t_team.id }}">{% trans "Reply" %}</a>&nbsp;
        {% endif %}
        <a href="/post/{{ post.pk }}/edit/?next={{ request.path }}">
          {% trans "Edit" %}
        </a> &nbsp;<a href="#post{{ post.pk }}">#</a>
        {% if post.extra %}
          {# answered / hidden #}
          <button name="action" class="btn-link" value="show-{{ post.id }}"
                  title="{% trans "Show / mark as unanswered." %}">⎌</button>
        {% else %}
          {# not answered / visible #}
          <button name="action" class="btn-link" value="hide-{{ post.id }}"
                  title="{% trans "Hide / mark as answered." %}">✓</button>
        {% endif %}
      </div>

      <div class="post-info">
        {{ post.author|userlink }}
        {% if post.t_team %}
          ({% trans "Team:" %}
          <a href="{{ post.t_team.get_absolute_url }}">{{ post.t_team.name }}</a>){% endif %},
        {% if post.t_target_team %}
          {% trans "To:" context "post" %} {{ post.t_target_team.get_link }},
        {% endif %}
        {{ post.date_created }}
      </div>

      {% mathcontent_render post.content %}

      {% if post.date_created != post.last_edit_time %}
        <div class="post-last-edit">
          {% trans "Last update:" %} {{ post.last_edit_time }}
        </div>
      {% endif %}
    </div>
  {% empty %}
    <i>{% trans "No notifications." %}</i><br><br>
  {% endfor %}
</form>

<div id="post" class="comp-post">
  <script>
    competition_id = {{ competition.id }};
    competition_ct = {{ competition_ct.id }};
    team_ct = {{ team_ct.id }};
  </script>
  <form action="/post/add/" method="post">
    {% csrf_token %}
    <input type="hidden" name="object_id" id="post-object-id"
        value="{{ selected_team_id|default:competition.id }}">
    <input type="hidden" name="content_type_id" id="post-content-type-id"
        {% if selected_team_id %}
          value="{{ team_ct.id }}"
        {% else %}
          value="{{ competition_ct.id }}"
        {% endif %}>
    <input type="hidden" name="post_reply_id" value="">
    <input type="hidden" name="post_redirect" value="{{ request.path }}">
    {{ post_form.as_p }}
    <input type="submit" class="btn btn-primary"
        value="{% trans "Send message" %}">
      <select name="comp-post-target" id="comp-post-target">
        <option value="">{% trans "Globally" %}</option>
        {% for team in teams %}
          <option value="{{ team.id }}"{{ team.t_selected_attr }}>
            {{ team.name }}
          </option>
      {% endfor %}
    </select>
    <span id="reply-to-info" style="display:none;">
      Odgovor na <a href="#">poruku</a>.
      <a href="#post" class="icon-remove"></a>
    </span>
  </form>
</div>

{% endblock content %}

