{% extends "competition_base.html" %}
{% load i18n %}

{% load competition_tags %}
{% load mathcontent_tags %}

{% block content %}

<h3 class="comp-header">{% trans "Notifications" %}</h3>

<div class="instructions">
  <p>{% trans "Notifications related to the competition and problems are shown here." %}</p>
  {% if team %}
    <p>{% blocktrans %}Use the form below to submit questions or messages to
    the moderators. Your messages will not be visible to other teams.
    {% endblocktrans %}</p>
  {% endif %}
</div>

{% for post in posts %}
  <div class="outset outset-margin post mc-hover-area
          {% if not post.t_team %}cpost-global-notification{% endif %}"
      id="post{{ post.pk }}">
    <div class="post-info">
      {% if post.t_team and post.author_id in team_member_ids %}
        {{ post.author|userlink }},
      {% endif %}
      {{ post.date_created }}
    </div>

    {% mathcontent_render post.content %}

    {% if post.date_created != post.last_edit_time %}
      <div class="post-last-edit">
        {% trans "Last update:" %} {{ post.last_edit_time }}
      </div>
    {% endif %}
  </div>
{% empty %}
  <i>{% trans "No notifications." %}</i><br><br>
{% endfor %}

{% if team %}
  <div id="post">
    <form action="/post/add/" method="post">
      {% csrf_token %}
      <input type="hidden" name="object_id" value="{{ target_container.pk }}">
      <input type="hidden" name="content_type_id"
             value="{{ target_container.posts.get_content_type_id }}">
      <input type="hidden" name="post_reply_id" value="">
      <input type="hidden" name="post_redirect" value="{{ request.path }}">
      {{ post_form.as_p }}
      <input type="submit" class="btn btn-primary"
          value="{% trans "Send message" %}">
      <span id="reply-to-info" style="display:none;">
        {% trans "A reply to <a href='#'>the message</a>." %}
        <a href="#post" class="icon-remove"></a>
      </span>
    </form>
  </div>
{% endif %}

{% endblock content %}
