{% extends "competition_base.html" %}

{% load base_tags %}
{% load bootstrap_toolkit %}
{% load mathcontent_tags %}
{% load competition_tags %}
{% load i18n %}

{% block content %}

<div class="alert">
  {% trans "Visible only to the admins!" %}
</div>

{% if is_solution_hidden %}
  <div class="alert">
    {% trans "Solution is hidden. You can still view and edit it by clicking at the following link:" %}
    <a href="#" class="auto-toggler" data-target="descriptor-field">
      {% trans "Show/hide the solution" %}
    </a><br>
    {% trans "If you want to review the problem please don't look at the solution in advance." %}
  </div>
{% endif %}

<form method="POST" action="" class="form-horizontal fix-bootstrap-form">
  {% csrf_token %}
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}
  {% if ctask %}
    {% trans "Author:" %} {{ ctask.task.author|userlink }}<br>
  {% endif %}
  <br><br>
  {% if form.name %}
    {% bootstrap_field form.name %}
  {% endif %}
  <div id="descriptor-field"
      {% if is_solution_hidden %} style="display:none;"{% endif %}>
    {% bootstrap_field form.descriptor %}
  </div>
  {% if form.max_score %}
    {% bootstrap_field form.max_score %}
  {% endif %}
  {% bootstrap_field form.text layout="horizontal" %}
  {% mathcontent_bootstrap_preview form.instance.task.content form.text.auto_id "form-ctask-text" "" %}
  {% bootstrap_field form.comment layout="horizontal" %}
  {% mathcontent_bootstrap_preview form.instance.comment form.comment.auto_id "form-ctask-comment" form.t_comment_extra_class  %}
  <button type="submit" value="next" value="stay" class="btn btn-primary">
    {% if ctask %}
      {% trans "Save changes" %}
    {% else %}
      {% trans "Submit" %}
    {% endif %}
  </button>
  {% if not ctask %}
    <button type="submit" name="next" value="next" class="btn">
      {% trans "Submit and create new problem" %}
    </button>
  {% endif %}
  <button type="submit" name="next" value="tasks" class="btn">
    {% trans "Submit and go to the problem list" %}
  </button>
  {% if ctask %}
    <a class="btn" href="{{ ctask.get_absolute_url }}">
      {% trans "Go to problem" %}
    </a>
  {% endif %}
</form>

<br>
<i>
  {% trans "Hint: Press <b>Ctrl+M</b> to preview the formatted text." %}<br>
  {% trans "Format instructions can be found here:" %} <a href="/help/format/" target="_blank">link</a><br>
  <br>
  {% trans "Instructions to add images:" %}
  <ol>
    <li>{% trans "Click here:" %} <a href="/mathcontent/{{ ctask.task.content_id }}/attachments/" target="_blank">{% trans "Attachments" %}</a></li>
    <li>{% trans "Upload the image." %}</li>
    <li>{% trans "Add the following code to the text:" %}<code>\includegraphics{filename.png}</code></li>
  </ol>
  {% trans "Note 1: Probably only the author of the problem can edit the attachments..." %}<br>
  {% trans "Note 2: The image will not be available in the preview mode, you have to save changes to see the result." %}
</i>

{% endblock content %}
