{% extends "competition_base.html" %}
{% load i18n %}
{% load competition_tags %}

{% block content %}

<h3 class="comp-header">Bodovna lista</h3>

{% if not has_started %}
  <div class="alert">
    {% trans "Competition hasn't started yet!" %}
  </div>
{% endif %}

{% if has_finished %}
  <div class="alert">
    {% trans "Competition has finished!" %}
  </div>
{% endif %}

{% if is_scoreboard_frozen %}
  <div class="alert">
    {% blocktrans %}The results has been frozen. The final results will be
    available after the competition.{% endblocktrans %}
    {% if is_admin %}
      {% if sort_by_actual_score %}
        <a href="{% comp_url 'scoreboard' %}">
          {% trans "Sort by frozen score" %}
        </a>
      {% else %}
        <a href="{% comp_url 'scoreboard' %}?sort_by_actual_score=1">
          {% trans "Sort by real score" %}
        </a>
      {% endif %}
    {% endif %}
  </div>
{% endif %}

<div class="row row-fix">
  <div class="span6">
    <table class="table-striped" id="comp-scoreboard-table">
      <tr>
        <th>#</th>
        <th>{% trans "Team" %}</th>
        <th>{% trans "Total score" %}</th>
      </tr>
      {% for t in teams %}
        <tr class="
            {% if t.id == team.id %}comp-my-team{% endif %}
            {{ t.get_type_css_class }}">
          <td>
            {{ t.t_position }}{{ t.is_normal|yesno:",*" }}
          </td>
          <td><a href="{{ t.get_absolute_url }}">{{ t.name }}</a></td>
          <td>{% team_score t %}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% if is_admin %}
  <form action="" method="post" id="comp-scoreboard-admin-refresh">
    {% csrf_token %}
    <input type="submit" name="refresh" value="Refresh" class="btn">
    -- Do not use if not necessary!
  </form>
  {% if refresh_calculation_time %}
    <span>Refresh time: {{ refresh_calculation_time.total_seconds }}s</span>
  {% endif %}
{% endif %}

{% endblock content %}
