{% extends "competition_base.html" %}
{% load i18n %}

{% load competition_tags %}
{% load sorting_tags %}

{% block content %}

<div class="alert">
  Vidljivo samo administratorima!
</div>

{% if updated_chains_count != None %}
  <div class="alert">
    Updated cache_is_verified for <b>{{ updated_chains_count }}</b> chain(s).
  </div>
{% endif %}
{% if updated_ctasks_count != None %}
  <div class="alert">
    Updated cache_admin_solved_count for <b>{{ updated_ctasks_count }}</b>
    ctask(s).
  </div>
{% endif %}

<h3 class="comp-header">
  <a href="#" class="auto-toggler" data-target="instructions">
    {% trans "Instructions" %}
  </a>
</h3>
<div id="instructions" style="display:none;">
  <p>
    {% blocktrans %}To add a task, click "New task". After adding tasks, to
    create a chain, first select the tasks you want to include in the chain (by
    clicking anywhere on the corresponding table row), fill out the name
    (title) and category of the chain, and click "Create chain".{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}You can easily make changes to an existing chain. To insert
    new tasks, select them, and click on the table of chains at the wanted
    position. The position where the tasks will be inserted is marked with a
    red line.
    To remove a task, click the icon <i class="icon-remove"></i>. To move a
    task up or down, click the icon <i class="icon-arrow-up"></i> or
    <i class="icon-arrow-down"></i>.
    To delete a chain, click <i class="icon-trash"></i>.{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}Tasks marked with green color are the one that have been
    reviewed by other administrators (solved correctly). Red colors means that
    the task has an <code>IMPORTANT:</code> comment, telling the author
    something is wrong with the task.{% endblocktrans %}
  </p>
  <p>
    Currently, to update chain name, category or unlock minutes, use the old
    interface (the deprecated "Edit chain" link).
  </p>
  <br>
</div>

<br>
<a href="{% comp_url 'task/new' %}" class="btn">{% trans "New task" %}</a>
<br><br>

<h3 class="comp-header">{% trans "Unused tasks" %}</h3>


{% if created %}
  <div class="alert alert-success">
    {% trans "Chain successfully created." %}
  </div>
{% endif %}

<form method="POST" action="" class="form-horizontal">
  {% csrf_token %}
  <table class="table table-striped" id="cchain-unused-ctasks-table">
    <tr class="comp-tr-ctask">
      <th></th>
      <th>{% trans "Date added" %}</th>
      <th>{% trans "Author" %}</th>
      <th>{% trans "Text" %}</th>
      <th></th>
      <th style="width:30px;white-space:nowrap;" title="{{ trans_checked_title }}">
        &#10008;/&#10004;?
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for ctask in unused_ctasks %}
      {% chain_ctask_tr ctask %}
    {% empty %}
      <tr><td colspan="9"><i>{% trans "Empty..." %}</i></td> </tr>
    {% endfor %}
  </table>

  <table>
    {{ form }}
    <tr>
      <td></td>
      <td>
        <input type="submit" class="btn btn-primary"
               value="{% trans "Create chain" %}">
      </td>
    </tr>
  </table>
</form>

<br><br>
<h3 class="comp-header">{% trans "Chains (used tasks)" %}</h3>

<form method="POST" action="{% comp_url 'chain/tasks/action' %}">
  {% csrf_token %}
  <table class="table table-striped" id="used-tasks-table">
    <tr class="cchain-list">
      <th style="white-space:nowrap;" colspan="2">
        {% anchor category Category %}
      </th>
      <th colspan="2">{% trans "Title" %}</th>
      <th style="white-space:nowrap;" title="{% trans "Unlock time" %}">
        {% anchor unlock_minutes Minutes %}
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="comp-tr-ctask">
      <th class="cchain-list-ctask-counter">#</th>
      <th>{% trans "Author" %}</th>
      <th>{% trans "Text" %}</th>
      <th></th>
      <th style="width:30px;white-space:nowrap;" title="{{ trans_checked_title }}">
        &#10008;/&#10004;?
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for chain in chains %}
      <tr class="cchain-list {{ chain.t_class }}" data-id="{{ chain.id }}"
          id="chain-{{ chain.id }}">
        <td colspan="2">{{ chain.category }}</td>
        <td colspan="2">
          <a href="{{ chain.get_absolute_url }}overview/">{{ chain.name }}</a>
        </td>
        <td>{{ chain.unlock_minutes }} min.</td>
        <td>
          <button type="submit" name="action" class="blank"
                  value="delete-chain-{{ chain.id }}"
                  title="{% trans "Delete" %}">
            <i class="icon-trash"></i>
          </button>
        </td>
        <td>
          <div style="text-align:center;display:inline-block;">
            <a href="{{ chain.get_absolute_url }}">{% trans "Edit chain" %}</a>
            <br><span style="font-size:11px;">(deprecated)</span>
          </div>
        </td>
        <td><a href="{{ chain.get_absolute_url }}overview/">
            {% trans "Overview" %}</a></td>
      </tr>
      {% for ctask in chain.t_ctasks %}
        {% chain_ctask_tr ctask forloop.counter chain.t_ctasks|length %}
      {% endfor %}
    {% empty %}
      <tr><td colspan="9"><i>{% trans "Empty..." %}</i></td> </tr>
    {% endfor %}
  </table>
</form>

<br><br><br>
<form method="POST" action="">
  {% csrf_token %}
  <h3 class="comp-header">Here be dragons</h3>
  <button type="submit" name="action"
          value="refresh-ctask-cache-admin-solved-count">
    Refresh ctask.cache_admin_solved_count
  </button> &lt;-- (might require refreshing submission.cache_is_correct)
  <br>
  <button type="submit" name="action" value="refresh-chain-cache-is-verified">
    Refresh chain.cache_is_verified
  </button> &lt;-- (might require refreshing ctask.cache_admin_solved_count)
</form>
{% endblock content %}
