{% extends "competition_base.html" %}
{% load i18n %}

{% block content %}

<h3 class="comp-header">{% trans "Registration" %}</h3>

<div class="alert alert-success">
  {% trans "Team successfully registered!" %}
</div>

{% if has_started %}
  <p>{% trans "Problems and results are available in the menu. Good luck!" %}
{% else %}
  <p>{% blocktrans %}Once the competition starts, the problems and the results
  will be available in the menu. Good luck!{% endblocktrans %}</p>
{% endif %}

<p>{% trans "To edit the team, click on the team name in the menu." %}</p>

{% endblock content %}
