{% extends "competition_base.html" %}
{% load i18n %}

{% load competition_tags %}
{% load mathcontent_tags %}

{% block float_right_extra %}
  {% if is_admin %}
    <br>
    Autor: {{ ctask.task.author|userlink }}
  {% endif %}
{% endblock float_right_extra %}

{% block content %}

<div class="ctask-container">
<h4 class="ctask-title">{{ ctask.chain.name }} #{{ ctask.chain_position }}</h4>

{% if minutes_passed < chain.unlock_minutes and is_admin %}
  <div class="alert">
    Trenutačno vidljivo samo administratorima!
  </div>
{% endif %}

{% if ctask.t_is_locked %}
  {# if not admin, the request would be rejected anyway #}
  <div class="alert">
    Nisu riješeni preduvjeti za ovaj zadatak, ali imate administratska prava.
  </div>
{% endif %}

<div class="outset ctask-content">
  {% mathcontent_render ctask.task.content %}
</div>

{% if team %} {# admins are able to see this page without having a team #}
  {% if submissions %}
    <h4>Poslana rješenja</h4>
    {% if is_admin %}
      <form action="{{ request.get_full_path }}" method="POST">
      {% csrf_token %}
    {% endif %}
    <div class="row row-fix">
      <div class="span5">
        <table class="ctask-submissions-table table-striped">
          {% for x in submissions %}
            <tr class="{{ x.cache_is_correct|yesno:"ctask-correct," }}">
              <td class="ctask-sub-number">#{{ forloop.counter }}</td>
              <td class="ctask-sub-result">{{ x.result }}</td>
              <td class="ctask-sub-correctness">
                {% if x.cache_is_correct %}
                  <span class="label label-success">Točno</span>
                {% else %}
                  <span class="label label-important">Netočno</span>
                {% endif %}
              </td>
              {% if is_admin %}
                <td>
                  <button type="submit" name="delete-submission"
                      value="{{ x.id }}" class="btn" title="Za administratore">
                    X
                  </button>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% if is_admin %}
      </form>
    {% endif %}
  {% endif %}

  {% if submissions|length >= ctask.max_submissions and not is_solved %}
    <div class="ctask-submissions-count">
      Iskoristili ste sve pokušaje.
    </div>
  {% endif %}

  {% if submissions|length < ctask.max_submissions and not is_solved %}
    {% if not has_finished %}
      {# <h4 class="ctask-submit">Slanje rješenja</h4> #}
      <form action="{{ request.get_full_path }}" method="POST"
          class="form-inline">
        {% csrf_token %}
        <div class="ctask-submissions-count">
          Preostalo pokušaja: {{ submissions_left }}
        </div>
        {% if help_text %}
          <div class="ctask-format-help">
            {{ help_text }}
          </div>
        {% endif %}
        {{ solution_form.result }}
        <input type="submit" value="Pošalji" class="btn btn-primary">
        {% if solution_form.errors %}
          <span class="comp-error">
            {% for error in solution_form.result.errors %}
              {{ error }}
            {% endfor %}
          </span>
        {% endif %}
      </form>
    {% else %}
      <div class="ctask-submit-already-finished">
        Natjecanje je završilo!
      </div>
    {% endif %}
  {% endif %}

  {% if submissions|length >= ctask.max_submissions or is_solved %}
    <br><br>
    {% if ctask.t_next %}
      <a href="{{ ctask.t_next.get_absolute_url }}"
        class="btn btn-primary"> Sljedeći zadatak</a>
    {% else %}
      <a href="{% comp_url 'task' %}" class="btn btn-primary"
          title="Zadnji zadatak u lancu">Povratak na popis zadataka</a>
    {% endif %}
  {% endif %}
{% endif %}

</div>
{% endblock content %}
