{% extends "competition_base.html" %}

{% load base_tags %}
{% load competition_tags %}
{% load i18n %}

{% block content %}

<div class="small-page">
  <h3 class="comp-header">Registracija</h3>

  <p>Za registraciju tima potrebno je imati račun na Školjci (dovoljno je da
  samo jedan član tima ima račun).</p>

  <p>Molimo vas da se prijavite, odnosno registrirate na Školjku ako nemate
  račun. Nakon prijave / registracije, moći ćete kreirati svoj tim za
  natjecanje.</p>

  <div class="row-fluid">
    <div class="span6">
      <h3>{% trans "Log in" context "action" %}</h3>
      {% login_form no_new_account_link=1 %}
    </div>
    <div class="span6">
      <h3>{% trans "Register an account" %}</h3>
      {% registration_form final_url=request.get_full_path %}
    </div>
  </div>
</div>

{% endblock content %}

