{% extends "base.html" %}

{% load usergroup_tags %}

{% block title %}Natjecanja{% endblock %}

{% block content %}

<div id="comp-float-right">
  <span>Vrijeme: {{ current_time|date:"H:i" }}</span>
</div>

<table id="comp-list" class="table-striped table-condensed">
  <tr>
    <th width="30">#</th>
    <th>Natjecanje</th>
    <th>Početak registracije</th>
    <th>Početak</th>
    <th>Kraj</th>
    <th>&nbsp;</th>
  </tr>
{% for comp in competitions %}
  {% if comp.hidden %}<tr class="comp-list-hidden">{% else %}<tr>{% endif %}
    <td>{{ comp.id }}</td>
    <td><a href="{{ comp.get_absolute_url }}">{{ comp.name }}</a></td>
    <td>{{ comp.registration_open_date }}</td>
    <td>{{ comp.start_date }}</td>
    <td>{{ comp.end_date }}</td>
    <td>
      {% if comp.registration_open_date < current_time %}
        {% if current_time < comp.end_date %}
          {% if comp.id in member_of %}
            <a href="{{ comp.get_absolute_url }}">Ulaz</a>
          {% else %}
            <a href="{{ comp.get_registration_url }}" class="register">
              Registracija
            </a>
          {% endif %}
        {% else %}
          <a href="{{ comp.get_scoreboard_url }}">Rezultati</a>
        {% endif %}
      {% else %}
        <span class="comp-list-reg-not-open">
          Registracija još nije otvorena
        </span>
      {% endif %}
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="5">Nema natjecanja</td>
  </tr>
{% endfor %}
</table>

{% endblock %}

