{% extends "competition_base.html" %}

{% block content %}

<h3 class="comp-header">Bodovna lista</h3>

{% if not has_started %}
  <div class="alert">
    Natjecanje još nije počelo!
  </div>
{% endif %}

<div class="row row-fix">
  <div class="span6">
    <table class="table-striped" id="comp-scoreboard-table">
      <tr>
        <th>#</th>
        <th>Tim</th>
        <th>Ukupno bodova</th>
      </tr>
      {% for t in teams %}
        <tr class="
            {% if t.id == team.id %}comp-my-team{% endif %}
            {% if t.is_test %}comp-test-team{% endif %}
            ">
          <td>
            {{ t.t_position }}{{ t.is_test|yesno:"*," }}
          </td>
          <td><a href="{{ t.get_absolute_url }}">{{ t.name }}</a></td>
          <td>{{ t.cache_score }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}

