{% extends "competition_base.html" %}

{% load competition_tags %}

{% block content %}

<div class="instructions">
  <h4>Upute</h4>
  <p>Kategorija je bilo kakav string. Po unesenim kategorijama automatski će se
    grupirati lanci u pregledu zadataka.</p>
  <p><i>Unlock minutes</i> predstavlja broj minuta nakon početka natjecanja
    nakon kojih lanac postaje vidljiv. Npr. ako želite da se zadatak vidi tek
    nakon 2 sata, stavite 120. Administratorima će takvi lanci za vrijeme
    natjecanja biti prikazani uvijek, ali transparentno.</p>

  <p><i>Bonus score</i> predstavlja dodatne bodove koje natjecateljski tim
    dobije ako u potpunosti riješi sve zadatke iz lanca.</p>

  <p>Za mijenjenje rasporeda, unesite odgovarajuće redne brojeve u polja
    <i>Redoslijed</i>. Napomena: Postavljanje redoslijeda je trenutačno bugovito.
    Dodavanje novih zadataka u postojeći lanac će vjerojatno poremetiti poredak.
    </p>

  <p>Za brisanje, označite odgovarajuće polje <i>Izbriši</i>, te pritisnite
    <i>Pošalji</i>.</p>
  </p>
</div>

<form action="{{ request.get_full_path }}" method="POST" id="comp-chain-edit">
  {% csrf_token %}
  {{ formset.management_form }}
  <table class="split-form">
    <tr class="split-form-row"><th colspan="2">Lanac</th></tr>
    {{ chain_form.as_table }}

    {% for form in formset %}
      <tr class="split-form-row">
        <th colspan="2">Zadatak #{{ forloop.counter }}</th>
      </tr>
      {{ form.as_table }}
      <tr>
        <td colspan="2">
          <div class="outset">
            {% if form.instance.pk %}
              {{ form.instance.task.content.render }}
            {% endif %}
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="button" class="btn comp-chain-edit-preview"
              data-source="{{ form.text.auto_id }}">
            Pregled
          </button>
        </td>
      </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Pošalji" class="btn btn-primary">
</form>

{% endblock content %}

