{% extends "competition_base.html" %}

{% load competition_tags %}

{% block content %}

{% if competition.registration_open_date > current_time %}
  <h3 class="comp-header">Registracija</h3>
  <div class="alert">Registracije još nisu otvorene! </div>

  {% if is_admin %}
    <div class="alert">Trenutačno vidljivo samo administratorima! </div>
  {% endif %}
{% endif %}

{% if has_finished %}
  <div class="alert">
    Natjecanje je završilo!
    {% if not team %}Registracije su zatvorene! {% endif %}
  </div>
{% endif %}

{% if 'created' in request.GET %}
  <div class="alert alert-success">Registracija uspješna! </div>
{% endif %}

{% if 'changes' in request.GET %}
  <div class="alert alert-success">Izmjene spremljene!</div>
{% endif %}

{% if competition.registration_open_date <= current_time or is_admin %}
  {% if not has_finished and not team and team_invitations %}
    <h3 class="comp-header">Pozivnice</h3>
    <form action="{{ requst.get_full_path }}" method="POST" class="row row-fix">
      {% csrf_token %}
      <table id="creg-invitations-table" class="span6">
        <tr>
          <th>Tim</th>
          <th>Osnivač</th>
          <th>&nbsp;</th>
        </tr>
        {% for team in team_invitations %}
          <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.author|userlink }}</td>
            <td>
              <button type="submit" name="invitation-accept" class="btn"
                  value="{{ team.id }}">
                Prihvati
              </button>
            </td>
          </tr>
        {% endfor %}
      </table>
    </form>
  {% endif %}

  {% if team_form and not has_finished %}
    {% if team %}
      <h3 class="comp-header">Uređivanje tima</h3>
    {% else %}
      <h3 class="comp-header">Registracija tima</h3>
    {% endif %}

    <div class="instructions">
      <p>U prvo polje unesite željeno ime tima.</p>
      <p>Drugi i treće polje predstavljaju imena drugih članova tima. Ukoliko
        želite samo navesti njihova imena, unesite ih u ta polja.</p>
      <p>Ako pak oni imaju korisnički račun, možete ih povezati pritiskom na
        tipku <i>Pozovi</i>. Nakon što odaberete odgovarajuća korisnička imena
        i pritisnite <i>Pošalji</i>, odabranim korisnicima će se poslati
        pozivnice za priključivanje vašem timu.</p>
      <p>Ti korisnici prihvaćaju pozivnice na način da se prijave na vlastiti
        račun te na istoj ovoj stranici pritisnu na <i>Prihvati</i>.</p>
    </div>

    {% reg_available_users %}

    <form action="{{ request.get_full_path }}" method="POST" id="creg-form">
      {% csrf_token %}
      {{ team_form.name.errors }}
      <div id="creg-table">
        <div>
          <div>Ime tima:</div>
          <div>{{ team_form.name }}</div>
          {# <div>&nbsp;</div> #}
        </div>
      </div>
      {% reg_add_member_fields %}
      <script>
        reg_add_listeners();
      </script>
      <br>
      <input type="submit" class="btn btn-primary" value="Pošalji">
    </form>
  {% else %}
    <h3 class="comp-header">Tim {{ team.name }}</h3>

    Članovi:
    <table class="table table-striped table-bordered">
      {% for team_member in team_members %}
        <tr>
          <td>{{ forloop.counter }}.</td>
          <td>
            {% if team_member.member_id %}
              {{ team_member.member|userlink }}
            {% else %}
              {{ team_member.member_name }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endif %} {# registration open or is_admin #}

{% endblock content %}
