{% extends "competition_base.html" %}
{% load i18n %}

{% load competition_tags %}
{% load sorting_tags %}

{% block content %}

<div class="alert">
  Vidljivo samo administratorima!
</div>

{% if updated_chains_count != None %}
  <div class="alert">
    Updated cache_is_verified for <b>{{ updated_chains_count }}</b> chain(s).
  </div>
{% endif %}
{% if updated_ctasks_count != None %}
  <div class="alert">
    Updated cache_admin_solved_count for <b>{{ updated_ctasks_count }}</b>
    ctask(s).
  </div>
{% endif %}

<a href="{% comp_url 'task/new' %}" class="btn">{% trans "New task" %}</a>
<br><br>

<h3 class="comp-header">{% trans "Unused tasks" %}</h3>


{% if created %}
  <div class="alert alert-success">
    {% trans "Chain successfully created." %}
  </div>
{% endif %}

<form method="POST" action="" class="form-horizontal">
  {% csrf_token %}
  <p><i>
    {% trans "Info: To create a chain, select tasks by clicking on them, fill out the chain information and submit." %}
  </i>
  <table class="table table-striped" id="cchain-unused-ctasks-table">
    <tr class="comp-tr-ctask">
      <th></th>
      <th>{% trans "Date added" %}</th>
      <th>{% trans "Author" %}</th>
      <th>{% trans "Text" %}</th>
      <th></th>
      <th style="width:30px;white-space:nowrap;" title="{{ trans_checked_title }}">
        &#10008;/&#10004;?
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for ctask in unused_ctasks %}
      {% chain_ctask_tr ctask %}
    {% endfor %}
  </table>

  <table>
    {{ form }}
    <tr>
      <td></td>
      <td>
        <input type="submit" class="btn btn-primary"
               value="{% trans "Create chain" %}">
      </td>
    </tr>
  </table>
</form>

<br><br>
<h3 class="comp-header">{% trans "Chains (used tasks)" %}</h3>

<form method="POST" action="{% comp_url 'chain/tasks/action' %}">
  {% csrf_token %}
  <table class="table table-striped">
    <tr class="cchain-list">
      <th colspan="2">{% trans "Category" %}</th>
      <th colspan="2">{% trans "Title" %}</th>
      <th title="Vrijeme otključavanja">{% anchor unlock_minutes Minute %}</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="comp-tr-ctask">
      <th class="cchain-list-ctask-counter">#</th>
      <th>{% trans "Author" %}</th>
      <th>{% trans "Text" %}</th>
      <th></th>
      <th style="width:30px;white-space:nowrap;" title="{{ trans_checked_title }}">
        &#10008;/&#10004;?
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for chain in chains %}
      <tr class="cchain-list {{ chain.t_class }}">
        <td colspan="2">{{ chain.category }}</td>
        <td colspan="2">
          <a href="{{ chain.get_absolute_url }}">{{ chain.name }}</a>
        </td>
        <td>{{ chain.unlock_minutes }} min.</td>
        <td>
          <button type="submit" name="action" class="blank"
                  value="delete-chain-{{ chain.id }}"
                  title="{% trans "Delete" %}">
            <i class="icon-trash"></i>
          </button>
        </td>
        <td>
          <div style="text-align:center;display:inline-block;">
            <a href="{{ chain.get_absolute_url }}">{% trans "Edit chain" %}</a>
            <br><span style="font-size:11px;">(deprecated)</span>
          </div>
        </td>
        <td><a href="{{ chain.get_absolute_url }}overview/">
            {% trans "Overview" %}</a></td>
      </tr>
      {% for ctask in chain.t_ctasks %}
        {% chain_ctask_tr ctask forloop.counter %}
      {% endfor %}
    {% empty %}
      <tr><td colspan="6"><i>{% trans "Empty..." %}</i></td> </tr>
    {% endfor %}
  </table>
</form>

<br><br><br>
<form method="POST" action="">
  {% csrf_token %}
  <h3 class="comp-header">Here be dragons</h3>
  <button type="submit" name="action"
          value="refresh-ctask-cache-admin-solved-count">
    Refresh ctask.cache_admin_solved_count
  </button> &lt;-- (might require refreshing submission.cache_is_correct)
  <br>
  <button type="submit" name="action" value="refresh-chain-cache-is-verified">
    Refresh chain.cache_is_verified
  </button> &lt;-- (might require refreshing ctask.cache_admin_solved_count)
</form>
{% endblock content %}
