{% extends "competition_base.html" %}
{% load i18n %}

{% load competition_tags %}
{% load sorting_tags %}

{% block content %}

<div class="alert">
  Vidljivo samo administratorima!
</div>

<div id="chain-action-bar-right">
  <a href="{% comp_url 'chain/new' %}" class="btn">Novi lanac</a>
</div>

<h3 class="comp-header">Lanci</h3>

<table class="table table-striped">
  <tr>
    <th>{% trans "Category" %}</th>
    <th title="{% trans "Position" %}" style="width:3em;">
      {% trans "Pos." context "Position" %}
    </th>
    <th>{% trans "Chain" %}</th>
    <th>{% trans "Length" %}</th>
    <th title="Vrijeme otključavanja">{% anchor unlock_minutes Minute %}</th>
    <th>{% trans "Author(s)" %}</th>
    <th>{% trans "Comments" %}</th>
    <th>{% trans "Edit" %}</th>
    <th>{% trans "Overview" %}</th>
  </tr>
  {% for chain in chains %}
    <tr class="{% chain_class chain %}">
      <td>{{ chain.category }}</td>
      <td>{{ chain.position }}</td>
      <td><a href="{{ chain.get_absolute_url }}">{{ chain.name }}</a></td>
      <td>{{ chain.t_ctask_count }}</td>
      <td>{{ chain.unlock_minutes }}</td>
      <td>{{ chain.t_authors }}</td>
      <td>{% chain_ctask_comments_info chain %}</td>
      <td><a href="{{ chain.get_absolute_url }}">{% trans "Edit" %}</a></td>
      <td><a href="{{ chain.get_absolute_url }}overview/">
          {% trans "Overview" %}</a></td>
    </tr>
  {% empty %}
    <tr><td colspan="3"><i>Prazno...</i></td> </tr>
  {% endfor %}
</table>
{% endblock content %}
