{% extends "competition_base.html" %}
{% load i18n %}

{% load bootstrap_toolkit %}
{% load competition_tags %}

{% block content %}

<div class="instructions">
  <h4>Upute</h4>
  <p>Kategorija je bilo kakav string. Po unesenim kategorijama automatski će se
    grupirati lanci u pregledu zadataka.</p>
  <p><i>Unlock minutes</i> predstavlja broj minuta nakon početka natjecanja
    nakon kojih lanac postaje vidljiv. Npr. ako želite da se zadatak vidi tek
    nakon 2 sata, stavite 120. Administratorima će takvi lanci za vrijeme
    natjecanja biti prikazani uvijek, ali transparentno.</p>

  <p><i>Bonus score</i> predstavlja dodatne bodove koje natjecateljski tim
    dobije ako u potpunosti riješi sve zadatke iz lanca.</p>
</div>

<a href="{{ chain.get_absolute_url }}overview/" target="_new">
  {% trans "Chain overview" %}
</a>

<form action="{{ request.get_full_path }}" method="POST"
    class="form-horizontal uppercase-sections fix-bootstrap-form">
  {% csrf_token %}
  <div class="form-section">Lanac</div>
  {% bootstrap_form chain_form layout="horizontal" %}
  <div class="controls">
    <input type="submit" value="Pošalji" class="btn btn-primary">
  </div>
</form>

{% endblock content %}
