{% extends "competition_base.html" %}

{% load bootstrap_toolkit %}
{% load competition_tags %}
{% load mathcontent_tags %}
{% load i18n %}

{% block content %}

<h3>
  <a href="{{ chain.get_absolute_url }}">{{ chain.name }}</a>
</h3>

{% for ctask in ctasks %}
  <div class="ctask-container">
    <div class="chain-overview-ctask-author">
      {% trans "Author:" %} {{ ctask.task.author|userlink }}
    </div>
    <h4 class="ctask-title">
      <a href="{{ ctask.get_absolute_url }}">
        {{ chain.name }} #{{ ctask.chain_position }}
      </a>
    </h4>
    <div class="outset ctask-content">
      {% mathcontent_render ctask.task.content %}
    </div>
    {% if ctask.comment.html %}
      <div class="outset ctask-comment {% ctask_comment_class ctask %}">
        {% mathcontent_render ctask.comment %}
      </div>
    {% endif %}
  </div>
{% endfor %}

{% endblock content %}
