{% extends "competition_base.html" %}

{% load base_tags %}
{% load competition_tags %}
{% load i18n %}

{% block content %}

<div class="small-page">
  <h3 class="comp-header">Registracija</h3>

  <p>{% blocktrans %}A Školjka account is required to register to the 
  competition (a single account suffices per team). {% endblocktrans %}</p>

  <p>{% blocktrans %}Please login, or register an account if you don't
  have an account already. After logging in / registration, you will be able
  to create your team for the competition.{% endblocktrans %}</p>

  <div class="row-fluid">
    <div class="span6">
      <h3>{% trans "Log in" context "action" %}</h3>
      {% login_form no_new_account_link=1 %}
    </div>
    <div class="span6">
      <h3>{% trans "Register an account" %}</h3>
      {% registration_form final_url=request.get_full_path %}
    </div>
  </div>
</div>

{% endblock content %}

