{% load compressed %}
{% load base_tags %}
{% load competition_tags %}
{% load tags_tags %}

{% load i18n %}

<!DOCTYPE html>

<html>
  <head>
    <script>is_authenticated={{ user.is_authenticated|lower }};</script>
    {% compressed_css 'style' %}
    {% compressed_js 'scripts' %}

    {# TODO: move to /favicon.ico. More a server configuration problem, but still... #}
    <link href="/static/images/favicon.ico" rel="shortcut icon">

    <title>{% block title %}{{ competition.name }} - Školjka{% endblock %}</title>

    <meta name="content-language" content="{{ LANGUAGE_CODE }}">
    <meta name="viewport" content="width=device-width">
    {% language_preference_style %}
  </head>
<body>

<div id="header" class="row">
  <h1 id="sitename">
    <a href="/">
      <img src="/static/images/shell32.png" alt="Školjka">
    </a>
    <a href="{% comp_url '' %}" id="competition-name">
      {{ competition.name }}
    </a>
  </h1>

  <div id="header-bar">
    <div class="row-fluid">
      {% include 'inc_header_languages.html' %}
      <a id="hbar-collapse-sidebar" class="collapse-button btn"
          data-target="sidebar" href="#">
      </a>
    </div>
  </div>
</div>

<div id="site-container">
  <div id="sidebar">
    {% if user.is_authenticated %}
      <div id="nav-hello-user">
        {% blocktrans with userlink=user|userlink:"first_name" %}
          Hello, {{ userlink }}!
        {% endblocktrans %}
        {% if team %}
          <br>
          {% trans "Team:" %}
          <a href="{% comp_url 'registration' %}">{{ team.name }}</a>
        {% endif %}
      </div>
    {% endif %}
    <ul class="nav nav-list">
      <li class="nav-header">{% trans "Menu" %}</li>
      <li><a href="{% comp_url '' %}">{% trans "Home" %}</a></li>
      {% if not team and not has_finished and current_time > competition.registration_open_date or is_admin %}
        <li><a href="{% comp_url 'registration' %}" class="register">
            {% trans "Registration" %}</a></li>
      {% endif %}
      <li><a href="{% comp_url 'task' %}">{% trans "Problems" %}</a></li>
      <li><a href="{% comp_url 'scoreboard' %}">{% trans "Results" %}</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% comp_url 'notifications' %}">
            {% trans "Notifications" %}</a></li>
      {% endif %}
      {% if is_admin %}
        <li class="nav-header">{% trans "Admin" %}</li>
        <li><a href="{% comp_url 'chain/tasks' %}">{% trans "Problems" %}</a></li>
        <li><a href="{% comp_url 'chain' %}">{% trans "Chains" %}</a></li>
        <li><a href="{% comp_url 'notifications/admin' %}">
            {% trans "Notifications" %}</a></li>
        {% if user.is_superuser %}
          <li><a href="{% my_url 'admin:app_list' 'competition' %}">
              Admin</a></li>
          {# TODO: Change to my_url/url after upgrading to Django 1.5. #}
          <li><a href="/admin/competition/competition/{{ competition.id }}/">
            Competition admin</a></li>
        {% endif %}
        <li><label class="checkbox">
            <input type="checkbox" id="all-langs" checked>
            {% trans "Show all translations" %}</label></li>
      {% endif %}
    </ul>
  </div>

  <div id="content">
      <div id="comp-float-right">
        <span class="{{ nearly_finished|yesno:"nearly-finished," }}">
          {% trans "Time:" %} {{ current_time|date:"H:i" }}
        </span>
        {% block float_right_extra %}{% endblock %}
      </div>
      {% block content %}
      {% endblock content %}
  </div>
</div>

<div id="footer">
  <span>
    Školjka {% settings_constant VERSION_FOOTER %} © 2014-2021 Ivica Kičić &amp;
    <a href="http://mnm.hr/" target="_blank">MNM</a>.
  </span>
  <span>
    <a href="/tou/" target="_blank">{% trans "Terms of Use" %}</a>
  </span>
  <span>
    <a href="{% comp_url 'rules' %}" target="_blank">
      {% trans "Competition Rules" %}
    </a>
  </span>
</div>

</body>
</html>
