{% load base_tags %} 
{% load bootstrap_toolkit %}

<div class="form-section">Zadatak #{{ index }}</div>
{% bootstrap_form form layout="horizontal" %}
<div class="control-group">
  <div class="control-label">
    <button type="button" class="btn mc-preview-button"
        data-source="{{ form.text.auto_id }}"
        data-target="form-ctask{{ index }}">
      Pregled
    </button>
  </div>
  <div class="controls outset" id="form-ctask{{ index }}">
    {% if form.instance.pk %}
      {{ form.instance.task.content.render }}
    {% endif %}
  </div>
</div>
