{% load competition_tags %}
{% load i18n %}

<h3 class="comp-header">{% trans "Team" %} {{ preview_team.name }}</h3>

<div class="team-score-container">
  {% trans "Score:" %}
  <span class="team-score">{% team_score preview_team %}</span>
</div>

{% trans "Members:" %}
<ol>
  {% for team_member in preview_team_members %}
    <li>
      {% if user.is_authenticated and team_member.member_id %}
        {{ team_member.member|userlink }}
      {% else %}
        {{ team_member.member_name }}
      {% endif %}
    </li>
  {% endfor %}
</ol>
