{% load competition_tags %}

<h3 class="comp-header">Tim {{ preview_team.name }}</h3>

<div class="team-score-container">
  Bodovi: <span class="team-score">{% team_score preview_team %}</span>
</div>

Članovi:
<table class="table table-striped table-bordered">
  {% for team_member in preview_team_members %}
    <tr>
      <td>{{ forloop.counter }}.</td>
      <td>
        {% if show_member_links and team_member.member_id %}
          {{ team_member.member|userlink }}
        {% else %}
          {{ team_member.member_name }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
