{% load base_tags %} 

<div class="form-section">Zadatak #{{ index }}</div>
{% for field in form.visible_fields %}
  <div class="control-group">
    <label for="{{ field.html_name }}" class="control-label">
      {{ field.label|fix_label_colon }}
    </label>
    <div class="controls">
      {{ field }}
    </div>
  </div>
{% endfor %}
{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}
<div class="control-group">
  <div class="control-label">
    <button type="button" class="btn mc-preview-button"
        data-source="{{ form.text.auto_id }}"
        data-target="form-ctask{{ index }}">
      Pregled
    </button>
  </div>
  <div class="controls outset" id="form-ctask{{ index }}">
    {% if form.instance.pk %}
      {{ form.instance.task.content.render }}
    {% endif %}
  </div>
</div>
