/* Task action */

.task-action-bar {
  background-color: rgb(246, 248, 247);
  overflow:auto;
  position: relative;
}

.task-action-bar:before,
.task-action-bar:after {
  content:"";
  display:table;
}
.task-action-bar:after {
  clear:both;
}

.task-action-bar-left {
  position: absolute;
  left: 8px;
  top: 0px;
  height: 100%; 
  display: inline-block;
}

.task-action-bar-left form {
  margin: 0;  /* Fix */
}

.task-action-bar-header {
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.task-action-bar-right {
  float: right;
}

/* End task action */


/* Task table */
.task-table td {
  padding: 3px 5px;
}

/* Task status */
.task-solved td {
  background-color: #70FF70;
}

.task-submitted-not-rated td {
  background-color: #FFC;
}

.task-as-solved td {
  background-color: #AFA;
}

.task-wrong td {
  background-color: #F99;
}

.task-todo td {
  background-color: #8FF;
}

.task-hidden td {
  background-color: #DDD;
}

/* End task table */


.task-text {
  padding: 10px 0px;
}

.task-title {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}


.task-source {
  float: right;
  display: inline;
}
