{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Memberlist" %}{% endblock %}

{% block content %}

<table id="memberlist" class="table-striped table-condensed">
  <tr>
    <th>#</th>
    <th>{% trans "User" %}</th>
    <th>{% trans "First name" %}</th>
    <th>{% trans "Last name" %}</th>
    <th>{% trans "Member since" %}</th>
  </tr>
  {% for x in user_list %}
    <tr>
      <td>{{ forloop.counter }}
      <td>{{ x|userlink }}</td>
      <td>{{ x.first_name }}</td>
      <td>{{ x.last_name }}</td>
      <td>{{ x.date_joined|localdate }}</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="6">{% trans "No registered users" %}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
