{% extends "base.html" %}

{% load adminmedia %}
{% load i18n %}

{% block title %}Uređivanje profila{% endblock %}

{% block content %}

<a href="javascript: history.go(-1)">« Vrati se</a><br>

<br>
<form action="/profile/edit/" method="POST">
  {% csrf_token %}
  {% if success %}
    <div class="alert alert-success">Promjene uspješno spremljene!</div>
  {% endif %}
  <table class="kill-br table-striped">
    <tr>
      <th colspan="2">
        Profil
      </th>
    </tr>
    {{ forms.0.as_table }}
    <tr>
      <th colspan="2">
        Postavke
      </th>
    </tr>
    {{ forms.1.as_table }}
    <tr>
      <td colspan="2">
        <button class="btn btn-primary" name="submit">Pošalji</button>
      </td>
    </tr>
  </table>
</form>

{% endblock %}
