{% extends "base.html" %}

{% load sorting_tags %}

{% block title %}Popis tagova{% endblock %}

{% block content %}
<a href="javascript: history.go(-1)">« Vrati se</a><br><br>

<h3>Popis tagova</h3>

<br>

{# FORM BEGIN #}
{% if can_edit %}
  {% if message %}
    <div class="alert {{ alert_class }}">
      {{ message }}
    </div>
    <br>
  {% endif %}

  <form method="POST" action="{{ request.get_full_path }}">
    {% csrf_token %}
{% endif %}

<table width="40%" class="table-striped table-condensed" style="text-align: center;">
  <tr>
    <th>{% anchor name Tag %}</th>
    <th>{% anchor taggeditem_count "Broj zadataka" %}</th>
    <th>{% anchor weight Težina %}</th>
    {% if can_edit %}<th>Nova težina</th>{% endif %}
  </tr>
  {% autosort tags %}
  {% for x in tags %}
    {# using task- classes to make less mess in base.css #}
    {# TODO: create specific css classes for tags, do not use classes from unrelated parts of the code #}
    {% if x.id in invalid %}
      <tr class="task-wrong">
    {% elif x.id in updated %}
      <tr class="task-as-solved">
    {% else %}
      <tr>
    {% endif %}

      <td><a href="/search/?q={{ x.name }}" {% if x.name.0 == '$' %}class="hidden_tag"{% endif %}>{{ x.name }}</a></td>
      <td>{{ x.taggeditem_count }}</td>
      <td>{{ x.weight }}</td>
      {% if can_edit %}
        <td><input type="text" tabindex="{{ forloop.counter }}" name="w{{ x.id }}" class="thin span1"></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>

{# FORM END #}
{% if can_edit %}
    <input type="submit" value="Pošalji" class="btn btn-primary">
  </form>
{% endif %}

{% endblock %}