@import "main";

/* Posts */
.quote {
  background-color: #FAFAFA;
  border-left: 1px solid #95C5F8;
  color: #753A88;
  padding: 6px;
}

.post {
  padding: 12px;
  &:target {
    /* greenyellow */
    background-color: mix(#ADFF2F, $outset-bg-color, 20%);
  }
}

.post-action {
  float: right;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
}

.post-info {
  color: #888;
  margin-bottom: 12px;
}

.post-list-small {
  > h4 {
    margin-bottom: 0.5em;
  }
}

.post-last-edit {
  color: #999;
  font-size: 11px;
  margin-top: 1em;
}

.unread, .post-reply-to {
  /* should this be here? */
  background-color: #EFC !important;
}
