@import "main";

#comp-list {
  max-width: 1000px;
  text-align: center;
  width: 100%;
}

.comp-list-hidden {
  color: gray;
}

div.comp-post {
  // This could be also used for #post
  button, select {
    margin-bottom: 0px;
  }
}

h3.comp-header {
  margin-bottom: 10px;
}

#comp-welcome {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

table.comp-dates-table {
  color: #666;
  td:first-child {
    color: #444;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
  }
}

.instructions {
  margin-bottom: 10px;

  h4 {
    margin-bottom: 10px;
  }

  p {
    color: gray;
    font-size: 13px;
    margin: 0 0 5px 0;
    line-height: 15px;
  }
}

#comp-float-right {
  color: gray;
  font-size: 12px;
  float: right;
}

.nearly-finished {
  color: red;
}

textarea.comp-mathcontent-text {
  box-sizing: border-box;
  width: 100%;
}

#chain-action-bar-right {
  float: right;
}

.comp-global-notification {
  background-color: #f8f6f4 !important;
}

#creg-invitations-table {
  text-align: center;
}

#creg-form {
  input, select {
    margin: 3px;
  }

  margin: 0px;

  > table {
    margin-left: 10px;
  }

  .creg-invitation-accepted {
    background-color: #DFD;
  }
}

#creg-table {
  display: table;

  > div {
    display: table-row;

    > div:first-child {
      text-align: right;
    }

    > div {
      display: table-cell;
    }
  }
}

@media (max-width: $screen-xs-max) {
  #creg-table {
    > div {
      margin-bottom: 10px;
    }
    &, div {
      display: block !important;
      text-align: left !important;
    }
  }
}

form#comp-scoreboard-admin-refresh {
  margin: 15px 0 0 0;
  color: gray;
}
#comp-scoreboard-table {
  text-align: center;
  width: 100%;

  th {
    background-color: #f4f7f6 * 0.95;
    padding: 5px;
  }

  td {
    padding: 5px;
  }

  td:last-child {
    font-weight: bold;
  }
}

.team-score-container {
  margin-bottom: 15px;
}

.team-score {
  font-weight: bold;
}

.comp-test-team {
  color: #AAA;

  a {
    color: #AAA;
  }
}

.comp-my-team {
  font-weight: bold;
  td {
    background-color: #dff0d8 !important;
  }
}


#comp-tasks {
  td {
    padding: 8px;
  }
}

.comp-category {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.comp-category-hidden {
  opacity: .5;
}

tr.comp-chain-hidden {
  opacity: .5;
}

td.comp-chain-name {
  color: gray;
  font-weight: bold;
  text-align: right;
}

@media (min-width: $screen-sm-min) {
  td.comp-chain-name {
    white-space: nowrap;
  }
}

td.comp-chain-tasks {
  width: 100%;

  .progress {
    margin-bottom: 0px;
  }

  .ctask {
    display: block;
    float: left;
    height: 18px;
  }
}

td.comp-chain-bonus {
  text-align: right;
}

#comp-chain-edit {
  .form-section {
    text-transform: uppercase;
    color: gray;
    font-weight: bold;
    margin-top: 30px;
  }
  .control-group {
    margin-bottom: 5px;
  }
}

.progress .bar + .bar {
  box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
}

.progress .ctask-failed {
  @include gradient-vertical(#ee5f5b, #c43c35);
}
.progress .ctask-solved {
  @include gradient-vertical(#62c462, #57a957);
}
.progress .ctask-open {
  @include gradient-vertical(#5bc0de, #339bb9);
  // @include gradient-vertical(white, white);
}
.progress .ctask-tried {
  @include gradient-vertical(lighten($orange, 15%), $orange);
}
.progress .ctask-locked {
  // nothing
}

div#ctask-legend-container {
  margin-top: 30px;
}

#ctask-legend {
  table {
    white-space: nowrap;
    width: 100%;
  }

  .progress {
    margin-bottom: 0px;
  }

  .bar {
    width: 100%;
  }

  td:first-child {
    text-align: right;
  }
}

#ctask-admin-panel {
  label {
    margin-left: 5px;
    display: inline-block;
  }
}

@media (min-width: $screen-sm-min) {
  .ctask-container {
    margin: 10px 15px;
  }
}

.ctask-content {
  margin: 8px 0px 23px 0px;
}

.ctask-submissions-count {
  font-size: 12px;
  color: gray;
}

.ctask-submissions-table {
  width: 100%;

  td {
    padding: 8px;
    line-height: 18px;
  }
  td.ctask-sub-number {
    text-align: left;
  }
  td.ctask-sub-result {
    text-align: center;
  }
  td.ctask-sub-correctness {
    text-align: right;
  }
}

.ctask-submit-already-finished {
  color: gray;
}

h4.ctask-submit {
  margin: 8px 0px;
}

tr.ctask-correct > td {
  background-color: #dff0d8!important;
}
