@import "main";

// TODO: Generalize this.
.comp-error {
  border-color: #b94a48;
  color: #b94a48;
}

#comp-list {
  max-width: 1000px;
  text-align: center;
  width: 100%;
}

.comp-list-hidden {
  color: gray;
}

div.comp-post {
  // This could be also used for #post
  button, select {
    margin-bottom: 0px;
  }
}

h3.comp-header {
  margin-bottom: 10px;
}

#comp-welcome {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

table.comp-dates-table {
  color: #666;
  td:first-child {
    color: #444;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
  }
}

.instructions {
  margin-bottom: 10px;

  h4 {
    margin-bottom: 10px;
  }

  p {
    color: gray;
    font-size: 13px;
    margin: 0 0 5px 0;
    line-height: 15px;
  }
}

#comp-float-right {
  color: gray;
  font-size: 12px;
  float: right;
}

.nearly-finished {
  color: red;
}

textarea.comp-mathcontent-text {
  box-sizing: border-box;
  width: 100%;
}

#chain-action-bar-right {
  float: right;
}

.cpost-global-notification {
  background-color: #f8f6f4 !important;
}

.cpost-answered {
  background-color: #f5fceb !important;
}

.cpost-answered.cpost-global-notification {
  background-color: #f0ebfc !important;
}

.chelp-authors-general, .chelp-var-authors {
  color: gray;
  margin-left: 10px;
}

.chelp-text {
  font-style: italic;
}
.chelp-type {
  color: #888;
  font-style: italic;
  padding-right: 1em;
}

.chelp-var {
  margin-left: 10px;
  margin-bottom: 10px;
}

.chelp-var-competitors {
  margin-left: 10px;
}

#creg-invitations-table {
  text-align: center;
}

#creg-form {
  input, select {
    margin: 3px;
  }

  margin: 0px;

  > table {
    margin-left: 10px;
  }

  .creg-invitation-accepted {
    background-color: #DFD;
  }
}

#creg-table {
  display: table;

  > div {
    display: table-row;

    > div:first-child {
      text-align: right;
    }

    > div {
      display: table-cell;
    }
  }
}

#creg-table-category {
  > div > label {
    > input[type=radio] {
      display: inline;
    }
  }
}

@media (max-width: $screen-xs-max) {
  #creg-table {
    > div {
      margin-bottom: 10px;
    }
    &, div {
      display: block !important;
      text-align: left !important;
    }
  }
}

form#comp-scoreboard-admin-refresh {
  margin: 15px 0 0 0;
  color: gray;
}
#comp-scoreboard-table {
  text-align: center;
  width: 100%;

  th {
    background-color: #f4f7f6 * 0.95;
    padding: 5px;
  }

  td {
    padding: 5px;
  }

  td:last-child {
    font-weight: bold;
  }
}

.team-score-container {
  margin-bottom: 15px;
}

.team-score {
  font-weight: bold;
}

.comp-unofficial-team {
  color: #AAA;
  a {
    color: #AAA;
  }
}

.comp-admin-private-team {
  color: #F44;
  a {
    color: #F44;
  }
}

.comp-my-team {
  font-weight: bold;
  td {
    background-color: #dff0d8 !important;
  }
}


#comp-tasks {
  td {
    padding: 8px;
  }
}

.comp-category {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.comp-category-hidden {
  opacity: .5;
}

/*tr*/.comp-chain-unfinished:hover {
  background-color: mix(blue, $page-content-bg-color, 5%);
}

tr.comp-chain-hidden {
  opacity: .5;
}

td.comp-chain-name {
  color: gray;
  font-weight: bold;
  text-align: right;
}

@media (min-width: $screen-sm-min) {
  td.comp-chain-name {
    white-space: nowrap;
  }
}

td.comp-chain-tasks {
  width: 100%;

  .progress {
    margin-bottom: 0px;
  }

  .ctask {
    display: block;
    float: left;
    height: 18px;
    text-align: center;
  }
}

td.comp-chain-bonus {
  text-align: right;
}

.uppercase-sections {
  .form-section {
    text-transform: uppercase;
    color: gray;
    font-weight: bold;
    margin-top: 30px;
  }
}

.progress .bar + .bar {
  box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
}

.progress .ctask-failed {
  @include gradient-vertical(#ee5f5b, #c43c35);
}
.progress .ctask-solved {
  @include gradient-vertical(#62c462, #57a957);
}
/*tr*/.comp-chain-unfinished:hover .progress .ctask-open {
  @include gradient-vertical(mix(cyan, #5bc0de, 20%),
                             mix(cyan, #339bb9, 15%));
}
.progress .ctask-open {
  @include gradient-vertical(#5bc0de, #339bb9);
  // @include gradient-vertical(white, white);
}
.progress .ctask-tried {
  @include gradient-vertical(lighten($orange, 15%), $orange);
}
.progress .ctask-locked {
  // nothing
}

div#ctask-legend-container {
  margin-top: 30px;
}

#ctask-legend {
  table {
    white-space: nowrap;
    width: 100%;
  }

  .progress {
    margin-bottom: 0px;
  }

  .bar {
    width: 100%;
  }

  td:first-child {
    text-align: right;
  }
}

#ctask-admin-panel {
  label {
    margin-left: 5px;
    display: inline-block;
  }
}

@media (min-width: $screen-sm-min) {
  .ctask-container {
    margin: 10px 15px;
  }
}

.ctask-comment {
  color: gray;
  &.outset {
    box-shadow: 0 2px 4px mix($page-content-bg-color, $outset-box-shadow-color);
    background: mix($page-content-bg-color, $outset-bg-color, 20%);
    &.ctask-comment-important {
      color: #555;
      background: mix(red, $outset-bg-color, 5%);
      &.ctask-my {
        background: mix(red, $outset-bg-color, 10%);
      }
    }
  }
  .ctask-content + & {
    margin: -8px 0px 23px 0px;
  }
}


.cchain-verified {
  @include colored-tr-striped(lime, 8%);
}

.cchain-important {
  @include colored-tr-striped(red, 5%);
}

.cchain-important-my-ctasks {
  @include colored-tr-striped(red, 10%);
}

.ctask-content {
  margin: 8px 0px 23px 0px;
}

.ctask-submissions-count, .ctask-format-help, .ctask-score-text {
  color: gray;
  font-size: 12px;
  font-style: italic;
}

.ctask-submissions-table {
  width: 100%;

  td {
    padding: 8px;
    line-height: 18px;
  }
}
/*td*/.csub-number,
/*td*/.csub-ctasks,
/*td*/.csub-team {
  text-align: left;
}
/*td*/.csub-date {
  color: gray;
  font-size: 11px;
  white-space: nowrap;
  text-align: center;
}
/*td*/.csub-result {
  text-align: center;
}
/*td*/.csub-correctness {
  text-align: right;
}
/*td*/.csub-delete {
  text-align: right;
}

.ctask-submit-already-finished {
  color: gray;
}

h4.ctask-submit {
  margin: 8px 0px;
}

tr.ctask-correct > td {
  background-color: #dff0d8!important;
}

.chain-overview-ctask-author {
  color: lightgray;
  float: right;
}

$table-cchain-bg: mix(gray, $table-bg, 15%);
.cchain-list > th,
.cchain-list > td {
  background-color: $table-cchain-bg !important;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  vertical-align: middle;
}
.cchain-verified-list > td {
  background-color: mix(green, $table-cchain-bg, 10%) !important;
}

td.cchain-list-ctask-selected {
  width: 2em;
  text-align: right;
}

th.cchain-list-ctask-counter,
td.cchain-list-ctask-counter {
  text-align: right;
  width: 2em;
}

.cchain-list-ctask-content,
.cchain-list-ctask-comment {
  color: gray;
}

td.cchain-list-ctask-date {
  color: gray;
  font-size: 11px;
  white-space: nowrap;
  width: 90px;
}

$table-selected-bg: mix(blue, $table-bg, 5%);
#cchain-unused-ctasks-table tr:hover > td {
  background-color: $table-selected-bg;
}

@mixin colored-ctask-tr($color, $weight) {
  & > td,
  &:hover > td {
    background-color: mix($color, $table-bg, $weight) !important;
  }
  #cchain-unused-ctasks-table &:hover > td {
    background-color: mix($color, $table-selected-bg, $weight) !important;
  }
}

.comp-tr-ctask.ctask-comment-important {
  @include colored-ctask-tr(red, 5%);
}

.comp-tr-ctask.ctask-comment-important.ctask-my {
  @include colored-ctask-tr(red, 10%);

  & > td {
    font-weight: bold;
  }
}

.ctask-verified {
  @include colored-ctask-tr(green, 8%);
}

#used-tasks-table {
  & th, & td {
    border-top: none;
    border-bottom: 1px solid #ddd;
  }
}
#used-tasks-table.add-ctasks-here tr:hover td {
  border-bottom-color: red;
}

#ctask-sample-solution {
  /* Modify .alert's padding and margin. */
  padding: 3px 25px 3px 8px;
  margin-bottom: 0px;
}
