{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Već ste prijavljeni!<br>
    Vjerojatno ste preusmjereni ovdje zato što nemate privilegije za traženo.
{% else %}
{% comment %}FIXME(brahle): action to use url function{% endcomment %}
<form action="/login/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endif %}
{% endblock  %}

