{% extends "base.html" %}

{% block title %}Profil {{ profile.username }}{% endblock %}

{% block content %}

<a href="javascript: history.go(-1)">« Vrati se</a><br>
<br>
{% ifequal user profile %}
  <div style="float:right;" class="btn-group">
    <a href="/profile/edit/" class="btn"><i class="icon-user"></i> Uredi profil</a>
    <a href="/accounts/password/change/" class="btn"><i class="icon-barcode"></i> Promijeni zaporku</a>
  </div>
{% else %}
  <a href="/pm/new/{{ profile.username }}/">Pošalji poruku</a><br><br>
{% endifequal %}

<div class="row">
  <div class="span5">
    <table class="table table-striped table-condensed table-bordered">
      <tr><th>Username:</th><td>{{ profile.username }}</td></tr>
      <tr><th>Ime:</th><td>{{ profile.first_name }}</td></tr>
      <tr><th>Prezime:</th><td>{{ profile.last_name }}</td></tr>
      <tr>
        <th>Grupe:</th>
        <td>
          {% for group in visible_groups %}
            {% if not forloop.first %}|{% endif %}
            {{ group.data }}
          {% endfor %}
        </td>
      </tr>
      {% if tags %}
        <tr>
          <th>Preferirani tagovi:</th>
          <td>
            {% for x in tags %}
              <a href="/search/?q={{ x.tag.name }}">{{ x.tag.name }}</a>
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    </table>
  </div>
  <div class="span5">
    {% if distribution %}
      Distribucija:
      <div class="profile-distribution">
        {% for x in distribution %}
          <div title="{{ x.0 }} - {{ x.2 }}">
            <div style="height:{{ x.1 }}%;"></div>
          </div>
        {% endfor %}
      </div>
      <div>
        Ukupno riješenih zadataka: {{ profile.profile.solved_count }}
      </div>
    {% else %}
      Nema riješenih zadataka.
    {% endif %}
  </div>
</div>

{# TODO: include/tag for this #}

<div class="profile-task-list">
  <h3>Riješeni i poslani zadaci</h3> <a href="/solution/user/{{ profile.id }}/as_solved,submitted/">(otvori sve)</a><br>
  {% for x in solved %}
    {% if not forloop.first %}|{% endif %}
    {% if x.is_submitted %}
      <span class="profile-task-submitted">
        {{ x.task.get_link }}
        {% if x.author == user or x.t_can_view %}
          <a href="/solution/{{ x.id }}/" class="icon-search" title="Rješenje"></a>
        {% endif %}
      </span>
    {% else %}
      {{ x.task.get_link }}
    {% endif %}
  {% empty %}
    <i>Prazno</i>
  {% endfor %}
</div>

<div class="profile-task-list">
  <h3>To Do</h3> <a href="/solution/user/{{ profile.id }}/todo/">(otvori sve)</a><br>
  {% for x in todo %}
    {% if not forloop.first %}|{% endif %}
    {{ x.task.get_link }}
  {% empty %}
    <i>Prazno</i>
  {% endfor %}
</div>

<div class="profile-task-list">
  <h3>Dodani zadaci</h3> <a href="/task/user/{{ profile.id }}/">(otvori sve)</a><br>
  {% for x in task_added %}
    {% if not forloop.first %}|{% endif %}
    {{ x.get_link }}
  {% empty %}
    <i>Prazno</i>
  {% endfor %}
</div>

<a href="/solution/user/{{ profile.id }}/">Sva poslana rješenja</a><br>

{% endblock %}
