{% extends "base.html" %}

{% load pagination_tags %}

{% block title %}Face{% endblock %}

{% block content %}

{% autopaginate users %}

<table width="100%" class="table-striped table-condensed" style="text-align: center;">
  <tr>
    <th>#</th>
    <th>Korisnik</th>
    <th>Broj riješenih zadataka</th>
    <th>Score</th>
  </tr>
  {% for x in users %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ x|userlink }}</td>
      <td><a href="/solution/user/{{ x.id }}/">{{ x.profile.solved_count }}</a></td>
      <td>{{ x.profile.score }}</td>
    </tr>
  {% endfor %}
</table>
{% paginate %}

{% endblock %}
