{% load activity_tags %}

<div class="activity-container">
{% if activity %}
  {% for x in activity %}
    {% ifchanged x.date_created|date:"j_E" %}
      <hr>
      <div class="activity-day">
        {{ x.date_created|date:"j. E" }}
      </div>
    {% endifchanged %}
    <div class="activity">
      {% prepare_action_data x %}
      {{ x.t_right_div_html }}
      <div class="time">{{ x.date_created|time:"H:i"}}</div>
      <div class="act_message1">{{ x.actor|userlink }} {{ x.get_message }}</div>
      <div class="act_message2">{{ x.get_content }}</div>
    </div>
  {% endfor %}
{% else %}
  <div><i>Nema aktivnosti u zadnje vrijeme.</i></div>
{% endif %}
</div>
