{% extends "base.html" %}

{% block title %}Pretrazivanje: {{ tag_string }}{% endblock %}

{% block content %}

<a href="javascript: history.go(-1)">« Vrati se</a><br>

<h2>Pretraživanje</h2>
<form action="/search/" method="get" class="well">
<table>
    {{ form.as_table }}
    <tr><td>
        <button type="submit" class="btn-primary">Pretraži</button>
    </td></tr>
</table>
</form>


{% if any %}
    <ul>
    {% for tag in tags %}
        <li><a href="/search/?q={{ tag }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>

    {% include "inc_task_list_table.html" with plus_exclude=tags empty_message="Ne postoji zadatak s navedenim tagovima" %}
{% endif %}

{% endblock content %}