{% extends "base.html" %}

{% block title %}Pretrazivanje: {{ tag_string }}{% endblock %}


{% block content %}

<a href="javascript: history.go(-1)">« Vrati se</a><br>

<h2>Pretraživanje</h2>
<form action="/search/" method="get">
    Tagovi:<br/>
    <input type="text" name="q"><br>
    <input type="submit" value="Pretraži" />
</form>


{% if tags %}
    <ul>
    {% for tag in tags %}
        <li><a href="/search/{{ tag }}/">{{ tag }}</a></li>
    {% endfor %}
    </ul>

    {% include "inc_task_list_table.html" with empty_message="Ne postoji zadatak s navedenim tagovima" %}
{% endif %}

{% endblock content %}