{% extends "base.html" %}

{% block title %}Pretrazivanje: {{ tag_string }}{% endblock %}

{% block content %}

<a href="javascript: history.go(-1)">« Vrati se</a><br>

<h2>Pretraživanje</h2>
<form action="/search/" method="get" class="well">
{% if errors %}<div class="alert alert-error">{{ errors }}</div>{% endif %}
<table>
    {{ form.as_table }}
    {% if advanced_form %}
    <tr><td colspan="2">
        <a href="#" class="toggler toggle"{% if search_solved_count %} style="display:none;"{% endif %}>Prikaži napredne opcije</a>
        <a href="#" class="toggler toggle"{% if not search_solved_count %} style="display:none;"{% endif %}>Sakrij napredne opcije</a>
        <div class="toggle"{% if not search_solved_count %} style="display:none;"{% endif %}>
            {{ advanced_form.as_p }}
        </div>
        <script>
          $(".toggler").click(function(){
           $(".toggle").toggle();
          });
        </script>
    </td></tr>
    {% endif %}
    <tr><td colspan="2">
        <button type="submit" class="btn-primary">Pretraži</button>
    </td></tr>
</table>
</form>




{% if any %}
    <ul>
    {% for tag in tags %}
        <li><a href="/search/?q={{ tag }}"{% if tag.0 == '$' %} class="hidden_tag"{% endif %}>{{ tag }}</a></li>
    {% endfor %}
    </ul>

    {% if not errors %}
        {% include "inc_task_list_table.html" with plus_exclude=tags empty_message="Ne postoji zadatak s navedenim tagovima" %}
    {% endif %}
{% endif %}

{% endblock content %}