/* Posts */
.quote {
  border-left: 1px solid #CDF;
  background-color: rgb(238, 245, 238);
  padding: 6px;
}

.post_list_small .post_info {
  color: #666;
  margin-bottom: 12px;
}

.post_list_small .last_edit {
  font-size: 11px;
  color: #888
}

