.folder-ab-container {
  display: table;
  float: right;
  margin-top: 5px;
}

.folder-ab-tag-list {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 0 4px 4px 0;
}


.folder-inline {
  margin: 0 0 4px 4px;
}

.folder-inline-chunk {
  display: inline-block;
  margin-right: 20px;
}

.folder-inline-main {
  color: rgb(36, 126, 168);
  font-weight: bold;
  margin-left: -5px;
  text-shadow: 1px 1px 1px rgb(228, 226, 226);
}

.folder-inline-main > span {
  font-weight: normal;
  text-shadow: none;
}

/* Changes to .nav for Folder List (my collections) */
.folder-list-my {
  font-weight: bold;
  position: relative;
}

.folder-list-my-edit {
  position: absolute !important;
  right: 20px;
}

#folder-name {
  margin: 5px 0 5px 5px;
  font-size: 22px;
  font-weight: normal;
}

.folder-task-position {
  width: 30px;
  margin: 0px;
  padding: 0 4px;
}


/*
  Please note there is a bug in/inconsistency with Firefox:
  https://bugzilla.mozilla.org/show_bug.cgi?id=36854
  http://stackoverflow.com/questions/1142314/css-rendering-inconsistency-on-ul-with-firefox-being-the-odd-ball-out
  Thus, we have to use 'outside' instead of 'inside',
  and list-style instead of list-style-type.
*/

.nav-folder, .nav-folder-hidden {
  color: gray;
  line-height: 13px;
  padding-left: -5px;
}

.nav-folder > a:hover, .nav-folder-hidden > a:hover {
  /* background fix for 'inside'. decrease margin left and increase padding by 8px */
  margin-left: -23px;
  padding-left: 20px;
}

.nav-folder {
  list-style: disc outside;
}

.nav-folder-hidden {
  list-style: circle outside;
}

.nav-folder-open {
  color: black;
}
