{% if solutions %}
    <table width="100%" style="text-align:center;">
    <tr>
        <th colspan="6">Lista rješenja</th>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th width="30">#</th>
        <th>Vrijeme</th>
        <th>Zadatak</th>
        <th>Korisnik</th>
        <th>Rješenje</th>
    </tr>
    {% for s in solutions %}
    <tr>
        <td><a href="/solution/{{ s.id }}/">Otvori</a></td>
        <td>{{ s.id }}</td>
        <td>{{ s.date_created|timesince }} ago</td>
        <td><a href="/task/{{ s.task.id }}/">{{ s.task.name }}</a></td>
        <td>{{ s.author|userlink }}</a></td>
        <td>{{ s.content.short }}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    {% if empty_message %}{{ empty_message }}{% endif %}
{% endif %}