{% load pagination_tags %}
{% load rating_tags %}
{% load solution_tags %}
{% load sorting_tags %}
{% load userprofile_tags %}

{% if not filter_by_status %}
  {% useroptions "solution_status_filter" %}
    {% useroption "" "Sva rješenja" default %}
    {% useroption "submitted" "Poslana" %}
    {% useroption "unrated" "Neocijenjena" %}
  {% enduseroptions %}
{% endif %}

{# filter queryset if filter_status is not None #}
{% filter_solutions_by_status solutions filter_by_status %}

{% autosort solutions %}
{% autopaginate solutions %}

{% if solutions %}
  {% cache_solution_info solutions %}

  <table width="100%" class="table-striped table-condensed sol-table" style="text-align: center;">
    <tr>
      <th colspan="6">Lista rješenja</th>
    </tr>
    <tr>
      <th width="30">#</th>
      <th>{% anchor date_created Vrijeme %}</th>
      <th>Zadatak</th>
      <th>Korisnik</th>
      <th>Rješenje</th>
      <th>Točnost</th>
    </tr>
    {% for s in solutions %}
      {% check_solution_for_accessibility s s.content.short %}
      <tr style="{% solution_tr_bg_color_attr s forloop.counter %}">
        <td>{{ s.id }}
        <td>{{ s.date_created|timesince }}
        <td>{{ s.task.get_link }}
        <td>{{ s.author|userlink }}</a>
        {% if s.is_submitted %}
          <td>
            {% if s.is_official %}<span class="label label-info">Službeno</span> {% endif %}
            {% if can_view_solution %}
              <a href="/solution/{{ s.id }}/" {{ obfuscation_title }}>{{ obfuscation_text }}</a>
            {% else %}
              <span class="sol-not-accessible" title="{{ no_access_explanation }}">{{ obfuscation_text }}</span>
            {% endif %}
          <td style="width:80px;">{% rating_stars s.correctness 2.7 %}
        {% else %}
          <td>
            {% if s.author == user %}<a href="/task/{{ s.task_id }}/submit/">{% endif %}
              {% if s.is_as_solved %}<i>prazno</i>{% endif %}
              {% if s.is_todo %}<i>to do</i>{% endif %}
            {% if s.author == user %}</a>{% endif %}
          <td style="width:80px;">&nbsp;
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  {% paginate %}
{% else %}
  <br>
  {% if empty_message %}{{ empty_message }}{% endif %}
  <br><br>
{% endif %}

{# Easiest implementation... #}
{% update_userprofile_evaluator_time %}
