{% extends "base.html" %}

{% block title %}Pregled rješenja{% endblock %}

{% block content %}

<a href="javascript: history.go(-1)">« Vrati se</a><br />

Korisnik:<br />
{{ solution.author }}<br /><br />

<div style="float:right;text-align:right;">
    <a href="/solution/{{ solution.pk }}/edit/">Edit</a><br />
</div>


Zadatak:<br />
<a href="/task/{{ solution.task_id }}/">{{ solution.task.name }}</a><br /><br />

<div id="solutioncontent">
    {{ solution.content.render|safe }}
</div>

{% endblock content %}
