{% extends "base.html" %}

{% load post_tags %}

{% block title %}Pregled rješenja{% endblock %}

{% block content %}

<a href="javascript: history.go(-1)">« Vrati se</a><br>

Korisnik:<br>
{{ solution.author|userlink }}<br><br>

<div style="float:right;text-align:right;">
    {{ solution.date_created }}<br>
    <a href="/solution/{{ solution.pk }}/edit/">Edit</a><br>
</div>


Zadatak:<br>
<a href="/task/{{ solution.task_id }}/">{{ solution.task.name }}</a><br><br>

<br>
<div id="solution_content">
    {{ solution.content.render|safe }}
</div>

<br><br><br>
{% show_posts_small solution %}

{% endblock content %}
