{% extends "base.html" %}

{% load post_tags %}
{% load rating_tags %}

{% block title %}Pregled rješenja{% endblock %}

{% block content %}

<a href="javascript: history.go(-1)">« Vrati se</a><br>

<br><br>
<div style="float:left;">
  {% if user.is_authenticated %}
    {% if user == solution.author %}
      Točnost: <div style="width:80px;">{% rating_stars solution.correctness 2.0 %}</div>
    {% else %}
      {% rating_box "Točnost" solution.correctness %}
    {% endif %}
  {% endif %}
</div>
<div style="float:right;text-align:right;">
  {{ solution.date_created }}<br>
  {% if solution.author == user or user.is_staff or solution.task.author == user %}
    <form action="/solution/{{ solution.pk }}/edit/mark/" method="post">
      {% csrf_token %}
      <div class="btn-group">
        {% if user.is_staff or solution.task.author == user %}
          {% if solution.is_official %}
            <button class="btn btn-mini" name="action" value="0">Makni oznaku službenog</button>
          {% else %}
            <button class="btn btn-mini" name="action" value="1">Označi kao službeno</button>
          {% endif %}            
        {% endif %}
        {% ifequal solution.author.id user.id %}
          <button class="btn btn-mini" name="action" value="blank" title="Staro rješenje će ostati spremljeno za ponovno slanje, ali neće biti inače vidljivo.">Izbriši rješenje</button>
          <button class="btn btn-mini" name="action" value="as_solved" title="Tekst rješenja neće biti vidljiv.">Označi kao riješeno</button>
          <button class="btn btn-mini" name="action" value="todo" title="Tekst rješenja neće biti vidljiv.">To Do</button>
          <a class="btn btn-mini" href="/solution/{{ solution.pk }}/edit/">Uredi</a>
        {% endifequal %}
      </div>
    </form>
  {% endif %}
  {% if solution.is_official %}<span class="label label-info">Službeno rješenje</span>{% endif %}
</div>


<br><br><br>
<i>Korisnik: {{ solution.author|userlink }}</i><br>
<i>Zadatak: {{ solution.task.get_link }}</i><br><br>
<div class="well">
  {# TODO: render tag! #}
  {% if user.is_authenticated %}
    {{ solution.content.render_quote }}
  {% else %}
    {{ solution.content.render }}
  {% endif %}
</div>

{% if solution.correctness_avg %}
  <br>
  <h5><a href="#" id="solution_ratings_toggle">Ocjene: ({{ ratings|length }})</a></h5>
  <table class="table-striped table-condensed" style="text-align:center;width:400px;display:none;" id="solution_ratings">
  {% for x in ratings %}
    <tr>
      <td style="width:140px;">{{ x.date }}</td>
      <td>{{ x.user|userlink }}</td>
      <td style="width:80px;">{% rating_stars solution.correctness 2.0 x.value %}</td>
    </tr>
  {% endfor %}
  </table>
{% endif %}
<br><br><br>
{% show_posts_small solution %}

{% endblock content %}
