{% load solution_tags %}
{% load tags_tags %}
{% load task_tags %}

{# Note that JavaScript task-tooltip makes some assumptions about the this structure. #}
{# task-container also used for tr. #}
<div class="{{ div_class }}">
  <div class="task-container mc-hover-area outset" data-task-id="{{ task.id }}">
    <div class="task-small-info">
      <h4 class="task-small-title">
        {% task_link task tooltip=1 url_suffix=url_suffix %}
      </h4>
      <div class="task-small-info-right">
        {% tag_list task %}
        <span class="sol-label-container">
          {% solution_label task %}
        </span>
      </div>
    </div>

    {% if task.cache_prerequisites_met %}
      {{ task.content.render }}
    {% else %}
      <i>Nište riješili neke od preduvjeta za ovaj zadatak!</i>
    {% endif %}

    {% if 'timesince' in options %}
      <div class="task-timesince">{{ task.date_created|timesince }}</div>
    {% endif %}
  </div>
</div>
