{% load sorting_tags %}

{% load tags_tags %}
{% load task_tags %}
{% load rating_tags %}

<table width="100%" class="table-striped task-table" style="text-align: center;">
  <thead>
  <tr>
    {% if user.profile.selected_folder %}<th width="50">U mapi</th>{% endif %}
    <th width="30">{% anchor id # %}</th>
    <th>{% anchor name Naslov %}</th>
    <th>Oznake</th>
    <th>{% anchor solved_count Rj. %}</th>
    {% if search_solved_count %}<th>(Rj.)</th>{% endif %}
    <th>{% anchor quality_rating_avg Kvaliteta %}</th>
    <th>{% anchor difficulty_rating_avg Težina %}</th>
  </tr>
  </thead>

  <tbody>
  {% for task in tasks %}
    {# JavaScript Task Tooltip assumes this is tr. task-container also used for div. #}
    <tr class="{{ task.get_tr_class }} task-container" data-task-id="{{ task.id }}">
      {% if user.profile.selected_folder %}
        {# We duplicate id value here, so that js is independent of html structure... #}
        <td><input type="checkbox" class="folder-checkbox"{% if task.is_in_folder %}
                    checked="checked"{% endif %} data-id="{{ task.id }}"></td>
      {% endif %}

      <td>{{ task.id }}</td>
      <td>{% task_link task tooltip=1 %}</td>
      <td>{% if plus_exclude %}{% tag_list task plus_exclude %}{% else %}{% tag_list task %}{% endif %}</td>

      {% if task.solved_count != 0 %}
        <td><a href="/solution/task/{{ task.id }}/">{{ task.solved_count }}</a></td>
      {% else %}
        <td>0</td>
      {% endif %}

      {% if search_solved_count %}
        <td>{{ task.search_solved_count }}</td>
      {% endif %}

      <td style="width:80px;">{% rating_stars manager=task.quality_rating %}</td>
      <td style="width:80px;">{% rating_stars manager=task.difficulty_rating %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
