{% load folder_tags %}
{% load task_tags %}
{% load i18n %}

<div class="lecture-small-box">
  <a href="{{ task.cache_file_attachment_url }}">
    <img src="{{ task.cache_file_attachment_thumbnail_url }}" alt="(snapshot)"
        class="lecture{% lecture_img_class task %}">
  </a>
  <div class="lecture-description">
    <h4 title="{{ task.name }}">
      <a href="{{ task.get_absolute_url }}">{{ task.name }}</a>
    </h4>
    <span class="lecture-date-created">{{ task.date_created|date }}</span>
    <div class="lecture-links">
      {% if task.lecture_video_url %}
        <a href="{{ task.lecture_video_url }}" class="lecture-link">
          <i class="icon-facetime-video"></i>
          {% trans "Video" %}
        </a>
      {% endif %}
      {% if task.lecture_folder_id %}
        <a href="{% folder_url_by_id task.lecture_folder_id %}"
           class="lecture-link">
          <i class="icon-folder-open"></i>
          {% trans "Tasks" %}
        </a>
      {% endif %}
    </div>
  </div>
</div>

