{% extends "base.html" %}
{% load i18n %}

{% block title %}Lista zadataka{% endblock %}

{% block content %}

{% if new_task_added %}
  Zadatak uspješno dodan!<br><br>
{% endif %}

{% if user.is_authenticated %}
  <div class="btn-group" style="float: right;">
    <a href="/task/new/" class="btn">
      <i class="icon-pencil"></i> Dodaj zadatak
    </a>
    <a href="/task/new/file/" class="btn">
      <i class="icon-file"></i> Dodaj datoteku
    </a>
    <a href="/task/new/lecture/" class="btn">
      <i class="icon-book"></i> {% trans "New lecture" %}
    </a>
  </div>
  <br><br>
{% endif %}

{% include "inc_task_list.html" %}

{% endblock content %}
