{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% if is_lecture %}
    {% if edit %}
      {% blocktrans %}Editing lecture {{ task_name }}{% endblocktrans %}
    {% else %}
      {% trans "New lecture" %}
    {% endif %}
  {% elif is_file %}
    {% if edit %}
      Uređivanje datoteke {{ task.name }}
    {% else %}
      Nova datoteka
    {% endif %}
  {% else %}
    {% if edit %}
      Uređivanje zadatka {{ task.name }}
    {% else %}
      Novi zadatak
    {% endif %}
  {% endif %}
{% endblock %}


{% block content %}

<div class="instructions outdiv">
  {% if is_lecture %}
    {% blocktrans %}To add the tasks, first create a folder
      <a href="{{ lectures_folder_url }}">here</a>, then use
      <a href="{{ bulk_add_url }}">bulk add</a>.{% endblocktrans %}
    {% trans "If you do not have the permission to perform these steps, please contact the administrators." %}
    <br><br>
  {% endif %}
  {% if is_file %}
    Napomena: Nemojte dodavati datoteke za čiji sadržaj nemate ovlasti!
  {% else %}
    <div class="span7" style="margin: 0; float: none;">
      Napomena: Nemojte dodavati zadatke za koja nemate ovlasti. Također,
      nemojte dodavati zadatke s domaćih natjecanja (općinskih, županijskih,
      državnih, izbornih) i s olimpijada (IMO, shortlist, MEMO, HMO), jer će to
      prije ili poslije dodati mentori. Ukoliko dodajete zadatke s natjecanja,
      po mogućnosti dodajte sve zadatke odjednom (svih, primjerice, pet
      zadataka).
    </div><br>
  {% endif %}
  <br>
  Hint: Kombinacijom <b>Ctrl+M</b> osvježava se pregled teksta zadatka.
</div>
<div style="text-align: right; float: right;">
  <div class="btn-group" style="display: block;">
    {% if edit and not is_file %}
      <a href="/mathcontent/{{ task.content_id }}/attachments/" class="btn">Pregled datoteka</a>
    {% endif %}
    {% if can_edit_permissions %}
      <a href="/permissions/edit/{{ content_type.id }}/{{ task.id }}/" class="btn">Privilegije</a>
    {% endif %}
  </div>
  {% if not is_file and perms.task.add_advanced %}
    <a href="/task/new/json/">JSON</a> &nbsp; &nbsp;
  {% endif %}
  <a href="/tags/" target="_blank">Popis oznaka</a>
</div>

<form {% if is_file %}enctype="multipart/form-data"{% endif %}
    action="{{ action_url }}" method="post">
  {% csrf_token %}
  <table class="kill-br split-form">
    {# Any better way to split a form? #}

    <tr class="split-form-row"><th colspan="2">Osnovno</th></tr>
    {% get_fieldset name,tags,source as first_part from forms.0 %}
    {{ first_part.as_table }}
    <tr class="split-form-row"><th colspan="2">Sadržaj</th></tr>
    {{ forms.2.as_table }}  {# if taskfile #}
    {{ forms.1.as_table }}
    <tr>
      <th>
        <button type="button" class="btn mc-preview-button"
            data-source="{{ forms.1.text.auto_id }}"
            data-target="task-preview">
          Pregled
        </button>
      </th>
      <td>
        <div class="mc-preview outset" id="task-preview">
          {% if task.pk %}
            {{ task.content.render }}
          {% endif %}
          {% if not task.pk or not task.content.render %}
            <span class="mc-preview-empty-message">
              {% trans "Press Ctrl+M to get the preview of the text." %}
            </span>
          {% endif %}
        </div>
      </td>
    </tr>

    {% if is_lecture %}
      {% get_fieldset lecture_video_url,folder_id as lecture_part from forms.0 %}
      {{ lecture_part.as_table }}
    {% endif %}


    <tr class="split-form-row"><th colspan="2">Napredno</th></tr>
    {% get_fieldset hidden,solvable,solution_settings,prerequisites as second_part from forms.0 %}
    {{ second_part.as_table }}
  </table>
  <br>
  <input type="submit" class="btn btn-primary" value="Pošalji">
</form>

{% endblock content %}
