{% extends "base.html" %}

{% load i18n %}
{% load mathcontent_tags %}

{% block title %}Pretvaranje u {{ format }}{% endblock %}

{% block content %}

<h3>Pretvaranje u {{ format }}</h3>
<br><br>

<form action="/task/export/" method="POST">
  <h4>Postavke:</h4>
  <br>
  {% csrf_token %}
  <table width="40%" class="table-striped" style="text-align:center;">
    {{ form.as_table }}
  </table>
  {% if invalid_tasks %}
    <div class="alert alert-danger">
      {% trans "There were some internal errors while converting the following tasks:" %}
      <ul>
        {% for task in invalid_tasks %}
          <li>{{ task.get_link }}</li>
        {% endfor %}
      </ul>
      {% trans "If you still want to export the tasks, click 'Convert' again." %}
      <input type="hidden" name="ignore-exceptions" value="1">
    </div>
  {% endif %}
  <input type="submit" name="action" value="{% trans "Convert" %}"
         class="btn btn-primary">

  <br><br>
  {% if removed_tasks %}
    <b style="color:red;">Ukupno izbačenih neotključanih zadataka: {{ removed_tasks|length }}</b><br>
  {% endif %}
  <b>Ukupno zadataka: {{ tasks|length }}</b><br>
  <br>
  <table width="40%" class="table-striped table-condensed" style="text-align:center;">
    {% for x in all_tasks %}
      <tr{% if not x.cache_prerequisites_met %} style="color:red;"{% endif %}>
        <td>{{ x.id }}</td>
        <td>{{ x.get_link }}</td>
        <td>
          {% if x.cache_prerequisites_met %}
            {% mathcontent_attachments_small attachments=x.cache_file_list %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

</form>

{% endblock %}
