/* TODO: replace _ with - */
/* TODO: sass */

/* ================================= */
/* jquery.autocomplete.css */

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {

}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}


/* end of jquery.autocomplete.css */
/* ================================= */


/* ================================= */
/* NOTE: width:17px has been changed to 16px!
/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:16px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */
/* ================================= */

/* jQuery Rating fix */
div.readonly-star {
  float: left;
  height: 15px;
  text-indent: -999em;
  display: block;
  background: transparent;
  overflow: hidden;
  background: url(star.gif) repeat-x 0 0px;
}

/* ================================= */
/* skoljka css: */


/* changes to Bootstrap */
tr.task_solved td {
  background-color: #70FF70!important;
}

tr.task_submitted_not_rated td {
  background-color: #FFC!important;
}

tr.task_as_solved td {
  background-color: #AFA!important;
}

tr.task_wrong td {
  background-color: #F99!important;
}

tr.task_todo td {
  background-color: #8FF!important;
}

tr.task_hidden td,
tr.group_hidden td {
  background-color: #DDD!important;
}

.thin {
  line-height: normal;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

/* this is kind of tricky, please find a better solution! */
#content .btn-group,
#content .row,
#content .row-fluid {
  display: inline-block;
}


/* Hacks */
/*   Anything that should or could have a better solution. */

.kill-br br {
  /* as_table inserts unwanted <br> between field and its help_text */
  /* This is the easiest way to remove its effect */
  display: none;
}

/* Vertical align solution taken from: http://emergentweb.com/test/valign.html */
.center-vertically {
  height: 100%;
}

.center-vertically > div {
  display: table;
  height: 100%;
  width: 100%;
}

.center-vertically > div > div {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.center-vertically > div > div > div {
  margin: 0 auto;
}

/* Hacks End */


/* General */
#header {
  padding: 5px!important;
}

#header form {
  padding: 0px!important;
  margin: 0px!important;
}

#sidebar {
  position: relative;
  top: 0;
  left: auto;
  width: 255px;
  float: left;
}

#sidebar > div {
  padding: 19px 15px;
}

#content {
  margin: 0 0 0 275px;
}

.nav-hello-user {
  padding: 0 0 1em 15px;
}

#footer {
  margin: 0px 20px 5px 10px;
  text-align: right;
  font-size: 12px;
  color: #BBB;
}

#sitename {
  float: left;
  padding-left: 20px;
}

#sitename a {
  color: black;
}

#sitename a:hover {
  color: black;
  text-decoration: none;
}

#footer a {
  color: #8CF;
}

a.register {
  color: red;
}

.unread_pms_count {
  color: red;
}

.unread,
.post_reply_to {
  background-color: #EFC;
}


/* Activity */
.activity {
  border-top: thin solid #DDD;
  padding: 6px 5px 3px 5px;
}

.activity .time {
  font-size: 12px;
  color: gray;
}

.activity .act_message1 {
  margin: 0px 0px 0px 25px;
}

.activity .act_message2 {
  margin: 6px 0px 6px 45px;
}

.act_day {
  font-size: 18px;
  border-top: thin solid #DDD;
  padding: 4px;
  color: #AAA;
}

.quote {
  border: 1px solid #CDF;
  background-color: #EEF;
  padding: 5px;
}

.post_list_small .post_info {
  color: #666;
  margin-bottom: 12px;
}

.post_list_small .last_edit {
  font-size: 11px;
  color: #888
}


/* Tags */
.tag-list {
  display: inline;
  font-size: 12px;
  color: #888;
}

.tag-hidden {
  color: #999;
}

.tag-wrong {
  color: #A98;
}

.tag-hidden.tag-wrong {
  color: #CCC;
}

.tag-votes {
  color: #C8C8C8;
}


/* for jquery tools tooltip */
/* cannot use `tooltip`, as it is already used by bootstrap.css */
.tag-tooltip {
  display:none;
  background:#A2A2A2;
  border:1px solid #BBB;
  padding:5px 6px 0px 6px;
  color:#eee;
}

.tag-tooltip img {
  vertical-align:-3px;
}

.tag-tooltip input {
  margin-top:3px;
}

.task_tooltip {
  display:none;
}

span.task_submitted a {
  color: #00F;
}


/* MathContent */
.mc {
  position: relative;
}

.mc_viewsource {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-left: 2px;
}

.mc_viewsource a i {
  opacity: 0.15;
}

div.mc_viewsource_text {
  margin-top: 10px;
  color: #666;
  white-space: pre-line;
}

a.mc_viewsource_clipboard {
  margin-top: 7px;
}

pre {
  display: inline;
  background-color: #DDD;
}

img.latex,
img.latex_center,
object.latex,
object.latex_center {
  max-width: 100%;
}

img.latex_center,
object.latex_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6pt;
  margin-bottom: 6pt;
}


/* News */
.news {
  padding: 20px 5px;
}

.news .mc {
  padding-left: 10px;
}

.news .title {
  font-weight: bold;
  color: #0080DD;
  padding: 10px 0px;
}

.news .added_by {
  color: #AAAAAA;
  padding: 10px 0px;
  font-size: 12px;
}

/* Profile */
.profile-distribution:after {
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.profile-distribution > div {
  width: 20px;
  height: 100px;
  float: left;
  background-color: #EEE;
  position: relative;
}

.profile-distribution > div > div {
  width: 20px;
  background-color: #CCC;
  position: absolute;
  bottom: 0px;
}

.profile-task-list {
  margin: 1em 0;
}
.profile-task-list > h3 {
  display: inline;
}

button.blank {
  border: 0px;
  background: transparent;
  margin: 0px;
  padding: 0px;
}
