tr.task_solved td {
    background-color: #70FF70!important;
}
tr.task_submitted_not_rated td {
    background-color: #FFC!important;
}
tr.task_as_solved td {
    background-color: #AFA!important;
}
tr.task_wrong td {
    background-color: #F99!important;
}
tr.task_todo td {
    background-color: #8FF!important;
}
tr.task_hidden td, tr.group_hidden td {
    background-color: #DDD!important;
}
pre {
    display: inline;
    background-color: #DDD;
}
img.latex_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.tag_list {
    display: inline;
    font-size: 12px;
    color: #888;
}
.activity {
    border-top: thin solid #CCC;
    padding: 6px 5px 3px 5px;
}
.activity .time {
    font-size: 12px;
    color: gray;
}
.activity .act_content {
    margin: 6px 0px 6px 15px;
}
