tr.task_solved td {
    background-color: #70FF70!important;
}
tr.task_submitted_not_rated td {
    background-color: #FFC!important;
}
tr.task_as_solved td {
    background-color: #AFA!important;
}
tr.task_wrong td {
    background-color: #F99!important;
}
tr.task_todo td {
    background-color: #8FF!important;
}
tr.task_hidden td, tr.group_hidden td {
    background-color: #DDD!important;
}
pre {
    display: inline;
    background-color: #DDD;
}
img.latex_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.tag_list {
    display: inline;
    font-size: 12px;
    color: #888;
}
.activity {
    border-top: thin solid #DDD;
    padding: 6px 5px 3px 5px;
}
.activity .time {
    font-size: 12px;
    color: gray;
}
.activity .act_message1 {
    margin: 0px 0px 0px 25px;
}
.activity .act_message2 {
    margin: 6px 0px 6px 45px;
}
.act_day {
    font-size: 18px;
    border-top: thin solid #DDD;
    padding: 4px;
    color: #AAA;
}
.header {
    padding: 5px!important;
}
.header form {
    padding: 0px!important;
    margin: 0px!important;
}
.footer {
    margin: 0px 20px 5px 10px;
    text-align: right;
    font-size: 12px;
    color: #BBB;
}
.sitename {
    color: black;
    padding-left: 20px;
}
.sitename:hover {
    color: black;
    text-decoration: none;
}
.footer a {
    color: #8CF;
}
a.register {
    color: red;
}
.unread_pms_count {
    color: red;
}
.unread, .post_reply_to {
    background-color: #EFC;
}
.quote {
    border: 1px solid #CDF;
    background-color: #EEF;
    padding: 5px;
}
.post_list_small .post_info {
    color: #666;
    margin-bottom: 8px;
}
.post_list_small .last_edit {
    font-size: 11px;
    color: #888
}
