{% extends "usergroup_base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Members of group {{ group.name }}{% endblocktrans %}{% endblock %}

{% block inner_content %}

<br>
<table width="60%" class="table-striped table-condensed" style="text-align: center;">
{% for x in group.data.get_members %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ x|userlink }}</td>
    <td>
      {% if x == group.data.author %}{% trans "Author" %}{% endif %}
    </td>
    <td>
      <a href="/pm/new/{{ x.username }}/" title="Pošalji poruku">
        <i class="icon-play"></i>
      </a>
    </td>
  </tr>
{% empty %}
  <tr><td><i>{% trans "No members" %}</i></td></tr>
{% endfor %}
</table>

{% if can_edit_permissions %}
  <a href="/permissions/edit/{{ group_content_type.id }}/{{ group.id }}/"
     class="btn">
    {% trans "Permissions" %}
  </a>
{% endif %}

{% if can_add_members %}
  <br><br><br>
  {% trans "Add new members" %}
  <form action="/usergroup/{{ group.pk }}/members/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">{% trans "Add" %}</button>
  </form>
{% endif %}

{% endblock %}
