{% load i18n %}
<div class="mc">
  {# You might wonder why is view source using position absolute instead of #}
  {# the float property. The problem is quote div, which moves the view #}
  {# source link outside of the mc div. #}
  <div class="mc-inner">
    {% if content.html == None %}
      <span style="color:red;">
        {% trans "Internal parser error. Please contact administrators." %}
      </span>
      {% trans "Original text:" %}<br>
      <pre>{{ content.text }}</pre>
    {% else %}
      {{ content.html|safe }}
    {% endif %}
    {% if view_source %}
      <div class="mc-viewsource">
        {% if quote %}
          <a href="#post" class="mc-viewsource-quote" title="Citiraj">
            <i class="icon-edit"></i>
          </a>
        {% endif %}
        <a href="#" class="mc-viewsource-toggle" title="Pogledaj tekst">
          <i class="icon-share"></i>
        </a>
      </div>
    {% endif %}
  </div>
  {% if view_source %}
    <div class="mc-viewsource-text" style="display:none;">
      {{ content.text }}
    </div>
  {% endif %}
</div>
