{% extends "base.html" %}

{% block title %}Uređivanje datoteka{% endblock %}

{% block content %}

{% if task %}
  <h4>{{ task.get_link }}</h4>
{% endif %}
<div class="outset outset-margin">
  {{ content.render }}
</div>

<div class="outset outset-margin">
  <h4>Postojeće datoteke</h4>
  <table class="table-striped table-condensed" style="width: 40%">

  {% for x in content.attachments.all %}
    <tr>
      <td><a href="{{ x.get_url }}">{{ x.get_filename }}</a></td>
      <td>{{ x.cache_file_size|filesizeformat }}</td>
      <td><a class="mc-attachment-delete" data-id="{{ x.id }}" data-name="{{ x.get_filename }}" href="#" title="Izbiši">Izbriši</a></td>
    </tr>
  {% empty %}
    <tr><td><i>Nema datoteka.</i></td></tr>
  {% endfor %}
  </table>
</div>

<div class="outset">
  <h4>Dodavanje novih datoteka</h4>
  <form enctype="multipart/form-data" method="post" action="/mathcontent/{{ content.id }}/attachments/">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Pošalji" class="btn-primary">
  </form>
</div>

{% endblock %}
