.mc-preview {
  margin: 10px 0px;
  br { /* Cancels the effect of kill-br. */
    display: block;
  }
}

.mc-preview-empty-message {
  color: #999;
  font-style: italic;
}

/* Fixing min height in the case of Bootstrap forms. */
.controls.outset {
  min-height: 0.6em;
}

.mc-text {
  box-sizing: border-box;
  margin-bottom: 0px;
  width: 100%;
}

.mc-inner {
  position: relative;
}

.mc-viewsource {
  bottom: 0px;
  right: 0px;
  margin-left: 2px;
  position: absolute;
  visibility: hidden;
}

/* Expand hover area by using mc-hover-area class */
.mc-hover-area:hover, .mc:hover {
  .mc-viewsource {
    visibility: visible;
    opacity: 0.15;
  }
}

div.mc-viewsource-text {
  margin-top: 10px;
  color: #666;
  white-space: pre-line;
}

a.mc-viewsource-clipboard {
  margin-top: 7px;
}

img.latex,
img.latex-center,
object.latex,
object.latex-center {
  max-width: 100%;
}

img.latex-center,
object.latex-center {
  display: block;
  margin: 6pt auto;
}

/* MathContent content */
.mc-center {
  text-align: center;
}

.mc-error {
  color: red;
}

.mc-error-source {
  color: red;
  font-weight: bold;
}

.mc-fbox {
  border: 1px solid black;
  white-space: nowrap;
}

.mc-indent {
  // Default is 15pt, 17pt, 17.68pt for 10pt, 11pt, 12pt document size.
  text-indent: 1em;
}

.mc-mbox {
  white-space: nowrap;
}

.mc-noindent {
  text-indent: 0em;
}

.mc-underline {
  text-decoration: underline;
  white-space: nowrap;
}

.mc-preview p, .mc-inner p {
  margin: 1pt 0 0 0;  // Default \parskip.
}

.mc-preview > p:first-child, .mc-inner > p:first-child {
  // No margin for the first paragraphs (cancel \parskip).
  // This implementation simplifies testing.
  margin-top: 0 !important;
}

.mc-verbatim {
  display: block;
  margin: 1em 0;
}
