@import "main";

#solution-action-bar-right {
  float: right;
  text-align: right;

  > form {
    margin: 0px; /* Fix */
  }
}

#solution-container {
  position: relative;
}

#solution-info-left {
  margin: 2.5em 0 1em 0em;
}

#solution-task {
  margin-bottom: 15px;
}

#solution-toggle-task {
  font-weight: bold;
}

#solution-unhide-box {
  position: absolute;
  background-color: #FEFEFE;
  border: 1px solid #DDDDDD;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  text-align: center;
}

#solution-unhide-box:hover {
  background-color: #F4F4F4;
}

.sol-not-accessible {
  color: gray;
}

.sol-table td {
  background-color: inherit !important;
}

.sol-unrated {
  background-color: rgb(244, 252, 163);
}

.sol-unrated:nth-child(odd) {
  background-color: rgb(247, 255, 166);
}

#solution-submit-form {
  margin: 15px 5px 5px 5px;
}
