{% extends "usergroup_base.html" %}
{% load i18n %}

{% block title %}
  {% if edit %}
    Uređivanje grupe {{ group.name }}
  {% else %}
    Stvaranje nove grupe
  {% endif %}
{% endblock %}

{% block inner_content %}

<form action="/usergroup/{% if edit %}{{ group.id }}/edit/{% else %}new/{% endif %}" method="post">
  <h4>
    {% if edit %}Uređivanje grupe {{ group.name }}{% else %}Nova grupa{% endif %}
  </h4><br>
  {% csrf_token %}
  <table>
    {% for form in forms %}
      {{ form.as_table }}
    {% endfor %}
    <tr>
      <th></th>
      <td class="btn-group">
        <button type="submit" class="btn btn-primary">
          {% if edit %}Pošalji{% else %}Napravi novu grupu{% endif %}
        </button>
        <a href="/usergroup/{% if edit %}{{ group.id }}/{% endif %}" class="btn">{% trans "Cancel" %}</a>
      </td>
    </tr>
  </table>
</form>

{% endblock %}
