{% extends "usergroup_base.html" %}

{% block title %}Grupa {{ group.name }}{% endblock %}

{% block inner_content %}

<div class="well">
  <table class="table-condensed">
    <tr>
      <th>Napravljeno</th>
      <td>{{ group.data.date_created }} ({{ group.data.author|userlink }})</td>
    </tr>
    <tr>
      <th>Broj članova</th>
      <td>{{ group.data.member_count }}</td>
    </tr>
  </table>
  <br>
  {{ group.data.description.render }}<br><br><br>
  Korisnici: 
  {% for x in group.data.get_users %}
    {% if not forloop.first %}|{% endif %}
    {{ x|userlink }}
  {% empty %}
    <i>Prazno</i>
  {% endfor %}
</div>

<br><br><br><br>
<a href="/pm/new/{{ group.name }}/">Pošalji poruku</a>
<br><br>

{% endblock %}
