{% extends "base.html" %}

{% block title %}Grupa {{ group.name }}{% endblock %}

{% block content %}

<div style="text-align:center;font-size:24px;">{{ group.name }}</div>
<br><br>
{% if is_member %}<a href="/pm/group/{{ group.id }}/">Inbox</a><br><br>{% endif %}

<div class="well">
  <table class="table-condensed">
    <tr><th>Stvoreno</th><td>{{ group.data.date_created }} ({{ group.data.author|userlink }})</td></tr>
    <tr><th>Broj članova</th><td>{{ group.data.member_count }}</td></tr>
  </table>
  <br>
  {{ group.data.description.render }}<br><br><br>
  Korisnici: 
  {% for x in group.data.get_users %}
    {{ x|userlink }}
  {% empty %}
    <i>Prazno</i>
  {% endfor %}
</div>

<br><br><br><br>
<a href="/pm/new/{{ group.name }}/">Pošalji poruku</a>
<br><br>
{% if can_add_members %}
Dodaj nove članove:
<form action="/usergroup/{{ group.pk }}/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Dodaj</button>    
</form>
{% endif %}
{% endblock %}
