{% extends "base.html" %}

{% block title %}Popis grupa{% endblock %}

{% block content %}

<table width="60%" class="table-striped table-condensed" style="text-align: center;">
    <tr>
        <th width="30">#</th>
        <th>Ime</th>
        <th>Broj korisnika</th>
    </tr>
{% for g in groups %}
    {% if g.data.hidden %}
    <tr class="group_hidden">
    {% else %}
    <tr>
    {% endif %}
        <td>{{ g.id }}</td>
        <td>{{ g.data }}</td>
        <td>{{ g.data.member_count }}</td>
    </tr>
{% empty %}
    <tr><td colspan="3">Nema nikakvih grupa</td></tr>
{% endfor %}
</table>

<br><br>
<a href="/usergroup/new/" class="btn">Napravi novu grupu</a><br>

{% endblock %}
