{% load pagination_tags %}
{% load rating_tags %}
{% load solution_tags %}
{% load sorting_tags %}
{% load userprofile_tags %}
{% load i18n %}

{# Don't show if option not enabled or already defined #}
{% if is_status_filterable and not filter_by_status %}
  {% useroptions "solution_status_filter" %}
    {% useroption "" "Sva rješenja" default %}
    {% useroption "submitted" "Poslana" %}
    {% useroption "unrated" "Neocijenjena" %}
  {% enduseroptions %}
{% endif %}

{# filter queryset if filter_status is not None #}
{% filter_solutions_by_status solutions filter_by_status %}

{% autosort solutions 'date_created' 'date_created' %}
{% autopaginate solutions %}

{% if solutions %}
  {% cache_solution_info solutions %}

  <table width="100%" class="table-condensed sol-table" style="text-align: center;">
    <tr>
      <th colspan="6">{% trans "Solutions" %}</th>
    </tr>
    <tr>
      <th class="hidden-xs-phone" width="30">#</th>
      <th class="hidden-xs-phone">{% anchor 'date_created' _("Time") %}</th>
      <th>{% trans "Task" %}</th>
      <th>{% trans "User" %}</th>
      <th>{% trans "Solution" %}</th>
      <th>{% trans "Correctness" %}</th>
    </tr>
    {% for s in solutions %}
      {% check_solution_for_accessibility s s.content.short %}
      <tr style="{% solution_tr_bg_color_attr s forloop.counter %}">
        <td class="hidden-xs-phone">{{ s.id }}</td>
        <td class="hidden-xs-phone">{{ s.date_created|timesince }}</td>
        <td>{{ s.task.get_link }}</td>
        <td>{{ s.author|userlink }}</td>
        {% if s.is_submitted %}
          <td>
            {% if s.is_official %}
              <span class="label label-info">{% trans "Official" context "solution" %}</span>
            {% endif %}
            <a href="/solution/{{ s.id }}/" {{ obfuscation_title }}>
              {{ obfuscation_text }}
            </a>
          </td>
          <td style="width:70px;">
            {% rating_display_bool manager=s.correctness red_if_lt=SOLUTION_CORRECT_SCORE empty_if_no_votes=1 %}
          </td>
        {% else %}
          <td>
            {% if s.author == user %}
              <a href="/task/{{ s.task_id }}/submit/">
            {% endif %}
            {% if s.is_as_solved %}<i>{% trans "empty" %}</i>{% endif %}
            {% if s.is_todo %}<i>{% trans "to do" %}</i>{% endif %}
            {% if s.author == user %}
              </a>
            {% endif %}
          </td>
          <td style="width:80px;">&nbsp;</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  {% paginate %}
{% else %}
  <br>
  {% if empty_message %}{{ empty_message }}{% endif %}
  <br><br>
{% endif %}

{# Easiest implementation... #}
{% update_userprofile_evaluator_time %}
