{% load url from future %}
{% load compressed %}
{% load base_tags %}
{% load tags_tags %}
{% load i18n %}
<!DOCTYPE html>

<html>
  <head>
    <script>is_authenticated={{ user.is_authenticated|lower }};</script>
    <script type="text/javascript" src="{% url 'skoljka.base.views.cached_javascript_catalog' %}"></script>
    {% compressed_css 'style' %}
    {% compressed_js 'scripts' %}

    {# TODO: move to /favicon.ico. More a server configuration problem, but still... #}
    <link href="/static/images/favicon.ico" rel="shortcut icon">

    {% block header_list %} {% endblock %} {# manually put more head stuff here #}
    <title>{% block title %}Školjka - {% trans "Web archive of math problems" %}{% endblock %}</title>

    <meta name="content-language" content="{{ LANGUAGE_CODE }}">
    <meta name="description" content="{% trans "Web archive of math problems, including previous state and regional competitions and International and Middle-european math olympiads. Školjka can help any student training for math competitions." %}">
    <meta name="viewport" content="width=device-width">
    {% language_preference_style %}
  </head>
<body>
{% settings_constant EXTRA_HEADER_TOP %}
<div id="header" class="row">
  <h1 id="sitename">
    <a href="/">
      <img src="/static/images/shell32.png" alt=""> Školjka
    </a>
  </h1>

  <div id="header-menu">
    <div id="hbar-sel-folder">
      {% if user.profile.selected_folder %}
        {% trans "Map editing" %}
        <a href="/folder/{{ user.profile.selected_folder.id }}/">
          {{ user.profile.selected_folder.name }}
        </a>
      {% endif %}
    </div>
    <div id="hbar-search" class="hidden-phone">
      {% include 'inc_search_inline.html' %}
    </div>
    {% if not user.is_authenticated %}
      <form action="/accounts/login/" method="POST" id="hbar-login"
            class="form-inline hidden-xs-phone">
        {% csrf_token %}
        {# No whitespace between inline-block elements, CSS used instead. #}
        <input name="username" type="text"
            class="input-small" placeholder="{% trans "Username" %}" accesskey="l"
            {% if homepage %} autofocus{% endif %}
        ><input name="password" type="password"
          class="input-small" placeholder="{% trans "Password" %}"
        ><input type="submit" class="btn" value="{% trans "Sign in" %}">
      </form>
    {% endif %}
    <button id="hbar-theme">
      <svg height="24px" width="24px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve" style="vertical-align: middle;">
        <style type="text/css">
          .st0{fill:var(--theme-paintbrush-icon-color);}
        </style>
        <g>
          <path class="st0" d="M141.176,324.641l25.323,17.833c7.788,5.492,17.501,7.537,26.85,5.67c9.35-1.877,17.518-7.514,22.597-15.569
          l22.985-36.556l-78.377-55.222l-26.681,33.96c-5.887,7.489-8.443,17.081-7.076,26.511
          C128.188,310.69,133.388,319.158,141.176,324.641z"></path>
          <path class="st0" d="M384.289,64.9c9.527-15.14,5.524-35.06-9.083-45.355l-0.194-0.129c-14.615-10.296-34.728-7.344-45.776,6.705
          L170.041,228.722l77.067,54.292L384.289,64.9z"></path>
          <path class="st0" d="M504.745,445.939c-4.011,0-7.254,3.251-7.254,7.262s3.243,7.246,7.254,7.246c4.012,0,7.255-3.235,7.255-7.246
          S508.757,445.939,504.745,445.939z"></path>
          <path class="st0" d="M457.425,432.594c3.914,0,7.092-3.179,7.092-7.101c0-3.898-3.178-7.077-7.092-7.077
          c-3.915,0-7.093,3.178-7.093,7.077C450.332,429.415,453.51,432.594,457.425,432.594z"></path>
          <path class="st0" d="M164.493,440.972c14.671-20.817,16.951-48.064,5.969-71.089l-0.462-0.97l-54.898-38.675l-1.059-0.105
          c-25.379-2.596-50.256,8.726-64.928,29.552c-13.91,19.742-18.965,41.288-23.858,62.113c-3.333,14.218-6.778,28.929-13.037,43.05
          c-5.168,11.695-8.63,15.868-8.654,15.884L0,484.759l4.852,2.346c22.613,10.902,53.152,12.406,83.779,4.156
          C120.812,482.584,147.76,464.717,164.493,440.972z M136.146,446.504c-0.849,0.567-1.714,1.19-2.629,1.892
          c-10.06,7.91-23.17,4.505-15.188-11.54c7.966-16.054-6.09-21.198-17.502-10.652c-14.323,13.232-21.044,2.669-18.391-4.634
          c2.636-7.304,12.155-17.267,4.189-23.704c-4.788-3.882-10.967,1.795-20.833,9.486c-5.645,4.392-18.666,2.968-13.393-16.563
          c2.863-7.271,6.389-14.275,11.104-20.971c10.24-14.542,27.603-23.083,45.404-22.403l47.021,33.11
          c6.632,16.548,4.416,35.764-5.823,50.305C146.167,436.411,141.476,441.676,136.146,446.504z"></path>
          <path class="st0" d="M471.764,441.992H339.549c-0.227-0.477-0.38-1.003-0.38-1.57c0-0.913,0.372-1.73,0.93-2.378h81.531
          c5.848,0,10.578-4.723,10.578-10.578c0-5.84-4.73-10.571-10.578-10.571H197.765c0.308,15.399-4.116,30.79-13.271,43.786
          c-11.218,15.925-27.214,28.913-46.196,38.036h303.802c6.551,0,11.864-5.314,11.864-11.872c0-6.559-5.314-11.873-11.864-11.873
          h-55.392c-3.299,0-5.977-2.668-5.977-5.968c0-1.246,0.47-2.313,1.1-3.267h89.934c6.559,0,11.881-5.305,11.881-11.873
          C483.645,447.306,478.323,441.992,471.764,441.992z"></path>
        </g>
      </svg>
    </button>
    {% include 'inc_header_languages.html' %}
    <a id="hbar-collapse-sidebar" class="collapse-button btn"
        data-target="sidebar" href="#">
    </a>
  </div>
</div>

<div id="site-container">
  <div id="sidebar"
      {% if dont_hide_sidebar %}style="display: block;"{% endif %}>
    {% if user.is_authenticated %}
      <div id="nav-hello-user">{% trans "Hello" %}, {{ user|userlink:"first_name" }}!</div>
    {% endif %}
    <ul class="nav nav-list">
      {% settings_constant EXTRA_MENU_TOP %}
      <li class="nav-header">{% trans "Menu" %}</li>
      <li><a href="/"><i class="icon-home"></i>{% trans "Home" %}</a></li>

      <li><a href="/folder/"><i class="icon-folder-close"></i>{% trans "Task archive" %}</a></li>
      {% block menu_folder_container %}
        {{ folder_tree|safe }}
      {% endblock %}
      <li><a href="/lectures/"><i class="icon-book"></i>{% trans "Lectures" %}</a></li>
      <li><a href="/competition/"><i class="icon-flag"></i>{% trans "Competitions" %}</a></li>
      <li><a href="/course/"><i class="icon-flag"></i>{% trans "Courses" %}</a></li>
      <li><br></li>
      {% if user.is_authenticated %}
        <li><a href="/pm/"><i class="icon-inbox"></i>Inbox
          {% if user.get_profile.unread_pms %}
            <span class="unread_pms_count">({{ user.get_profile.unread_pms }})</span>
          {% endif %}
        </a></li>
        <li><br></li>
        <li><a href="/memberlist/"><i class="icon-user"></i>{% trans "Users" %}</a></li>
        {# <li><a href="/ranks/"><i class="icon-list"></i>{% trans "Ranking" %}</a></li> #}
        <li><a href="/usergroup/"><i class="icon-glass"></i>{% trans "Groups" %}</a></li>
      {% else %}
        <li><a href="/accounts/register/" class="register"><i class="icon-arrow-right"></i>{% trans "Registration" %}</a></li>
        <li><a href="/accounts/login/"><i class="icon-arrow-right"></i>{% trans "Sign in" %}</a></li>
      {% endif %}
      <li><br></li>
      <li><a href="/task/"><i class="icon-th-list"></i>{% trans "All tasks" %}</a></li>
      <li><a href="/solution/"><i class="icon-pencil"></i>{% trans "Solutions" %} {{ unrated_solutions_html }}</a></li>
      <li><a href="/search/"><i class="icon-search"></i>{% trans "Search" context "menu" %}</a></li>
      <li><br></li>
      {% if user.is_authenticated %}
        <li><a href="/accounts/logout/"><i class="icon-off"></i>{% trans "Sign out" %}</a></li>
        <li><br></li>
      {% endif %}
      <li><br></li>
      <li><a href="/help/"><i class="icon-question-sign"></i> {% trans "Help" %}</a></li>
      <li><a href="/about/"><i class="icon-flag"></i> {% trans "About us" %}</a></li>
      {% if user.is_staff %}
        <li><br></li>
        <li class="nav-header">Admin</li>
        <li><a href="/admin/"><i class="icon-lock"></i> Admin</a></li>
      {% endif %}
    </ul>
  </div>

  <div id="content">
      {% block content %}
      {% endblock content %}
  </div>
</div>

<div id="footer">
  <span class="footer">Školjka {% settings_constant VERSION_FOOTER %} 2012-2024</span>
  <a class="footer" href="/about/">{% trans "About Us" %}</a>
  <a class="footer" href="/tou/" target="_blank">{% trans "Terms of Use" %}</a>
  <a class="footer" href="https://github.com/ikicic/skoljka" target="_blank">GitHub</a>
</div>

<script src="{% tags_autocomplete_js_src %}"></script>
</body>
</html>
