{% extends "base.html" %}

{% block content %}

{% load activity_tags %}
{% load base_tags %}
{% load folder_tags %}
{% load task_tags %}

{% load i18n %}

{% show_news 'outdiv' 'News' %}

<div class="outdiv">
  <h3>{% trans "Selected competitions" %}</h3>
  {% folder_inline_year_shortcuts folder_shortcut_desc split=3 %}
</div>

{% show_featured_lectures %}

{# TODO: DRY, napraviti tag ili nesto, ovo se ponavlja #}

{% if recommend %}
  <h2>{% trans "Recommendations" %}</h2>
  <div class="row-fluid">
    {% for task in recommend %}
      {% cycle '<div class="row-fluid">' '' %}
      {% task_small_box task 'span6' '' %}
      {% cycle '' '</div>' %}
    {% endfor %}
  </div>
{% endif %}

{% if todo %}
  <h2>{% trans "To do list" %}</h2>
  <div class="row-fluid">
    {% for task in todo %}
      {% cycle '<div class="row-fluid">' '' %}
      {% task_small_box task 'span6' '' %}
      {% cycle '' '</div>' %}
    {% endfor %}
  </div>
{% endif %}

{% if recent_tasks %}
  <h2>{% trans "Recently added tasks" %}</h2>
  <div class="row-fluid">
    {% for x in recent_tasks %}
      {% task_small_box x 'span6' '' 'timesince' %}
    {% endfor %}
  </div>
{% endif %}

<br><br><br>
<h3>{% trans "Recent activities" %}</h3>
{% activity_list user %}

{% endblock %}
