{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% load activity_tags %}
{% load base_tags %}
{% load folder_tags %}
{% load task_tags %}

{% load i18n %}

<div class="outdiv">
  <div id="homepage-registration" class="hidden-xs-phone">
    <h3>{% trans "Registration" %}</h3>
    {% registration_form %}
  </div>
  <div id="homepage-auth-xs-phone" class="visible-xs-phone">
    <a class="homepage-auth" href="{% url 'django.contrib.auth.views.login' %}">
      {% trans "Sign in" %}
    </a>
    <a class="homepage-auth" href="{% url 'registration_register' %}">
      {% trans "Registration" %}
    </a>
  </div>

  <h3>{% trans "What is Školjka?" %}</h3>
  <p class="homepage-info">
    {% blocktrans %}Školjka is a web archive of math problems, a tool intended
    for primary and high school students training for math contests. It
    contains thousands of problems from various math contests in recent two
    decades.{% endblocktrans %}
  </p>

  <h3>{% trans "Why Školjka?" %}</h3>
  <p class="homepage-info">
    {% blocktrans %}Školjka supports searching by categories and difficulty,
    allowing students to quickly find the exact problems they are interested
    in. Likewise, Školjka can be helpful to mentors and teachers for preparing
    lectures.{% endblocktrans %}
  </p>

  <h3>{% trans "Selected competitions" %}</h3>
  {% folder_inline_year_shortcuts folder_shortcut_desc %}
</div>

{% show_news 'outdiv' 'News' %}

{% show_featured_lectures %}

<div style="padding: 0 0px;">
  {% if recent_tasks %}
    <h2>{% trans "Recently added tasks" %}</h2>
    <div class="row-fluid">
      {% for x in recent_tasks %}
        {% task_small_box x 'span6' '' 'timesince' %}
      {% endfor %}
    </div>
  {% endif %}

  <br><br><br>
  <h3>{% trans "Recent activities" %}:</h3>
  {% activity_list user %}
</div>

{% endblock %}
