.folder-ab-container {
  float: right;
  display: table;
}

.folder-ab-tag-list {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 0 4px 4px 0;
}

.folder-task-position {
  width: 30px;
  margin: 0px;
  padding: 0 4px;
}

.nav-folder, .nav-folder-hidden {
  line-height: 13px;
  padding-left: -5px;
  list-style-position: inside;
}

.nav-folder {
  list-style-type: disc;
}

.nav-folder-hidden {
  list-style-type: circle;
}
